/*--------------------------- Color variations ----------------------*/
/* Medium Layout: 1280px */
/* Tablet Layout: 768px */
/* Mobile Layout: 320px */
/* Wide Mobile Layout: 480px */
/* =================================== */
/*  Basic Style 
/* =================================== */
::-moz-selection {
  /* Code for Firefox */
  background-color: #8490ff;
  color: #fff;
}

::selection {
  background-color: #34b47d;
  color: #fff;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #777777;
  font-weight: 300;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #777777;
  opacity: 1;
  font-weight: 300;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #777777;
  opacity: 1;
  font-weight: 300;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #777777;
  font-weight: 300;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #777777;
  font-weight: 300;
}

body {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
  position: relative;
  background: #34b47d;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

select {
  display: block;
}

figure {
  margin: 0;
}

a {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

iframe {
  border: 0;
}

a, a:focus, a:hover {
  text-decoration: none;
  outline: 0;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
  text-decoration: none;
  outline: 0;
}

.card-panel {
  margin: 0;
  padding: 60px;
}

/**
 *  Typography
 *
 **/
.btn i, .btn-large i, .btn-floating i, .btn-large i, .btn-flat i {
  font-size: 1em;
  line-height: inherit;
}

.gray-bg {
  background: #f9f9ff;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  color: #222222;
  line-height: 1.2em !important;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 600;
}

.h1, .h2, .h3,
.h4, .h5, .h6 {
  margin-bottom: 0;
  margin-top: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #222222;
}

h1, .h1 {
  font-size: 36px;
}

h2, .h2 {
  font-size: 30px;
}

h3, .h3 {
  font-size: 24px;
}

h4, .h4 {
  font-size: 18px;
}

h5, .h5 {
  font-size: 16px;
}

h6, .h6 {
  font-size: 14px;
  color: #222222;
}

td, th {
  border-radius: 0px;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clear::before, .clear::after {
  content: " ";
  display: table;
}

.clear::after {
  clear: both;
}

.fz-11 {
  font-size: 11px;
}

.fz-12 {
  font-size: 12px;
}

.fz-13 {
  font-size: 13px;
}

.fz-14 {
  font-size: 14px;
}

.fz-15 {
  font-size: 15px;
}

.fz-16 {
  font-size: 16px;
}

.fz-18 {
  font-size: 18px;
}

.fz-30 {
  font-size: 30px;
}

.fz-48 {
  font-size: 48px !important;
}

.fw100 {
  font-weight: 100;
}

.fw300 {
  font-weight: 300;
}

.fw400 {
  font-weight: 400 !important;
}

.fw500 {
  font-weight: 500;
}

.f700 {
  font-weight: 700;
}

.fsi {
  font-style: italic;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-120 {
  margin-top: 120px;
}

.mt-150 {
  margin-top: 150px;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-50 {
  margin-left: 50px;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mr-15 {
  margin-right: 15px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-50 {
  margin-right: 50px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-0-i {
  margin-bottom: 0px !important;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-100 {
  margin-bottom: 100px;
}

.pt-0 {
  padding-top: 0px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-120 {
  padding-top: 120px;
}

.pt-150 {
  padding-top: 150px;
}

.pt-170 {
  padding-top: 170px;
}

.pb-0 {
  padding-bottom: 0px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-120 {
  padding-bottom: 120px;
}

.pb-150 {
  padding-bottom: 150px;
}

.pr-30 {
  padding-right: 30px;
}

.pl-30 {
  padding-left: 30px;
}

.pl-90 {
  padding-left: 90px;
}

.p-40 {
  padding: 40px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-italic {
  font-style: italic;
}

.text-white {
  color: #fff;
}

.transition {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.section-full {
  padding: 100px 0;
}

.section-half {
  padding: 75px 0;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-rigth {
  text-align: right;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.inline-flex {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.flex-grow {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.flex-wrap {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
}

.flex-middle {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}

.flex-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}

.flex-top {
  -webkit-align-self: flex-start;
  -moz-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.flex-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}

.flex-bottom {
  -webkit-align-self: flex-end;
  -moz-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}

.space-around {
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around;
}

.flex-column {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-cell {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.display-table {
  display: table;
}

.light {
  color: #fff;
}

.dark {
  color: #000;
}

.relative {
  position: relative;
}

.overflow-hidden {
  overflow: hidden;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.modal-dialog {
    max-width: 30em;
    margin: 2em auto;
}
.container.fullwidth {
  width: 100%;
}

.container.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.no-padding {
  padding: 0;
}

.section-bg {
  background: #f9fafc;
}

@media (max-width: 767px) {
.no-flex-xs {
   display: block !important;
}
.main {
  width: 100%;
  float: left;
  margin-top: 4em;
}
.login-main {
    float: left;
    width: 100%;
}
.error-body h1 {
    font-size: 146px !important;
}
.login-main h2 {
    float: left;
}
.modal-dialog {
    max-width: 23em;
}
.language-change .dropdown-menu {
  right: 0px !important;
}  
.flow {
  width: 100% !important;
}
.modal-dialog {
    max-width: 80%;
}
.video iframe {
    width: 100%;
    height: auto;
}
.btn-show a:last-child {
    margin-bottom: 30px;
}
.login-main h2 {
    font-size: 22px;
}
.video-head {
  font-size: 26px !important;
}
.submit-kid .types {
    width: 100%;
}
.store .types {
    width: 60% !important;
}
.review-type .types {
    width: 70%;
}
.sec-manage .text-regard textarea {
    width: 100% !important;
    float: left;
    height: 330px !important;
    padding:10px;
}
.login-main .modal-body {
    height: 60vh !important;
}

.cont-sit {
    width: 90% !important;
}
.login-modal {
    width: 40px;
    /* height: 40px; */
    padding: 0px 4px !important;
    margin-top: -5px;
}
.contract-main .login-modal {
    padding: 3px 4px !important;
}
.contact-flow {
    padding: 0px !important;
    vertical-align: middle;
    position: relative;
    float: left;
    text-overflow: ellipsis;
}
.contact-flow a {
    margin-bottom: 15px;
    display: inline-block;
}
.contact-flow span {
    width: 100% !important;
}
.chinese-language .contract-main .login-main h2 {
    font-size: 15px !important;
}
.chinese-language .contract-main .login-main .btn {
    width: 28px !important;
    height: 28px !important;
}

      
}


@media screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation : portrait){
  .modal-dialog {
    max-width: 80% !important;
}
.modal-dialog {
    margin: 2em auto !important;
}
}
@media screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation : landscape){
  .modal-dialog {
    max-width: 80% !important;
}
.flow {
  width:100% !important;
}
}

@media screen and (min-device-width: 411px) and (max-device-width: 823px) and (orientation : landscape){
  .modal-dialog {
    max-width: 79% !important;
    margin: 2em auto;
  }
}
@media screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : portrait){
  .modal-dialog {
    margin: 2em auto !important;
    max-width: 84% !important;
}
}
@media screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : landscape){
  .modal-dialog {
    max-width: 64% !important;
    margin: 2em auto;
  }
}
@media screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait){
  .modal-dialog {
    margin: 2em auto;
 }
}
@media screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : landscape){
  .modal-dialog {
    max-width: 70% !important;
    margin: 2em auto;
}
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation : portrait){
.modal-dialog {
    max-width: 84% !important;
}
}


@media only screen 
and (max-width : 320px) {
   .increase .value-button {
    width:75px !important;
   }
     .manage-btn .btn {
      font-size: 16px;
  }
  .modal-dialog {
      margin: 2em auto;
  }
  .light-type .accord-right .types .no-review {
    width: 81%;
    float: left;
    font-size: 17px;
    line-height: 29px;
}
.rev > .current-sec .types {
    width: 69% !important;
}
  .login-main h2 {
  font-size: 20px;
  }
  .applicant p {
  font-weight: 600;
  font-size: 16px;
  }
  .applicant span {
  margin-right: 13px;
  }
.chinese-language .contract-main .login-main h2 {
          font-size: 12px !important;
      }
      .chinese-language .contract-main .login-main .btn {

    width: 28px !important;
    height: 28px !important;

}
}

@media only screen and (min-width : 320px) and (max-width: 568px) and (orientation : landscape) {
      .login-main .modal-body {
            height: 70vh !important;
        }
        .modal-dialog {
    max-width: 88% !important;
    margin: 2em auto;
}
  }

@media (min-width: 768px) and (max-width: 1024px) and (orientation : portrait){
.flow {
    width: 100% !important;
}
.main.contract-from {
    height: 100vh;
}
.modal-dialog {
    max-width: 47em;
  }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation : landscape){
  .flow {
    width: 100% !important;
}
.modal-dialog {
    max-width: 87%;
    margin: 2em auto;
}
}



/*@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : landscape){
	.modal-dialog {
    max-width: 64em !important;
}
}*/

/*     **/
.row.no-margin {
  margin-left: 0;
  margin-right: 0;
}

.sample-text-area {
  background: #fff;
  padding: 100px 0 70px 0;
}

.text-heading {
  margin-bottom: 30px;
  font-size: 24px;
}



h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5em;
}

.typography h1, .typography h2, .typography h3, .typography h4, .typography h5, .typography h6 {
  color: #777777;
}

.button-area {
  background: #fff;
}

.button-area .border-top-generic {
  padding: 70px 15px;
  border-top: 1px dotted #eee;
}

.button-group-area .genric-btn {
  margin-right: 10px;
  margin-top: 10px;
}

.button-group-area .genric-btn:last-child {
  margin-right: 0;
}

.genric-btn {
  display: inline-block;
  outline: none;
  line-height: 40px;
  padding: 0 30px;
  font-size: .8em;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.genric-btn:focus {
  outline: none;
}

.genric-btn.e-large {
  padding: 0 40px;
  line-height: 50px;
}

.genric-btn.large {
  line-height: 45px;
}

.genric-btn.medium {
  line-height: 30px;
}

.genric-btn.small {
  line-height: 25px;
}

.genric-btn.radius {
  border-radius: 3px;
}

.genric-btn.circle {
  border-radius: 20px;
}

.genric-btn.arrow {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.genric-btn.arrow span {
  margin-left: 10px;
}

.genric-btn.default {
  color: #222222;
  background: #f9f9ff;
  border: 1px solid transparent;
}

.genric-btn.default:hover {
  border: 1px solid #f9f9ff;
  background: #fff;
}

.genric-btn.default-border {
  border: 1px solid #f9f9ff;
  background: #fff;
}

.genric-btn.default-border:hover {
  color: #222222;
  background: #f9f9ff;
  border: 1px solid transparent;
}

.genric-btn.primary {
  color: #fff;
  background: #8490ff;
  border: 1px solid transparent;
}

.genric-btn.primary:hover {
  color: #8490ff;
  border: 1px solid #8490ff;
  background: #fff;
}

.genric-btn.primary-border {
  color: #8490ff;
  border: 1px solid #8490ff;
  background: #fff;
}

.genric-btn.primary-border:hover {
  color: #fff;
  background: #8490ff;
  border: 1px solid transparent;
}

.genric-btn.success {
  color: #fff;
  background: #4cd3e3;
  border: 1px solid transparent;
}

.genric-btn.success:hover {
  color: #4cd3e3;
  border: 1px solid #4cd3e3;
  background: #fff;
}

.genric-btn.success-border {
  color: #4cd3e3;
  border: 1px solid #4cd3e3;
  background: #fff;
}

.genric-btn.success-border:hover {
  color: #fff;
  background: #4cd3e3;
  border: 1px solid transparent;
}

.genric-btn.info {
  color: #fff;
  background: #38a4ff;
  border: 1px solid transparent;
}

.genric-btn.info:hover {
  color: #38a4ff;
  border: 1px solid #38a4ff;
  background: #fff;
}

.genric-btn.info-border {
  color: #38a4ff;
  border: 1px solid #38a4ff;
  background: #fff;
}

.genric-btn.info-border:hover {
  color: #fff;
  background: #38a4ff;
  border: 1px solid transparent;
}

.genric-btn.warning {
  color: #fff;
  background: #f4e700;
  border: 1px solid transparent;
}

.genric-btn.warning:hover {
  color: #f4e700;
  border: 1px solid #f4e700;
  background: #fff;
}

.genric-btn.warning-border {
  color: #f4e700;
  border: 1px solid #f4e700;
  background: #fff;
}

.genric-btn.warning-border:hover {
  color: #fff;
  background: #f4e700;
  border: 1px solid transparent;
}

.genric-btn.danger {
  color: #fff;
  background: #f44a40;
  border: 1px solid transparent;
}

.genric-btn.danger:hover {
  color: #f44a40;
  border: 1px solid #f44a40;
  background: #fff;
}

.genric-btn.danger-border {
  color: #f44a40;
  border: 1px solid #f44a40;
  background: #fff;
}

.genric-btn.danger-border:hover {
  color: #fff;
  background: #f44a40;
  border: 1px solid transparent;
}

.genric-btn.link {
  color: #222222;
  background: #f9f9ff;
  text-decoration: underline;
  border: 1px solid transparent;
}

.genric-btn.link:hover {
  color: #222222;
  border: 1px solid #f9f9ff;
  background: #fff;
}

.genric-btn.link-border {
  color: #222222;
  border: 1px solid #f9f9ff;
  background: #fff;
  text-decoration: underline;
}

.genric-btn.link-border:hover {
  color: #222222;
  background: #f9f9ff;
  border: 1px solid transparent;
}

.genric-btn.disable {
  color: #222222, 0.3;
  background: #f9f9ff;
  border: 1px solid transparent;
  cursor: not-allowed;
}

.generic-blockquote {
  padding: 30px 50px 30px 30px;
  background: #f9f9ff;
  border-left: 2px solid #8490ff;
}

.progress-table-wrap {
  overflow-x: scroll;
}

.progress-table {
  background: #f9f9ff;
  padding: 15px 0px 30px 0px;
  min-width: 800px;
}

.progress-table .serial {
  width: 11.83%;
  padding-left: 30px;
}

.progress-table .country {
  width: 28.07%;
}

.progress-table .visit {
  width: 19.74%;
}

.progress-table .percentage {
  width: 40.36%;
  padding-right: 50px;
}

.progress-table .table-head {
  display: flex;
}

.progress-table .table-head .serial, .progress-table .table-head .country, .progress-table .table-head .visit, .progress-table .table-head .percentage {
  color: #222222;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 500;
}

.progress-table .table-row {
  padding: 15px 0;
  border-top: 1px solid #edf3fd;
  display: flex;
}

.progress-table .table-row .serial, .progress-table .table-row .country, .progress-table .table-row .visit, .progress-table .table-row .percentage {
  display: flex;
  align-items: center;
}

.progress-table .table-row .country img {
  margin-right: 15px;
}

.progress-table .table-row .percentage .progress {
  width: 80%;
  border-radius: 0px;
  background: transparent;
}

.progress-table .table-row .percentage .progress .progress-bar {
  height: 5px;
  line-height: 5px;
}

.progress-table .table-row .percentage .progress .progress-bar.color-1 {
  background-color: #6382e6;
}

.progress-table .table-row .percentage .progress .progress-bar.color-2 {
  background-color: #e66686;
}

.progress-table .table-row .percentage .progress .progress-bar.color-3 {
  background-color: #f09359;
}

.progress-table .table-row .percentage .progress .progress-bar.color-4 {
  background-color: #73fbaf;
}

.progress-table .table-row .percentage .progress .progress-bar.color-5 {
  background-color: #73fbaf;
}

.progress-table .table-row .percentage .progress .progress-bar.color-6 {
  background-color: #6382e6;
}

.progress-table .table-row .percentage .progress .progress-bar.color-7 {
  background-color: #a367e7;
}

.progress-table .table-row .percentage .progress .progress-bar.color-8 {
  background-color: #e66686;
}

.single-gallery-image {
  margin-top: 30px;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
  height: 200px;
}

.list-style {
  width: 14px;
  height: 14px;
}

.unordered-list li {
  position: relative;
  padding-left: 30px;
  line-height: 1.82em !important;
}

.unordered-list li:before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border: 3px solid #8490ff;
  background: #fff;
  top: 4px;
  left: 0;
  border-radius: 50%;
}

.ordered-list {
  margin-left: 30px;
}

.ordered-list li {
  list-style-type: decimal-leading-zero;
  color: #8490ff;
  font-weight: 500;
  line-height: 1.82em !important;
}

.ordered-list li span {
  font-weight: 300;
  color: #777777;
}

.ordered-list-alpha li {
  margin-left: 30px;
  list-style-type: lower-alpha;
  color: #8490ff;
  font-weight: 500;
  line-height: 1.82em !important;
}

.ordered-list-alpha li span {
  font-weight: 300;
  color: #777777;
}

.ordered-list-roman li {
  margin-left: 30px;
  list-style-type: lower-roman;
  color: #8490ff;
  font-weight: 500;
  line-height: 1.82em !important;
}

.ordered-list-roman li span {
  font-weight: 300;
  color: #777777;
}

.single-input {
  display: block;
  width: 100%;
  line-height: 40px;
  border: none;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px;
}

.single-input:focus {
  outline: none;
}

.input-group-icon {
  position: relative;
}

.input-group-icon .icon {
  position: absolute;
  left: 20px;
  top: 0;
  line-height: 40px;
  z-index: 3;
}

.input-group-icon .icon i {
  color: #797979;
}

.input-group-icon .single-input {
  padding-left: 45px;
}

.single-textarea {
  display: block;
  width: 100%;
  line-height: 40px;
  border: none;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px;
  height: 100px;
  resize: none;
}

.single-textarea:focus {
  outline: none;
}

.single-input-primary {
  display: block;
  width: 100%;
  line-height: 40px;
  border: 1px solid transparent;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px;
}

.single-input-primary:focus {
  outline: none;
  border: 1px solid #8490ff;
}

.single-input-accent {
  display: block;
  width: 100%;
  line-height: 40px;
  border: 1px solid transparent;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px;
}

.single-input-accent:focus {
  outline: none;
  border: 1px solid #eb6b55;
}

.single-input-secondary {
  display: block;
  width: 100%;
  line-height: 40px;
  border: 1px solid transparent;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px;
}

.single-input-secondary:focus {
  outline: none;
  border: 1px solid #f09359;
}

.default-switch {
  width: 35px;
  height: 17px;
  border-radius: 8.5px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer;
}

.default-switch input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.default-switch input + label {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #8490ff;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.default-switch input:checked + label {
  left: 19px;
}

.primary-switch {
  width: 35px;
  height: 17px;
  border-radius: 8.5px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer;
}

.primary-switch input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.primary-switch input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.primary-switch input + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 8.5px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.primary-switch input + label:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.primary-switch input:checked + label:after {
  left: 19px;
}

.primary-switch input:checked + label:before {
  background: #8490ff;
}

.confirm-switch {
  width: 35px;
  height: 17px;
  border-radius: 8.5px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer;
}

.confirm-switch input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.confirm-switch input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.confirm-switch input + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 8.5px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

.confirm-switch input + label:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.confirm-switch input:checked + label:after {
  left: 19px;
}

.confirm-switch input:checked + label:before {
  background: #4cd3e3;
}

.primary-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer;
}

.primary-checkbox input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.primary-checkbox input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #f1f1f1;
}

.primary-checkbox input:checked + label {
  background: url("/img/elements/primary-check.png") no-repeat center center/cover;
  border: none;
}

.confirm-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer;
}

.confirm-checkbox input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.confirm-checkbox input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #f1f1f1;
}

.confirm-checkbox input:checked + label {
  background: url("/img/elements/success-check.png") no-repeat center center/cover;
  border: none;
}

.disabled-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer;
}

.disabled-checkbox input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.disabled-checkbox input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #f1f1f1;
}

.disabled-checkbox input:disabled {
  cursor: not-allowed;
  z-index: 3;
}

.disabled-checkbox input:checked + label {
  background: url("/img/elements/disabled-check.png") no-repeat center center/cover;
  border: none;
}

.primary-radio {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer;
}

.primary-radio input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.primary-radio input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #f1f1f1;
}

.primary-radio input:checked + label {
  background: url("/img/elements/primary-radio.png") no-repeat center center/cover;
  border: none;
}

.confirm-radio {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer;
}

.confirm-radio input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.confirm-radio input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #f1f1f1;
}

.confirm-radio input:checked + label {
  background: url("/img/elements/success-radio.png") no-repeat center center/cover;
  border: none;
}

.disabled-radio {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer;
}

.disabled-radio input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.disabled-radio input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #f1f1f1;
}

.disabled-radio input:disabled {
  cursor: not-allowed;
  z-index: 3;
}

.disabled-radio input:checked + label {
  background: url("/img/elements/disabled-radio.png") no-repeat center center/cover;
  border: none;
}

.default-select {
  height: 40px;
}

.default-select .nice-select {
  border: none;
  border-radius: 0px;
  height: 40px;
  background: #f9f9ff;
  padding-left: 20px;
  padding-right: 40px;
}

.default-select .nice-select .list {
  margin-top: 0;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  width: 100%;
  padding: 10px 0 10px 0px;
}

.default-select .nice-select .list .option {
  font-weight: 300;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  line-height: 28px;
  min-height: 28px;
  font-size: 12px;
  padding-left: 20px;
}

.default-select .nice-select .list .option.selected {
  color: #8490ff;
  background: transparent;
}

.default-select .nice-select .list .option:hover {
  color: #8490ff;
  background: transparent;
}

.default-select .current {
  margin-right: 50px;
  font-weight: 300;
}

.default-select .nice-select::after {
  right: 20px;
}

.form-select {
  height: 40px;
  width: 100%;
}

.form-select .nice-select {
  border: none;
  border-radius: 0px;
  height: 40px;
  background: #f9f9ff;
  padding-left: 45px;
  padding-right: 40px;
  width: 100%;
}

.form-select .nice-select .list {
  margin-top: 0;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  width: 100%;
  padding: 10px 0 10px 0px;
}

.form-select .nice-select .list .option {
  font-weight: 300;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  line-height: 28px;
  min-height: 28px;
  font-size: 12px;
  padding-left: 45px;
}

.form-select .nice-select .list .option.selected {
  color: #8490ff;
  background: transparent;
}

.form-select .nice-select .list .option:hover {
  color: #8490ff;
  background: transparent;
}

.form-select .current {
  margin-right: 50px;
  font-weight: 300;
}

.form-select .nice-select::after {
  right: 20px;
}

@media (max-width: 992px) {
  .navbar-nav {
    height: auto;
    max-height: 400px;
    overflow-x: hidden;
  }
}

.default-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}

.menu-bar {
  cursor: pointer;
}

.menu-bar span {
  color: #000;
  font-size: 24px;
}

.main-menubar {
  display: none !important;
}

@media (max-width: 991px) {
  .main-menubar {
    display: block !important;
  }
}

.navbar-nav a {
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  padding: 20px;
  letter-spacing: 1px;
}

.navbar-nav a:hover {
  color: #fff;
}

@media (max-width: 992px) {
  .navbar-nav {
    margin-top: 10px;
  }
  .navbar-nav a {
    padding: 0;
  }
  .navbar-nav li {
    padding: 15px 0;
  }
}

.section-gap {
  padding: 120px 0;
}

.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  margin-bottom: 20px;
}

.section-title p {
  font-size: 16px;
  margin-bottom: 0;
}

@media (max-width: 991px) {
  .section-title p br {
    display: none;
  }
}

.p1-gradient-bg, .primary-btn, .primary-btn2:hover, .header-btn, .donut-widget[data-chart-instance="1"] .donut-bite[data-segment-index="0"].large::after, .donut-widget[data-chart-instance="2"] .donut-bite[data-segment-index="0"].large::after, .donut-widget[data-chart-instance="3"] .donut-bite[data-segment-index="0"].large::after, .testimonial-area .overlay-bg, .footer-social a:hover, .single-footer-widget .bb-btn, .generic-banner {
  background-image: -moz-linear-gradient(0deg, #908ced 0%, #b56fe8 100%);
  background-image: -webkit-linear-gradient(0deg, #908ced 0%, #b56fe8 100%);
  background-image: -ms-linear-gradient(0deg, #908ced 0%, #b56fe8 100%);
}

.p1-gradient-color, .sigle-service:hover .lnr, .single-blog h4:hover {
  background: -moz-linear-gradient(0deg, #908ced 0%, #b56fe8 100%);
  background: -webkit-linear-gradient(0deg, #908ced 0%, #b56fe8 100%);
  background: -ms-linear-gradient(0deg, #908ced 0%, #b56fe8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.primary-btn {
  line-height: 42px;
  padding-left: 30px;
  padding-right: 60px;
  border-radius: 25px;
  border: none;
  color: #fff;
  display: inline-block;
  font-weight: 500;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
}

.primary-btn:focus {
  outline: none;
}

.primary-btn span {
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  right: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.primary-btn:hover {
  color: #fff;
}

.primary-btn:hover span {
  color: #fff;
  right: 20px;
}

.primary-btn.white {
  border: 1px solid #fff;
  color: #fff;
}

.primary-btn.white span {
  color: #fff;
}

.primary-btn.white:hover {
  background: #fff;
  color: #8490ff;
}

.primary-btn.white:hover span {
  color: #8490ff;
}

.primary-btn2 {
  color: #000;
  font-weight: 600;
  border: 1px solid #f4f4f4;
  padding: 8px 35px;
  border-radius: 20px;
}

.primary-btn2:hover {
  color: #fff;
}

.pbtn-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.default-header {
  background-color: #5adaa3;
  width: 100% !important;
  box-shadow: -21.213px 2.213px 30px 0px rgba(158, 158, 158, 0.3);
}

.sticky-wrapper {
  height: 48px !important;
}

.dropdown-item {
  font-size: 14px;
  width: auto !important;
  text-align: left;
}

@media (max-width: 767px) {
  .dropdown-item {
    text-align: left;
  }
}

@media (min-width: 768px) {
  /*.dropdown .dropdown-menu {
    display: block;
    opacity: 0;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
  }
}

.dropdown-menu {
  border-radius: 0;
  margin-top: 15px;
  border: none;
}

.dropdown-menu a {
  padding: 5px 15px;
}
*/


/*.dropdown-item:focus, .dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  background-color: transparent;
}*/
}

@media (max-width: 767px) {
  .banner-area .fullscreen {
    height: 700px !important;
  }
}

.banner-area .overlay {
  background: #000;
  opacity: .4;
}

@media (max-width: 991px) {
  .banner-content {
    text-align: center;
  }
}

.banner-content h1 {
  color: #fff;
  font-size: 72px;
  font-weight: 100;
  line-height: 1em;
  margin-bottom: 40px;
}

.banner-content h1 span {
  font-weight: 700;
}

@media (max-width: 991px) {
  .banner-content h1 {
    font-size: 36px;
  }
}

@media (max-width: 991px) {
  .banner-content h1 br {
    display: none;
  }
}

@media (max-width: 1199px) {
  .banner-content h1 {
    font-size: 45px;
  }
}

@media (max-width: 414px) {
  .banner-content h1 {
    font-size: 40px;
  }
}

.header-btn {
  border: 1px solid transparent;
  color: #fff;
}

.header-btn:hover {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
}

@media (max-width: 800px) {
  .service-area, .pb-150 {
    padding-bottom: 0px !important;
  }
}

.sigle-service .lnr {
  font-size: 35px;
  color: #777777;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.sigle-service h4 {
  margin-top: 40px;
  margin-bottom: 20px;
}

.sigle-service p {
  margin-bottom: 35px;
}

@media (max-width: 991px) {
  .sigle-service {
    margin-bottom: 60px;
  }
}

@media (max-width: 798px) {
  .sigle-service {
    text-align: center;
  }
}

.about-area {
  background: url("/img/about-bg.png") no-repeat center center;
  background-size: cover;
  background-position: center;
}

.about-left {
  color: #fff;
  padding-left: 20%;
}

.about-left h1 {
  color: #fff;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .about-left h1 br {
    display: none;
  }
}

@media (max-width: 1024px) and (min-width: 799px) {
  .about-left {
    margin-top: 30px !important;
  }
  .about-left h1 {
    font-size: 30px;
  }
}

.about-left p {
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .about-left p br {
    display: none;
  }
}

@media (max-width: 1280px) {
  .about-left {
    padding-left: 5%;
  }
}

@media (max-width: 800px) {
  .about-left {
    margin-top: 170px;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .about-left .buttons {
    display: inline-grid;
  }
  .about-left .buttons a {
    margin-bottom: 10px;
  }
}

@media (max-width: 800px) {
  .about-right img {
    display: block;
    margin-right: auto !important;
    margin-left: auto !important;
    width: 60%;
    padding-top: 80px;
  }
}

.about-bg {
  position: absolute;
  top: 26.8%;
  right: 4%;
  height: auto;
  width: auto;
}

.about-btn {
  color: #fff;
  border: 1px solid #fff;
  padding: 5px 30px;
  border-radius: 20px;
  margin-right: 5px;
  font-weight: 600;
}

.about-btn:hover {
  background-color: #fff;
  color: #000;
}

.active-works-carousel .item .thumb {
  background-position: center center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  height: 460px;
}

.active-works-carousel .item .caption {
  padding: 30px 40px;
}

.active-works-carousel .item .caption h6 {
  margin-bottom: 10px;
  color: #000;
}

.active-works-carousel .item .caption p {
  margin-bottom: 0;
}

.active-works-carousel .center .caption {
  display: block;
}

.active-works-carousel .owl-dots {
  margin-top: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  position: relative;
}

.active-works-carousel .owl-dots:after {
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 60%;
  height: 1px;
  background: #eeeeee;
  z-index: -1;
}

.active-works-carousel .owl-dots .owl-dot {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #eeeeee;
  margin: 0 50px;
}

@media (max-width: 767px) {
  .active-works-carousel .owl-dots .owl-dot {
    margin: 0 15px;
  }
}

.active-works-carousel .owl-dots .owl-dot.active {
  background: #8490ff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
}

.skill-area {
  background-color: #000;
}

.skill-left h1 {
  margin-top: 25px;
}

@media (max-width: 800px) {
  .skill-left {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .skill-left br {
    display: none;
  }
}

@media (max-width: 800px) {
  .skill-right {
    margin-top: 30px;
  }
}

.skill-right h4 {
  margin-top: 30px;
  color: #fff;
  font-weight: 600;
  text-align: center;
}

@media (max-width: 1024px) {
  .skill-right h4 {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .skill-right .single-skill {
    margin-bottom: 20px;
  }
}

.donut-widget[data-chart-instance="1"] .donut-bite[data-segment-index="1"]::before {
  background: #292929 !important;
}

.donut-widget[data-chart-instance="2"] .donut-bite[data-segment-index="1"]::before {
  background: #292929 !important;
}

.donut-widget[data-chart-instance="3"] .donut-bite[data-segment-index="1"]::before {
  background: #292929 !important;
}

.testimonial-area {
  background: url("/img/testimonial-bg.jpg") no-repeat center center;
  background-size: cover;
}

.testimonial-area .overlay-bg {
  opacity: .6;
}

.testimonial-area .owl-controls {
  position: absolute;
  left: 102%;
  top: 25%;
}

@media (max-width: 1024px) {
  .testimonial-area .owl-controls {
    position: relative;
    text-align: center;
    left: 0;
    top: 20px;
  }
  .testimonial-area .owl-controls .owl-prev, .testimonial-area .owl-controls .owl-next {
    display: inline-block;
  }
}

.testimonial-area .lnr-arrow-up, .testimonial-area .lnr-arrow-down {
  background-color: white;
  box-shadow: -14.142px 14.142px 20px 0px rgba(157, 157, 157, 0.2);
  padding: 14px;
  color: #000;
  font-weight: 500;
  border: 1px solid #f5f5f5;
  display: inline-flex;
}

.single-testimonial {
  background-color: #fff;
  padding: 25px 30px 12px 30px;
}

.single-testimonial .thumb {
  margin-right: 30px;
}

.single-testimonial h4 {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-bottom: 5px;
}

.single-testimonial h4:hover {
  color: #8490ff;
  cursor: pointer;
}

.team-area {
  background-color: #f9f9ff;
}

.team-area .single-team {
  padding: 10px;
}

.team-area .thumb {
  position: relative;
}

.team-area .thumb div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(132, 144, 255, 0.7);
  color: #fff;
  opacity: 0;
  transition: opacity 0.5s;
}

.team-area .thumb div i {
  color: #fff;
  font-size: 20px;
  padding: 10px;
  z-index: 9999;
}

.team-area .thumb img {
  display: block;
  width: 100%;
}

.team-area .thumb div span {
  display: block;
  position: absolute;
  bottom: 30px;
  left: 20px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 3px;
}

.team-area .thumb div p {
  display: block;
  position: absolute;
  bottom: 10px;
  left: 20px;
  font-weight: 100;
}

@media (max-width: 768px) {
  .team-area .thumb div p {
    bottom: -15px;
  }
}

.team-area .thumb:hover div {
  opacity: 1;
  cursor: pointer;
}

.single-blog img {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.single-blog img:hover {
  transform: scale(0.9);
}

.single-blog h4 {
  margin-bottom: 12px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.single-blog a {
  color: #000;
}

.single-blog .date {
  background-color: #000;
  color: #fff;
  font-weight: 100;
  padding: 2px 15px;
  width: 115px;
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 800px) {
  .single-blog {
    margin-bottom: 30px;
  }
}

.footer-area {
  padding-top: 100px;
  background-color: #222222;
}

.footer-area .footer-nav li {
  margin-top: 8px;
}

.footer-area .footer-nav li a {
  color: #fff;
}

.footer-area .footer-nav li a:hover {
  color: #8490ff;
}

h6 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 600;
}

.copy-right-text i, .copy-right-text a {
  color: #8490ff;
}

.instafeed {
  margin: -5px;
}

.instafeed li {
  overflow: hidden;
  width: 25%;
}

.instafeed li img {
  margin: 5px;
}

.footer-social {
  text-align: right;
}

.footer-social a {
  background: #111111;
  width: 20px;
  width: 40px;
  display: inline-table;
  height: 40px;
  text-align: center;
  padding-top: 10px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer-social a:hover i {
  color: #fff;
}

.footer-social i {
  color: #cccccc;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 991px) {
  .footer-social {
    text-align: left;
    margin-top: 20px;
  }
}

.single-footer-widget {
  color: #fff;
}

.single-footer-widget input {
  line-height: 38px;
  border: none;
  background: #fff;
  font-weight: 300;
  border-radius: 20px;
  color: #777;
  padding-left: 20px;
  width: 100%;
}

.single-footer-widget .bb-btn {
  color: #fff;
  font-weight: 300;
  border-radius: 0;
  z-index: 9999;
  cursor: pointer;
}

@media (max-width: 800px) {
  .single-footer-widget .nw-btn {
    margin-top: 20px;
  }
  .single-footer-widget .newsletter {
    padding-bottom: 40px;
  }
}

.single-footer-widget .info {
  position: absolute;
  margin-top: 122px;
  color: #fff;
  font-size: 12px;
}

.single-footer-widget .info.valid {
  color: green;
}

.single-footer-widget .info.error {
  color: red;
}

.single-footer-widget ::-moz-selection {
  /* Code for Firefox */
  background-color: #8490ff;
  color: #777777;
}

.single-footer-widget ::selection {
  background-color: #8490ff;
  color: #777777;
}

.single-footer-widget ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #777777;
  font-weight: 300;
}

.single-footer-widget :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #777777;
  opacity: 1;
  font-weight: 300;
}

.single-footer-widget ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #777777;
  opacity: 1;
  font-weight: 300;
}

.single-footer-widget :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #777777;
  font-weight: 300;
}

.single-footer-widget ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #777777;
  font-weight: 300;
}

@media (max-width: 991px) {
  .single-footer-widget {
    margin-bottom: 30px;
  }
}

.footer-bottom {
  padding-top: 80px;
}

.footer-text a, .footer-text i {
  color: #8490ff;
}

.whole-wrap {
  background-color: #fff;
}

.generic-banner {
  text-align: center;
}

.generic-banner .height {
  height: 600px;
}

@media (max-width: 767px) {
  .generic-banner .height {
    height: 400px;
  }
}

.generic-banner .generic-banner-content h2 {
  line-height: 1.2em;
  margin-bottom: 20px;
}

@media (max-width: 991px) {
  .generic-banner .generic-banner-content h2 br {
    display: none;
  }
}

.generic-banner .generic-banner-content p {
  text-align: center;
  font-size: 16px;
}

@media (max-width: 991px) {
  .generic-banner .generic-banner-content p br {
    display: none;
  }
}

.generic-content h1 {
  font-weight: 600;
}

.about-generic-area {
  background: #fff;
}

.about-generic-area p {
  margin-bottom: 20px;
}

.white-bg {
  background: #fff;
}

.section-top-border {
  padding: 70px 0;
  border-top: 1px dotted #eee;
}

.switch-wrap {
  margin-bottom: 10px;
}

.switch-wrap p {
  margin: 0;
}
.main {
    width: 100%;
    float: left;
    margin-top: 2em;
}
.welcome h2 {
    color: #fff;
    padding-bottom: 10px;
    
}
.login-main {
  float:left;
}
hr {
    border-top: 1px solid rgb(255, 255, 255);
    float: left;
    width: 100%;
}
.content {
    padding-bottom: 50px;
}
.content p {
    margin: 0px;
}
.welcome p {
    margin-bottom: 0px;
}
.navbar-nav .dropdown-menu a {
    color: #34b47d;
}
.navbar-nav .dropdown-menu a:hover {
    color: #5adaa3;
}
.btn-show {
    width: 100%;
    display: block;
    margin: 0px auto;
    text-align: center;
}
.btn-show button {
    width: 100%;
    font-weight: 600;
    padding: 0.7rem 0.75rem;
    border-radius: 44px;
    cursor: pointer;
    font-size: 18px;
    letter-spacing: 0.6px;
    margin-bottom: 6px;
}
.getting {
  margin-bottom:20px;
}
.btn-show a {
    width: 100%;
    float: left;
    color: #fff;
    padding: 2px 0px;
    text-decoration: underline;
}
.dropdown .dropdown-menu:before {
    bottom: 100%;
    left: 10%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 7px;
    top: -14px;
}
.card-body .form-group label, legend {
    color: #000;
}
.card {
    margin-bottom: 25px;
}
.welcome .login-modal {
    float: right;
    cursor:pointer;
}
.language-change {
    float: right;
    width: 100%;
}
.language-change button {
    float: right;
}
.language-change .dropdown-menu {
    right: -57px;
    left:auto;
}
.language-change button {
    background: transparent;
    border: 0;
}
.language-change button:hover {
    background: transparent;
    border: 0;
}
.language-change button:focus {
    background: transparent !important;
    box-shadow: none;
}
.help-btn {
    background: transparent;
    border: 0;
}
.help-btn:hover {
    background: transparent;
    border: 0;
}
.help-btn:focus {
    box-shadow: none;
}
.help-btn i {
  font-size: 2em;
}
.modal-backdrop.show {
  opacity: 0;
}

.login-form {
    width: 100%;
    float: left;
}
.modal-header {
    padding-top: 0px;
}
.login-main {
    float: left;
    width: 100%;
    padding: 0px 15px;
    margin-bottom: 10px;
}
.login-main h2 {
    display: inline-block;
}
div#myModal {
    background: #34b47d;
}
.modal-header {
  border: 0;
}
.modal-header h4 {
    color: #fff;
    font-size: 28px;
}
button.close {
    color: #fff;
    opacity: 1;
    float: right;
    text-shadow: none;
    text-align: right;
    cursor: pointer;
}
.close:focus, .close:hover {
    color: #fff;
    text-decoration: none;
    opacity: .75;
    text-shadow: none;
    outline: 0;
}
.login-main .modal-body {
    height: 32em;
}


.btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
  background: transparent;
    border: 0;
}
.language-change .dropdown-menu a {
    color: #34b47d;
}
.language-change .dropdown-menu a:hover {
  background: transparent;
}
.close {
  font-weight: 600;
}
.close span {
    color: #fff;
    opacity: 1;
    cursor: pointer;
    border-radius: 50%;
    border: solid 2px #fff;
    width: 30px;
    height: 30px;
    line-height: 26px;
    float: right;
    text-align: center;
    margin-left: 10px;
}

/* 05-02-19 */
.modal-header {
  padding-left: 0px;
  padding-right: 0px;
}
.modal-content {
    box-shadow: 0px -11px 18px rgba(255, 255, 255, 0.63);
}
.login-for a {
  text-decoration: none;
}
.flow {
    width: 40.4%;
    margin: 0px auto;
}
.tooltip-flow {
    width: 100%;
    float: left;
    background: #8204de;
    color: #fff;
    padding: 12px;
    border-radius: 5px;
    margin: 0em 0;
    position: relative;
    margin-bottom: 2em;
}
.tooltip-flow:before {
    bottom: 100%;
    right: -1%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #8204de;
    border-width: 28px;
    top: -0.7em;
    transform: rotate(135deg);
}
.btn-primary {
    color: #fff;
    background-color: #047ade;
    border-color: #047ade;
}
.login-main .btn-primary {
    background: transparent;
}
.btn-primary:focus, .btn-primary.focus {
  box-shadow: none;
}
.btn-show .btn-primary:active, .btn-show .btn-primary.active, .show > .btn-show  .btn-primary.dropdown-toggle {
    background-color: #0069d9;
    background-image: none;
    border-color: #0062cc;
    border: solid 1px #0062cc;
}
.form-group select {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: #fff;
}
.form-group select:focus {
  outline: none;
}
.contract-header {
    background: #2aa0ff;
}
.contract-main {
    width: 100%;
    float: left;
    background: #047ade;
}
.contract-main .welcome h2 {
    padding: 4px 0px;
}
#myModals {
    background-image: linear-gradient(#339aee, white);
}
.contract-form {
    text-align: center;
}
.contract-form p {
    color: #000;
}
#myModals .modal-body {
    height: auto;
}
#myModals .modal-footer button {
    text-align: center;
    margin: 0px auto;
    float: none;
    display: block;
    color: #339aee;
    background: transparent;
    border: 0;
    font-weight: 600;
    width: 100%;
    cursor: pointer;
}
#myModals .modal-footer button:focus {
  box-shadow:none;
}
.right-border {
    border-right: 1px solid #e9ecef;
}
#myModals .modal-footer {
  padding:0px;
}
.space-holder {
  padding:7px;
}
#myModals .modal-dialog {
    margin: 14em auto;
}
.contract-fade {
  background-image: linear-gradient(#339aee, white) !important;
}
.contract-from {
    background: #fff;
    color: #000;
    margin: 0px;
    padding-top: 2em;
}
.contract-from .btn-show .back-for {
  color:#000;
}
.contract-btn .btn-show a button {
    border: solid 2px #fff;
}
.contract-btn {
    background: #047ade;
    width: 100%;
    float: left;
    padding: 25px 0px;
}
.recent-video-flow {
    width: 100%;
    float: left;
    background: #fff;
    color: #000;
    border-radius: 5px;
    margin-bottom: 20px;
}
.vdo {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding: 10px 19px;
}
.vdo p {
    margin: 0px;
    color: #34b47d;
    font-weight: 600;
    text-align: center;
}
.text-vdo {
    padding: 10px;
    width: 100%;
    float: left;
}
.text-vdo i {
    margin-right: 10px;
    font-size: 18px;
}
.text-vdo span {
    font-size: 15px;
    font-weight: 600;
}
.text-vdo .fa-eye {
    font-size: 20px;
}
.take-camera i {
    margin-right: 10px;
    font-size: 18px;
}
.take-camera span {
    font-size: 15px;
    font-weight: 600;
}
.take-camera {
    text-align: center;
    padding: 10px;
    width: 100%;
    float: left;
}
.big-call {
  margin-bottom:20px;
  float:left;
}
.big-call .add-type {
    background: transparent;
    border: solid 2px #fff;
    margin-top: 6em;
}

.big-call .add-type i {
    margin-right: 20px;
}
.light-type {
    width: 100%;
    float: left;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
}
.light-type h3 {
    color: #34b47d;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding: 10px;
}
.type-1 {
    color: #000;
    padding: 10px;
}
.type-1 p {
    margin: 0px;
    font-size: 19px;
    line-height: 59px;
}
.type-1 {
    color: #000;
    padding: 7px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    width: 100%;
    float: left;
}
.types {
  width: 50%;
}
.typer {
    min-width: 59px;
    min-height: 59px;
    background: #ccc;
    border-radius: 4px;
    border: solid 1px #9e9e9e;
}



.increase form {
    width: 100%;
    text-align: center;
    padding: 20px 0px;
}

.increase .value-button {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 0px;
  width: 82px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  padding: 11px 0;
  background: #eee;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.increase .value-button:hover {
  cursor: pointer;
}

.increase #decrease {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
    background: #ffce00;
    margin-top: -7px;
    color: #fff;
    font-size: 39px;
    line-height: 9px;
}

.increase #increase {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
    margin-top: -7px;
    background: #047ade;
    color: #fff;
    font-size: 23px;
    line-height: 15px;
}

.increase #input-wrap {
  margin: 0px;
  padding: 0px;
}

.increase input.number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 82px;
    height: 40px;
    font-weight: 700;
    font-size: 18px;
}

.increase input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.lower p {
  text-align: left;
}
.take-type {
    width: 100%;
    float: left;
    background: #fff;
    color: #000;
    border-radius: 5px;
    margin-bottom: 20px;
}
/* 05-02-19 */
.typer-current {
    min-width: 40px;
    background: #eee;
    text-align: center;
    min-height: 40px;
    line-height: 40px;
}
.typer-current i {
    color: #676767;
    font-size: 21px;
}
.current-sec {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    display: inline-block;
    width: 100%;
}
.current-sec h3 {
    border: 0;
}
.big-call .cureent-second {
    margin: 0px;
}
.pure {
    margin-top: 11px !important;
}
.lighting-for {
    background: transparent;
    border: solid 2px #000;
    color: #000;
}
.lighting-for:hover {
    background: transparent;
    border: solid 2px #000;
    color: #000;
}
.video-content {
  padding-bottom:20px;
}
.video-tag {
    width: 100%;
    float: left;
}
.video-tag iframe {
    width: 100%;
}
.padding-space {
    padding: 0px;
}
.review-flow {
    background: transparent;
}
.review-flow span {
    color: #000;
    margin-right: 15px;
}
.review-flow {
    background: transparent;
    padding: 0px 15px;
}
.review-flow i {
    font-size: 14px;
}
.unfield {
    padding: 10px;
}
.unfield p {
    color: #565656;
    margin-bottom: 3px;
}
.unfield h3 {
    padding: 0px;
    border:0;
}
.document-row .typer {
    background: transparent;
    min-width: 30px;
    min-height: 30px;
    text-align: center;
    line-height: 27px;
    border-radius: 50%;
    margin-top: 13px;
}
.document-row .typer {
  color:#9e9e9e;
}
.document-row .types i {
    margin-right: 10px;
    color: #1181e0;
}
.document-row .types i {
    margin-right: 10px;
    color: #1181e0;
    font-size: 22px;
}
.document-row .types {
    width: 78%;
}
.save-draft-btn {
    background: transparent;
    border: solid 2px #ffffff;
    color: #fff;
}

.unfield input[type="checkbox"] {
    cursor: pointer;
    border-radius: 1px;
    position: relative;
    box-sizing: content-box;
    width: 20px;
    height: 20px;
    border-width: 0;
    transition: all .3s linear;
    display: inline-block;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
}

.unfield {
    width: 100%;
    float: left;
}
span.notification {
    float: left;
}
.type-1 a {
    color: #000;
}
.add-method {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    width: 100%;
    float: left;
    padding: 10px;
    color: #000;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
}
.more {
  width:100%;
  float:left;
    border-bottom: solid 1px #fff;
}
.more p {
    margin: 9px 0px;
}
.submitted-btn-flow {
    margin-bottom: 20px;
}
/*.welcome h2 {
    line-height: 56px !important;
}*/
.save-draft-btn {
    margin-bottom: 20px;
    margin-top: 10px;
}
.purp {
    background: #e3beff;
    border-radius: 0px !important;
}
.already {
    margin-bottom: 20px;
}
/* 06-02-19 */

/* Start 07-02-19 */
.applicant span {
    margin-right: 20px;
}
.tanki .applicant p {
    line-height: 35px;
}
.normal-sec {
    width: 100%;
    float: left;
    border-radius: 5px;
    margin-bottom: 20px;
    border: solid 2px #fff;
    box-shadow: 0 -2px 10px 1px rgba(0, 0, 0, 0), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, .2);
}
.normal-sec .current-sec h3 {
    color: #34b47d;
    font-size: 18px;
}
.review-flow {
    line-height: 26px;
    min-height: auto;
}
.horn {
    padding: 10px;
    padding-top: 0px;
    width: 100%;
    float: left;
}
.horn h3 {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
}
.horn .review-flow{
    min-width: auto;
    padding:0px;
    line-height: 21px;
  }
.normal-sec .current-sec {
    background: #fff;
    padding: 9px;
}
.horn .review-flow span{
  color:#fff;        
}
.normal-sec .current-sec .review-flow i {
    color: #34b47d;
    font-size: 18px;
}
.store .types {
    width: 73%;
}
.store .types h3 {
    color: #fff;
    font-size: 19px;
    margin-bottom: 6px;
    font-weight: 500;
}
.prog:last-child {
    margin-bottom: 20px;
}
div#myModal2 .close {
    float: right;
    text-align: right;
    width: 100%;
    margin-right: 15px;
    color: #000;
}
div#myModal2 .close span {
    color: #34b47d;
    opacity: 1;
    cursor: pointer;
    border-radius: 50%;
    border: solid 2px #34b47d;
    width: 30px;
    height: 30px;
    line-height: 26px;
    float: right;
    text-align: center;
    margin-left: 10px;
}
.store {
    width: 100%;
    float: left;
}
.store button {
    border-radius: 20px;
    cursor: pointer;
}
.store .current-sec {
    border-bottom: solid 1px #fff;
}
.prog {
    padding-top: 13px;
}
/*Right*/
  .modal.right.fade .modal-dialog {
    right: 0px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
       -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
         -o-transition: opacity 0.3s linear, right 0.3s ease-out;
            transition: opacity 0.3s linear, right 0.3s ease-out;
  }
  div#myModal2 {
    background: #34b47d;
}
  .modal.right.fade.in .modal-dialog {
    right: 0;
  }

/* ----- MODAL STYLE ----- */
  .modal-content {
    /*border-radius: 0;*/
    border: none;
  }

 

/* ----- v CAN BE DELETED v ----- */


.demo {
  padding-top: 60px;
  padding-bottom: 110px;
}
.btn-demo {
    border-radius: 50%;
    border: solid 2px #fff;
    width: 40px;
}
.btn-demo:hover {
    border: solid 2px #fff;
}
.btn-demo i {
    font-size: 1em;
}

.btn-demo:focus {
  outline: 0;
}

.demo-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 15px;
  background-color: #212121;
  text-align: center;
}

.demo-footer > a {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
}
/* End 07-02-19 */
.login-modal {
    width: 40px;
    height: 40px;
    padding: 4px;
}

.login-modal img {
    width: 100%;
    float: left;
}
.content {
    width: 100%;
    float: left;
}
.already {
	margin-top:7px;
}
.btn-border-white {
    background: transparent;
    border: solid 2px #fff;
}
.btn-border-white:hover {
	background: transparent;
	border: solid 2px #fff;
}
.btn-border-white:active {
	background: transparent !important;
	border: solid 2px #fff !important;
}
.contract-main .login-main {
    padding: 18px 15px;
    margin: 0px;
}
.contract-main .login-modal {
    margin: 0px 5px;
}
.document-take {
    width: 50%;
    float: left;
    text-align: center;
}
.current-policy .login-main h2 {
    border-bottom: solid 1px #fff;
    width: 100%;
    padding-bottom: 25px;
    margin-bottom: 16px;
}
.big-call .pure {
    margin-bottom: 10px;
}
.review-flow {
    line-height: 0;
    padding: 10px;
}
.option .more:last-child {
    margin-bottom: 40px;
}

.review-type .typer-current img {
    width: 14px;
}
.document-row span img {
    width: 27px;
}
.document-row .typer {
    border: 0;
}
.document-row .types p img {
    width: 23px;
    margin-right: 10px;
}
.save-draft-btn {
    margin-bottom: 30px !important;
}
.document-take .red-flag img {
    width: 18px;
    margin-right: 10px;
    margin-top: -3px;
}
.toor .red-flag img {
    width: 22px;
}
.take-camera img {
    width: 18px;
    margin-right: 10px;
    margin-top: -3px;
}
.video-tag {
    margin-bottom: 20px;
}
.manage-for:first-child {
    margin-bottom: 6px;
    width: 100%;
    float: left;
}
.flag-img {
    float: left;
    width: 20px;
    margin-top: 10px;
    margin-right: 10px;
}
.positive-no {
    margin-bottom: 30px !important;
}
.manage-space .type-1 p {
    line-height: normal;
}
.manage-space .type-1 .types img {
    float: left;
    margin-top: 4px;
}
.manage-space .type-1 .typer {
    margin: 0px;
    line-height: normal;
}
.manage-space .type-1 {
    padding: 12px 10px;
}
.submit-kid .current-sec {
    border: 0;
}
/* End 08-02-19 */


/* Start 09-02-19 */
.applicant span img {
    width: 22px;
}
.application-menu .modal-body {
    height: auto;
}
.application-menu .modal-body .light-type {
    margin-bottom: 0px !important;
}
.application-menu .modal-body .light-type .type-1:last-child {
    border: 0;
}
.contract-btn .btn-show a:last-child {
    margin-bottom: 0px;
}
.text-vdo p {
    color: #000;
}
.document-btn a {
    margin-bottom: 7px !important;
}
.inc-dic img {
    width: 16px;
    text-align: center;
    margin-top: -3px;
    margin-left: -4px;
}
.big-call .btn-border-white {
  color:#fff;
}
.add-like {
    margin-top: 4em;
}
.add-typer {
    margin-top: 6em;
}
.more p {
    padding-left: 20px;
}
.more .slower {
    padding-left: 0px;
    font-size: 12px;
}
.launch {
    background: #000;
}
.lanch-flow .types {
    width: 100%;
    border-bottom: solid 1px #444343;
}
.lanch-flow .types h3 {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 20px;
}
.lanch-flow .types a {
    color: #fff;
    width: 100%;
    float: left;
    padding: 0px 0px 10px 10px;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
}
.applicant p {
    font-weight: 600;
    font-size: 17px;
}
.store .typer-current .btn:active {
    border: solid 2px #fff;
}
.pink {
    background: #ffbfe4;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}
.manage-btn .btn {
    margin-bottom: 6px !important;
}
.yellow {
    background: #fff5cc;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}
.log {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.log .types {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    width: 100%;
    float: left;
}
.sec-manage {
    width: 100%;
    float: left;
    border: 1px solid rgba(0, 0, 0, 0.15);
}
.sec-manage {
    width: 100%;
    float: left;
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin: 20px 0px;
}
.sec-manage p {
    color: #000;
    padding: 10px;
}
.sec-manage p:first-child {
    margin: 0px;
}
.floor {
    display: inline-block;
}
.floor {
    width: 100%;
    float: left;
}
.applicant-modal {
  padding:0px;
}
.applicant-modal {
    height: auto !important;
}
.applicant-modal .light-type {
    margin-bottom: 0px;
}
.applicant-modal-content {
  border-radius: 5px;
}
.unfield {
    border-radius: 5px;
}
.default-header {
    display: none;
}
.start-btn-app {
    background: #047ade;
    border-color: #047ade;
}
/* End 09-02-19 */

/*11-02-19 */
.for-head h2 {
    display: block;
    width: 100%;
}
.rounded-0 {
    border-radius: 0.25rem;
    box-shadow: 0 -2px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
}
.rounded-0 .rounded-0 {
    box-shadow: none;
}
.basic-btn {
    margin-bottom: 20px;
}
.close .cancel-close {
    font-size: 20px;
    float: left;
    font-weight: 500;
    line-height: 28px;
}
.contract-email .form-group .rounded-0 {
    box-shadow: none;
}
.contract-email {
    margin-top: 15px;
}
.light-type {
    box-shadow: 0 -2px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
}
.sec-manage .text-regard textarea {
    width: 100% !important;
    float: left;
    height: 245px;
    padding:10px;
    text-align: left;
    background: #eee;
}
.normal-sec .current-sec .typer-current img {
    width: 23px;
}
.normal-sec .current-sec .typer-current {
    padding: 0;
}
.card-body .form-group input {
    background: #eee;
}
.card-body .form-group input:focus {
    border-color: #34b47d;
}
.recent-video-flow {
    box-shadow: 0 -2px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
}
.card-body .form-group label {
    cursor: auto;
}
.take-camera {
	box-shadow: 0 -2px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
}
.recent-video-flow .take-camera {
    box-shadow: none;
}
.unfield h3 {
    color: #000 !important;
}











.custom-select {
  position: relative;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.custom-select .select-selected {
    color: #000;
    padding-left: 0px;
    font-size: 1.25em;
}

/*style the arrow inside the select element:*/
.custom-select .select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.custom-select .select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.custom-select .select-items div, .select-selected {
    padding: 7px 16px;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}

/*style items (options):*/
.custom-select .select-items {
    position: absolute;
    background-color: white;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    border: 1px solid rgba(0, 0, 0, 0.15);
    overflow-y: scroll;
    height: 200px;
}
/*hide the items when the select box is closed:*/
.custom-select .select-hide {
  display: none;
}

.custom-select .select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
.custom-select {

  background: #eee !important;
}
.custom-select {
    display: inline-block;
    width: 100% !important;
    height: auto;
}
.custom-select:after {
    content: "\f0d7";
    font-family: FontAwesome;
    float: right;
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.more-infor-flow .custom-select .select-items {
    height: auto;
    overflow: hidden;
}
.more-infor-flow .custom-select .select-selected {
    color: #000;
  }
  .normal-sec .types {
    width: 70%;
}
.more-infor-flow .custom-select {
    height: 44px;
}
.more-infor-flow .custom-select .select-selected {
    height: 44px;
}
.contract-miss .modal-body {
      height: auto !important;
}
.more-infor-flow .custom-select .select-selected {
    margin-top: -3px;
}
.submit-you {
    color: #000;
    font-size: 16px;
    font-weight: 600;
}
.contract-btn .cont-sit {
    width: 77%;
    margin:0px auto;
    float: none;
}
.contract-from .content-contract:last-child {
    margin-bottom: 2em;
}
.sec-manage .text-regard textarea:focus {
    outline: none;
}
.contract-btn {
    padding-bottom: 12px;
}
.custom-select .select-selected:after {
  display: none;
}
.chinese-language {
    font-family: 'Noto Sans TC', sans-serif;
}
.chinese-language .login-main h2 {
  font-family: 'Noto Sans TC', sans-serif;
}
.chinese-language .types h3 {
  font-family: 'Noto Sans TC', sans-serif;
}
.basic .current-sec {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding: 7px 0px;
}
.basic-high {
    margin-bottom: 20px !important;
}
.basic .type-1 p {
    line-height: normal;
}
.rev .type-1 {
    padding: 0px 10px;
}

.input.is-danger, .input-group.is-danger >.input, .input-icons.is-danger >.input {
    border-color: #d9007e;
}
legend {
    font-size: 14px;
}

.recent-video-flow .image-list-container {

    max-width: 100%;
    padding: 0px 15px;

}
.vll_multiple_images_uploader_wrapper .image-container.position-relative {
    width: 100%;
}
.recent-video-flow .image-container.position-relative {
   width: 100%;
}
.login-form .submit-kid .current-sec .types {
    width: 100%;
}
.btn-show {
    width: 100%;
    text-align: center;
    float: left;
    margin: 0px;
    cursor: pointer;
}
.vll_fixing_heading {
  width: auto !important;
}
.border-top-line {
    display: inline-block;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}
.btn-method-cancel {
    background: transparent;
    font-size: 14px !important;
    font-weight: 500 !important;
}
.add-method {
    cursor: pointer;
}
.modal-open .modal {
   opacity:1;
}
#help_modal {
    background: #34b47d;
}
.take-camera {
  cursor: pointer;
}
.image-bottom-left {
  display: none !important;
}

.contact-flow span {
    color: #000;
    width: 30%;
    padding: 4px 0px;
    display: inline-block;
}
.contact-flow {
    padding: 25px;
}
.recent-video-flow .image-container.position-relative svg {
    width: 18px;
    height: 18px;
}
.current-light-rose .type-1 .types {
    width:64%;
}
.in .modal-dialog {
    transform: translate(0, 0) !important;
}
.modal-dialog {
    transition: transform 0.3s ease-out !important;
    transform: translate(0, -25%) !important;
}
.video iframe {
    width: 100%;
}
.perfect-style {
    width: 14px;
    margin-top: -2px;
}
.current-logout-flow h3 {
    display: inline-block;
}
.current-logout-flow button {
    float: right;
    margin: 10px 10px 3px;
    background: transparent;
    border: 0;
}
.current-logout-flow .perfect-style {
    width: 20px;
}
.current-logout-flow button:hover:active {
    left: 0;
}
.image-edit {
  display: none !important;
}

.type-1.tanki {
  cursor: pointer;
}
.image-list-container {
  max-width: 100% !important;
}
.images-wrapper {
    text-align: center;
    max-width: 88%;
    margin: 0px auto;
}
.image_thumb {
    width: 100px;
    margin: 10px;
    float: left;
}
.chinese-language .contract-main .login-main .btn {
    width: 36px;
    height: 36px;
}
.chinese-language .contract-main .login-main h2 {
    font-size: 22px;
}

/* accordion */
.accordion {
  background-color: transparent;
  color: #444;
  cursor: pointer;
  border: none;
  text-align: left;
  padding: 0px 10px;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.accordion:focus {
  outline: none;
}

/*.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}*/

/*.active:after {
  content: "\2212";
}*/

.panel {
    padding: 0px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 100%;
}

.image-icons {
    float: right;
}
.onclick-show {
    width: 27px;
}.image-icons>img {
    display: block;
}
.image-icons .onclick-show{
    display: none;
}
.accord-right .active .onclick-show {
    display: block !important;
}
.accord-right .active .image-icons>img {
    display: none;
}

.offline {
    width: 100%;
}
.accordion {
    float: right;
}
.review-after {
  margin: 0px;
    font-size: 19px;
    line-height: 59px;
    padding:0px 10px;
}
.accord-right .typer {
    background: transparent;
    min-width: 30px;
    min-height: 60px;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
}
.accord-right .panel .typer {
    width: 59px;
    height: 59px;
    border-radius: 4px;
    border: solid 1px #9e9e9e;
    margin-left: 10px;
    float: left;
}

.accord-right .type-1 p {
    margin: 0px;
    font-size: 19px;
    line-height: 59px;
}
.accord-right .type-1 .types {
    display: inline-block;
}
.accord-right .panel .type-1 {
    width: 100%;
    display: inline-block;
    background: #eee;
    padding: 15px 0px;
    border-bottom: solid 2px #dedede;
}
.accord-right .panel .type-1 .typer {
    margin-top: 0px;
}

.accord-right .accordion {
    float: right;
    min-height: 59px;
    display: flex;
    align-items: center;
}
.accord-right .types p {
    margin: 0px;
    font-size: 19px;
    line-height: 59px;
    float: left;
}
.accord-right .types {
    width: 100%;
}
.light-type .accord-right {
  padding:0px;
}
.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 80%;
    padding: 0px 10px;
    margin: 0px;
    font-size: 19px;
    line-height: 59px;
}
.light-type .accord-right .types > p {

    padding: 0px 15px;

}
.option .more > p > a {
  color: #fff;
  text-decoration: underline;
}
.thumbnail-vll {
    height: 100%;
    float: left;
}
.accord-right .types .vll_override_float {
    float: left;
    width: 100%;
    position: relative;
}
.vll_override_float .vll_lighing_counter {
    position: absolute;
    right: 10px;
    padding: 0px 20px;
    border: solid 2px #aaa4a4;
    border-radius: 12px;
}
.modal-backdrop.fade.in:empty {
  display: none;
}

#vll_light_images_uploader .image-container {
    width: 100%;
}

.error-body h1 {
    font-size: 210px;
    font-weight: 900;
    text-shadow: 4px 4px 0 #171717, 6px 6px 0 #343a40;
    margin-bottom: 20px;
    color: #fff;
}
.error-body .nuxt-link-active {
    width: 100%;
    padding: 0.4rem 3.75rem;
    border-radius: 44px;
    cursor: pointer;
    font-size: 21px;
    letter-spacing: 0.6px;
    margin-bottom: 6px;
    border: solid 2px #fff;
    color: #fff;
    font-weight: 900;
}
.error-body .nuxt-link-active:hover {
  color:#fff;
}
.chinese-language .login-password {
    font-family: 'Open Sans', sans-serif;
}

.validation_error_message {
    background-color: #d9007e;
    color: #fff;
    padding: 10px;
    line-height: 1.5;
    font-weight: 600;
}
.card {
    margin-bottom: 25px;
    border: 0px;
    width: 100%;
}
.is-label-danger{
  color: #d9007e !important;
}
.btn-primary.validation_success {
  background-color: #047ade;
  border-color: #047ade;
}
.btn-primary.skip_button {
  background-color: #d9007e;
  border-color: #d9007e;
  color: #fff;
}
.panel.message_options a {
    padding: 15px 15px !important;
}
.btn-border-white {
    margin-bottom: 20px;
    font-size:18px;
    font-weight: 600;
    border-radius: 44px;
    padding: 0.7rem 0.75rem !important;
}
.vdo {
    padding: 0px;
}
.vdo p {
    padding: 10px 19px;
    text-align: left;
}
.content-refix {
    font-size: 17px;
}
.message-sub-icon {
    width: 29px;
}
.message_options .ellipsis {
    line-height: 23px;
}
.all-applications-row .types {
    float: left;
}
.all-applications-row .current-sec img {
    width: 17px;
}
.submit_for_review span {
    background: #d9007e;
}
.status-shape span {
   width: 15px;
    height: 15px;
    float: left;
    border-radius: 50%;
    margin-top: 4px;
    border: solid 1px #fff;
}

.rejected span {
    background: transparent;
}
.approved  span {
    background: #047ade;
}
.all-applications-row .current-sec h3 {
    font-weight: 600;
}
.blue-radius {
    font-size: 18px;
    font-weight: 600;
    border-radius: 44px;
    padding: 0.7rem 0.75rem !important;
}
.video-content p {
    font-size: 17px;
    padding-bottom: 15px;
}

.delete-btn-icon {
   border-radius: 0px 0.25rem 0px 0px; 
       padding: 10px 19px;
    min-height: auto;
    line-height: normal;
    height:43px;
}
.top-radius-bar {
  border-radius: 0.25rem 0.25rem 0px 0px;
}
.delete-btn-icon img {
    width: 15px !important;
}
.content-pro {
  font-size: 17px;
}
.show_license_uploader_class input {
    width: 100%;
}

.submit-kid .border-bottom-fill {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
/*.rev .unfield {
    padding: 0.5rem 1.3rem;
}
.rev .current-sec .types h3 {
    padding: 0.5rem 1.3rem;
}*/

body {
    overflow-y: scroll !important;
}
.rev .unfield > .notification h3 {
    white-space: inherit;
    word-wrap: anywhere;
}
.all-applications-row .types {
    width: 63%;
}
.validation_error_message img {
    width: 23px;
    margin-right: 10px;
    margin-left: 5px;
}
.rev > .current-sec {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.error-light {
    width: 100%;
    display: inline-block;
    border-radius: 5px;
}
.danger-row-btn .is-label-danger {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.danger-row-btn .error-light {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}