<template>
  <div>
    <div class="welcome login-main">
       <h2>{{ $t('submitted.heading') }}</h2>
       <helpModal />
    </div>   
    
    <div class="login-form">
      <div class="col-md-12 mx-auto">

            <!-- form card login -->
            <div class="light-type submit-kid">
              <div class="current-sec">
                <div class="types pull-left">
                  <h3>{{ $t('submitted.label.application_infomation') }}</h3>
                </div>
                
                </div>
              <div class="unfield purp">
                <p>{{ $t('submitted.label.status') }}</p>
                <h3>{{ $t('applications_status.submit_for_review') }}</h3>
              </div>

              <div class="unfield">
                <p>{{ $t('submitted.heading') }}</p>
                <span class="submit-you">{{ date_time }}</span>
              </div>
            </div>

            <div class="content-row">
              <p v-html="$t('submitted.label.paragraph')"></p>
            </div>

            <div class="light-type submit-kid">
              <div class="current-sec">
                <div class="types pull-left">
                  <h3>{{ $t('button.notification_preferences') }}</h3>
                </div>
                
                </div>
                <div class="unfield">
                <input type="checkbox" name="methods" value="email">
                <span class="notification"><p>{{ $t('button.email') }}</p>
                <h3>johndoe@gmail.com</h3>
              </span>
              </div>
              <div class="unfield">
                <input type="checkbox" name="methods" value="phone" checked>
                <p>{{ $t('button.phone') }}</p>
                <span class="submit-you">123456789</span>
              </div>

              <div class="unfield" v-show="show_new_method">
                <input type="checkbox" :name="methods" :value="type" checked>
                <p>{{ $t('notification_preferences_type.'+type) }}</p>
                <span class="submit-you">{{ value }}</span>
              </div>

              
              <div class="add-method" @click="addNewMethod" v-show="add_new_method_button"><img class="perfect-style" src="~assets/img/plus.png"> {{ $t('button.add_new_method') }}</div>

              <form @submit.prevent="validateBeforeSubmit" v-show="add_new_method_form">
                <div class="login-form-rename border-top-line">
                      <div class=" mx-auto">
                        <div class="card-rename rounded-0-rename">
                            <div class="card-body">
                                <div class="form-group">
                                   <label for="uname1">{{ $t('button.type') }}</label>
                                      <select v-validate="'required'" name="type" id="type"  :class="{'input': true, 'is-danger': errors.has('type') }" v-model="type">
                                        <option></option>
                                        <option v-for="type in Object.keys($t('notification_preferences_type'))" :value="type">               
                                           {{ $t('notification_preferences_type.'+type) }}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                   <label for="uname1">{{ $t('button.value') }}</label>
                                    <input type="text" 
                                    v-model="value" v-validate="'required'" :class="{'form-control form-control-lg input': true, 'is-danger': errors.has('value') }" name="value" id="value">
                                </div>                                    
                            </div>
                        </div>

                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="btn-show login-for">
                      <button type="submit" class="btn btn-outline-gray add-type btn-primary">{{ $t('button.save') }}</button>
                      <button @click="cancelNewMethod" class="btn btn-method-cancel" >{{ $t('cancel') }}</button>
                    </div>
                  </div>
              </form>
            </div>

            
            
            <!-- <div class="btn-show login-for">
              <a href="#"><button type="button" class="btn submitted-btn-flow btn-primary">{{ $t('button.view_guide') }}</button></a>
            </div> -->

          <div class="option">
            <div class="more">
              <p class="slower">{{ $t('button.more_options') }}</p>
            </div>
            <div class="more">
              <p v-html="$t('button.learn_more')"></p>
            </div>
            <div class="more">
              <p v-html="$t('button.contact_DOMI')"></p>
            </div>
          </div>
        </div>
  </div>
    <locales/>
  </div>
</template>

<script>
import locales from '~/components/locales';
import helpModal from '~/components/application-help-modal';

//import i18n from '~/plugins/i18n';

export default {
  layout: 'customer_dashboard',
  head() {
    return { title: this.$t('submitted.title') }
  },
  components:{ locales,helpModal },

  data () {
    return {
      date_time: "",
      type:"line",
      value:"",
      add_new_method_button:true,
      add_new_method_form:false,
      show_new_method:false,
      methods:[],
    }
  },
  mounted(){
    let today=new Date()

    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();
    var hours = today.getHours();
    var minutes = today.getMinutes();

    if (dd < 10) {
      dd = '0' + dd;
    }

    if (mm < 10) {
      mm = '0' + mm;
    }
    this.date_time=yyyy+'-'+mm +'-'+dd+' '+hours+':'+minutes+' TST'
  },
  methods: {
    addNewMethod(e){
      this.add_new_method_button=false
      this.show_new_method=false
      this.add_new_method_form=true      
    },
    cancelNewMethod(e){
      this.add_new_method_button=true
      this.add_new_method_form=false
    },
    
    validateBeforeSubmit() {
      this.$validator.validateAll().then((result) => {
        if (result) {

          this.add_new_method_button=true
          this.add_new_method_form=false
          this.show_new_method=true

          //this.$router.push('/apply/submitted')
        }        
      });
    }
  }
}
</script>
