<template>
  <div>
    <div v-show="($auth.user.role == 'customer')">
      <div class="welcome login-main">
         <h2>{{ $t('button.dashboard') }}</h2>
         <helpModal />
      </div>   
      <div class="login-form">
        <div class="col-md-12 mx-auto">
              <!-- form card login -->
              <div class="light-type submit-kid">
                <div class="current-sec" style="border-bottom: 1px solid rgba(0, 0, 0, 0.15);">
                  <div class="types current-logout-flow pull-left">
                    <h3>{{ $auth.user.name }}</h3>
                    <button @click="vll_logout"><img class="perfect-style" src="~assets/img/log-out.png"></button>
                  </div>                
                </div>
                <div class="unfield">
                  <p>{{ $t('button.phone') }}</p>
                  <h3>{{ $auth.user.main_phone }}</h3>
                </div>
                <div class="unfield">
                  <p>{{ $t('submitted.label.status') }}</p>
                  <h3>{{ $t('applications_status.'+$store.state.apply.form_data.basic_info.status) }}</h3>
                </div>
              </div>

              
              
              <div class="btn-show big-call login-for">
                <b-link to="/apply/review"><button type="button" class="btn btn-primary">{{ $t('button.view') }}</button></b-link>
              </div>           

              <div class="content-row">
                <p v-html="$t('submitted.label.paragraph')"></p>
              </div>            
              <!-- <div class="btn-show login-for">
                <a href="#"><button type="button" class="btn submitted-btn-flow btn-primary">{{ $t('button.view_guide') }}</button></a>
              </div> -->

            <div class="option">
              <div class="more">
                <p class="slower">{{ $t('button.more_options') }}</p>
              </div>
              <div class="more">
                <p v-html="$t('button.learn_more')"></p>
              </div>
              <div class="more">
                <p v-html="$t('button.contact_DOMI')"></p>
              </div>
            </div>
          </div>
        </div>
      <locales/>
    </div>

  <div v-show="($auth.user.role == 'coordinator')">
    <div class="welcome login-main">
       <h2>{{ $t('coordinator_dashboard.heading') }}</h2>
    </div>
    <div class="login-form">
        <div class="col-md-12 mx-auto">
          <div class="light-type">
            <div class="type-1 tanki">
                <div class="applicant">                    
                    <b-link  to="/dashboards/coordinator/review-applications" style="font-size: 17px;font-weight: 600;"><span><img src="~/assets/img/note.png"></span>{{ $t('dashboard_actions.applications_review') }}</b-link>
                </div>
            </div> 
            <div class="type-1 tanki">
                <div class="applicant">
                  <b-link  to="/dashboards/coordinator/all-applications" style="font-size: 17px;font-weight: 600;"><span><img src="~/assets/img/applications_all.png"></span>{{ $t('dashboard_actions.all_applications') }}</b-link>
                </div>
            </div> 
            <div class="type-1 tanki">
                <div class="applicant">
                  <b-link  to="/dashboards/coordinator/applications-drafts" style="font-size: 17px;font-weight: 600;"><span><img src="~/assets/img/applications_draft.png"></span>{{ $t('dashboard_actions.draft') }}</b-link>
                </div>
            </div>
            <!--<div class="type-1 tanki">
                <div class="applicant">
                    <p><span><img src="~/assets/img/wrench.png"></span>{{ $t('dashboard_actions.installation_teams') }}</p>
                </div>
            </div> 
            <div class="type-1 tanki">
                <div class="applicant">
                    <p><span><img src="~/assets/img/task.png"></span>{{ $t('dashboard_actions.coordinators') }}Coordinators</p>
                </div>
            </div> 
            <div class="type-1 tanki">
                <div class="applicant">
                    <p><span><img src="~/assets/img/help-menu.png"></span>{{ $t('help') }}</p>
                </div>
            </div> 
            <div class="type-1 tanki">
                <div class="applicant">
                    <p><span><img src="~/assets/img/user.png"></span>{{ $t('dashboard_actions.my_account') }}My Account</p>
                </div>
            </div>  -->
            <div class="type-1 tanki">
                <div class="applicant">
                    <p @click="vll_logout"><span><img src="~/assets/img/log-out.png"></span>{{ $t('button.logout') }}</p>
                </div>
            </div> 
          </div>
      </div>
    </div>
  </div>
    
  </div>
</template>

<script>
import locales from '~/components/locales';
import helpModal from '~/components/application-help-modal';

//import i18n from '~/plugins/i18n';

export default {
  layout: 'customer_dashboard',
  middleware: ['auth'],
  head() {
    return { title: this.$t('button.dashboard') }
  },
  components:{ locales,helpModal },

  data () {
    return {
      //application_data:""
    }
  },
  /*async fetch ({ store, params }) {
    // let { data } = await axios.get('http://my-api/stars')
    // store.commit('setStars', data)

    //let API_URL='/customer-applications/'+this.$store.state.auth.user.id
    let API_URL='/customer-applications/'

    let { data } = await axios.get(API_URL)
    store.commit('set_application_data', data)
    
  },*/

  mounted(){
    let API_URL='/customer-applications/'+ this.$auth.user.id

    this.$axios.get(API_URL)
    .then((res) => {
      //store.commit('setStars', res.data)
      this.$store.commit('apply/set_application_data', res.data)
    })
  },
  methods: {
    vll_logout(){
      this.$auth.logout()
      //this.$router.push('/login')
      this.$router.push('/apply/welcome')
    },   
    
    validateBeforeSubmit() {
      this.$validator.validateAll().then((result) => {
        if (result) {

          

          //this.$router.push('/apply/submitted')
        }
      });
    }
  }
}
</script>
