<template>
<div>
  <div class="welcome login-main">
     <h2>{{ $t('login.heading') }}</h2>
     <helpModal/>
  </div>
  <form @keydown.enter="login">
    <div class="login-form">
      <div class="col-md-12 mx-auto">
        <div class="card rounded-0-rename">
            <div class="card-body">
              <busy-overlay />
                  <b-form-group :label="$t('login.label.login')">
                    <b-input v-model="username" ref="username" class="form-control form-control-lg rounded-0-rename"  />
                  </b-form-group>

                  <b-form-group v-bind:label="$t('login.label.password')">
                    <b-input type="password" v-model="password" class="login-password form-control form-control-lg rounded-0-rename"/>
                  </b-form-group>
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="btn-show login-for">
        <b-btn @click="login" variant="primary" block>{{ $t('button.login') }}</b-btn>
        <b-link  to="/apply/welcome">{{ $t('cancel') }}</b-link>
      </div>
    </div>
  </form>

  <!-- <b-col md="12">
    <div class="text-center"><b-badge pill>OR</b-badge></div>
  </b-col>
  <b-col md="12" class="text-center pt-4">
      <b-card bg-variant="light" class="card rounded-0">
        <div v-for="s in strategies" :key="s.key" class="mb-2">
        <b-btn @click="$auth.loginWith(s.key)" block :style="{background: s.color}" class="login-button">Login with {{ s.name }}</b-btn>
        </div>
      </b-card>
  </b-col> -->

  <locales/>

</div>
</template>


<style scoped>
.login-button {
  border: 0;
};
</style>

<script>
import busyOverlay from '~/components/busy-overlay'
import locales from '~/components/locales'
import helpModal from '~/components/application-help-modal';

export default {
  layout:'application',
  middleware: ['auth'],
  components: { busyOverlay ,locales,helpModal},
  head() {
    return { title: this.$t('login.title') }
  },
  data() {
    return {
      username: '',
      password: '',
      error: null
    }
  },
  computed: {
    strategies: () => ([
     { key: 'google', name: 'Google', color: '#4284f4' },
     /*{ key: 'facebook', name: 'Facebook', color: '#3c65c4' },
     { key: 'github', name: 'GitHub', color: '#202326' }
     { key: 'auth0', name: 'Auth0', color: '#ec5425' },*/
    ]),
    redirect() {
      return (
        this.$route.query.redirect &&
        decodeURIComponent(this.$route.query.redirect)
      )
    },
    isCallback() {
      return Boolean(this.$route.query.callback)
    }
  },
  methods: {
    async login() {
      this.error = null
      let self = this;

      /*await this.$auth
        .loginWith('local', {
          data: {
            username: this.username,
            password: this.password
          }
        })
        .catch(e => {
          this.error = e + ''
        })*/


      //if(result.status){

        // this.$router.push('/')
        // return true;
      //}

      
      /*const formData={
        username: this.username,
        password: this.password
      }*/

      this.$axios.post('/api/auth/login', {
         username: this.username,
          password: this.password
      })
      .then(function (response) {
        if(response.data.status){

          self.$auth.setUser(response.data.user);
          //self.$router.push('/auth/customer/dashboard')
        }else{
          alert(self.$t('invalid_login'));
        }
      })
      .catch(function (error) {
        console.log(error);
        this.error = error + ''
      });

    }
  }
}
</script>
