<template>
  <div>
    <div class="welcome login-main">
       <h2>{{ $t('operations.heading') }}</h2>
       <hr>
    </div>
    
    <div class="content-flow">
      <div class="col-md-12">
       <p v-html="$t('operations.paragraph')"></p>
      </div>
    </div>

    <div class="btn-show">
      <a href="/login"><button type="button" class="btn btn-primary">{{ $t('button.login') }}</button></a>
    </div>
  </div>
</template>

<style scoped>
.modal-backdrop.fade.in:empty {
  display: none;
}
</style>

<script>
import locales from '~/components/locales';

//import i18n from '~/plugins/i18n';

export default {
  layout: 'application',
  head() {
    return { title: this.$t('operations.title') }
  },
  components:{ locales }
}
</script>
