<template>
  <div>
    <div class="main" :class="(this.$i18n.locale === 'zh') ? 'chinese-language':'' ">
        <div class="container">
          <div class="flow">
            <nuxt />
          </div>
        </div>
      </div>
  </div>
</template>

<script>
import locales from '~/plugins/i18n';

export default  {
  head () {
    return {
      script: [
        { src: '//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js' },
        { src: '//maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js' }
      ],
      link: [
        { rel: 'stylesheet', href: '//fonts.googleapis.com/css?family=Open+Sans' },
        { rel: 'stylesheet', href: '//fonts.googleapis.com/css?family=Noto+Sans+TC' }
      ]
    }
  }
}
</script>
