<template>
  <div class="container">    
    <div class="error-body text-center">
      <h1>404</h1>
      <nuxt-link to="/">{{ $t('button.login') }}</nuxt-link>
    </div>
  </div>
</template>

<script>

import locales from '~/components/locales';

export default {
  props: ['error'],
  layout: 'application',
  components:{ locales },
}
</script>