<template>
  <span class="application-help-modal-component">
    <button v-if='($nuxt.$route.name == "apply-getting-started")' type="button" class="btn btn-primary rounded-circle bg-warning text-white help-btn login-modal" @click="showModal">
        <img src="~/assets/img/iconmonstr-help.png" class="help-btn-flow" >
    </button>
    <button v-else type="button" class="btn btn-primary help-btn login-modal" @click="showModal">
        <img src="~/assets/img/iconmonstr-help.png" class="help-btn-flow">
    </button>

    <div class="modal fade" id="help_modal">
      <div class="modal-dialog modal-sm">
        <div class="modal-header">
            <h4 class="modal-title">{{ $t('help') }}</h4>
            <button type="button" class="close" data-dismiss="modal"><div class="cancel-close" @click="hideModal">{{ $t('cancel') }}</div><span>&times;</span></button>
          </div>
          <div class="modal-content">
          <div class="modal-body">
            <div class="contact-flow">
              <span>{{ $t('button.phone') }} : </span> <a href="tel:0800800182">0800800182</a><br>
              <span>{{ $t('button.email') }} : </span> <a href="mailto:help@domiearth.com">help@domiearth.com</a><br>
              <span>{{ $t('button.line') }} : </span> <a href="https://line.me/R/ti/p/%40lux7343v">https://line.me/R/ti/p/%40lux7343v</a><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </span>
</template>

<script>
export default {
  methods: {
    showModal(e) {
      $("#help_modal").modal('show')
    },
    hideModal() {
      //this.$refs.myModalRef.hide()
    }
  }
}
</script>