<template>
  <span class="coordinator-actions-modal-component">
    <button type="button" class="btn btn-primary help-btn login-modal" data-toggle="modal" data-target="#myModal">
      <img src="~/assets/img/menu.png" class="help-btn-flow">
    </button>

      <!-- The Modal -->
    <div class="modal fade" id="myModal">
      <div class="modal-dialog modal-sm">
        <div class="modal-header">
            <h4 class="modal-title">{{ $t('menu') }}</h4>
            <button type="button" class="close" data-dismiss="modal"><div class="cancel-close">{{ $t('done') }}</div><span>&times;</span></button>
          </div>
          <div class="modal-content applicant-modal-content">
        
          <div class="modal-body applicant-modal">
            <div class="light-type">

                <div class="type-1 tanki">
                    <div class="applicant">                    
                        <b-link  to="/dashboards/coordinator/review-applications" style="font-size: 17px;font-weight: 600;"><span><img src="~/assets/img/note.png"></span>{{ $t('dashboard_actions.applications_review') }}</b-link>
                    </div>
                </div> 
                <div class="type-1 tanki">
                    <div class="applicant">
                      <b-link  to="/dashboards/coordinator/all-applications" style="font-size: 17px;font-weight: 600;"><span><img src="~/assets/img/applications_all.png"></span>{{ $t('dashboard_actions.all_applications') }}</b-link>
                    </div>
                </div> 
                <div class="type-1 tanki">
                    <div class="applicant">
                      <b-link  to="/dashboards/coordinator/applications-drafts" style="font-size: 17px;font-weight: 600;"><span><img src="~/assets/img/applications_draft.png"></span>{{ $t('dashboard_actions.draft') }}</b-link>
                    </div>
                </div>
                 <!--<div class="type-1 tanki">
                    <div class="applicant">
                        <p><span><img src="~/assets/img/undo.png"></span>{{ $t('dashboard_actions.installation_follow_up') }}</p>
                    </div>
                </div> 
                <div class="type-1 tanki">
                    <div class="applicant">
                        <p><span><img src="~/assets/img/wrench.png"></span>{{ $t('dashboard_actions.installation_teams') }}</p>
                    </div>
                </div> 
                <div class="type-1 tanki">
                    <div class="applicant">
                        <p><span><img src="~/assets/img/task.png"></span>{{ $t('dashboard_actions.coordinators') }}Coordinators</p>
                    </div>
                </div> 
                <div class="type-1 tanki">
                    <div class="applicant">
                        <p><span><img src="~/assets/img/help-menu.png"></span>{{ $t('help') }}</p>
                    </div>
                </div> 
                <div class="type-1 tanki">
                    <div class="applicant">
                        <p><span><img src="~/assets/img/user.png"></span>{{ $t('dashboard_actions.my_account') }}My Account</p>
                    </div>
                </div>  -->
                <div class="type-1 tanki">
                    <div class="applicant">
                        <p @click="vll_logout"><span><img src="~/assets/img/log-out.png"></span>{{ $t('button.logout') }}</p>
                    </div>
                </div> 
              </div>
            </div>
        </div>
      </div>
    </div>
  </span>
</template>

<script>
export default {
  methods: {
    vll_logout(){
      this.$auth.logout()
      //this.$router.push('/login')
      this.$router.push('/team')
    }
  }
}
</script>