<template>
  <div>
    <div class="welcome login-main">
       <h2>{{ $t('application_submitted.heading') }}</h2>
       <helpModal />
    </div>   
    
    <div class="login-form">
      <div class="col-md-12 mx-auto">
          <!-- form card login -->
          <div class="light-type submit-kid">
            <div class="current-sec">
              <div class="types pull-left">
                <h3>{{ $t('application_submitted.label.application_infomation') }}</h3>
              </div>
              
              </div>
            <div class="unfield purp">
              <p>{{ $t('application_submitted.label.status') }}</p>
              <h3>{{ $t('applications_status.'+this.$store.state.apply.form_data.basic_info.status) }}</h3>
            </div>

            <div class="unfield">
              <p>{{ $t('submitted.heading') }}</p>
              <span class="submit-you">{{ date_time }}</span>
            </div>
          </div>

          <div class="btn-show login-for">

            <a href="javascript:void(0)" @click="clickChangeStatus" :data_application_id="$store.state.apply.form_data.basic_info.user_id"><button type="button" class="btn btn-border-white btn-primary">{{ $t('button.change_status') }}</button></a>

            <a href="javascript:void(0)" @click="clickViewDetail" :data_application_id="$store.state.apply.form_data.basic_info.user_id"><button type="button" class="btn btn-border-white btn-primary">{{ $t('button.view_detail') }}</button></a>

            

            <!-- <a href="/dashboards/coordinator/update-applications-status"><button type="submit" class="btn btn-border-white btn-primary">{{ $t('button.change_status') }}</button></a>


            <a href="/dashboards/coordinator/under-review-applications"><button type="submit" class="btn btn-border-white btn-primary">{{ $t('button.view_detail') }}</button></a> -->


            <b-link to="/dashboards/coordinator/all-applications"><button type="submit" class="btn btn-border-white btn-primary">{{ $t('button.back_to_list') }}</button></b-link>
          </div>

        </div>
    </div>
    
  </div>
</template>

<script>
import locales from '~/components/locales';
import helpModal from '~/components/application-help-modal';

//import i18n from '~/plugins/i18n';

export default {
  layout: 'application',
  head() {
    return { title: this.$t('submitted.title') }
  },
  components:{ locales,helpModal },

  data () {
    return {
      date_time: "",
      type:"",
      value:"",
      add_new_method_button:true,
      add_new_method_form:false,
      methods:[],
    }
  },
  mounted(){
    let today=new Date()
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();
    var hours = today.getHours();
    var minutes = today.getMinutes();

    if (dd < 10) {
      dd = '0' + dd;
    }

    if (mm < 10) {
      mm = '0' + mm;
    }
    this.date_time=yyyy+'-'+mm +'-'+dd+' '+hours+':'+minutes+' TST'
  },
  methods: {
    clickChangeStatus(e){
      this.$router.push('/dashboards/coordinator/update-applications-status')
    },
    clickViewDetail(e){
      this.$router.push('/dashboards/coordinator/under-review-applications')
    },
    validateBeforeSubmit() {
     
    }
  }
}
</script>
