<template>
<div>
  
 <div class="welcome login-main">
    <h2>{{$t('dashboard_actions.applications_review')}}</h2>
    <coordinatorActionsModal />
    
  </div>
  <div class="login-form">
    <div class="col-md-12 mx-auto">
      <div class="normal-sec">
        <div class="current-sec">
          <div class="types pull-left">
            <h3>{{ $t('review_progress') }}</h3>
          </div>
          <div class="typer-current review-flow pull-right">
            <img src="~/assets/img/search.png">
          </div>
        </div>
        <div class="horn">
          <div class="types pull-left">
            <h3>{{ $t('to_preview') }}</h3>
          </div>
          <div class="typer-current review-flow pull-right">
            <span>{{ total_applications }}</span>
          </div>
          </div>
      </div>
      <hr>
      
      <div class="store" v-for="application in applications">
        <div class="current-sec">
          <div class="types pull-left">
            <h3>{{ application.company_name }}</h3>
            <p>{{ application.address }}</p>
            <div>{{ application.main_phone }}</div>
          </div>
          <div class="typer-current review-flow pull-right">
            <a href="javascript:void(0)" @click="viewApplicationClick" :data_application_id="application.user_id"><button type="button" class="btn start-btn-app save-draft-btn btn-primary">{{ $t('start')}}</button></a>
          </div>
        </div>
      </div>


    </div>
  </div>
          
          
</div>
</template>
<style scoped>

</style>

<script>
import busyOverlay from '~/components/busy-overlay'
import locales from '~/components/locales'

import coordinatorActionsModal from '~/components/coordinator-actions-modal';


import axios from "axios"

export default {
  layout:'application',
  components: { busyOverlay ,locales,coordinatorActionsModal},
  middleware: ['auth'],
  head() {
    return { title: this.$t('dashboard_actions.applications_review') }
  },
  data () {
    return {
     applications:"",
     total_applications:0,
   }
  },
  mounted(){
    let self=this
    let API_URL='applications-list/submit_for_review'

    this.$axios.get(API_URL)
    .then((res) => {
      self.total_applications=res.data.Count
      self.applications=res.data.Items
    })
  },
  methods: {
    viewApplicationClick(e){
      const data_application_id=e.currentTarget.getAttribute('data_application_id')

      let self=this
      let API_URL='/customer-applications/'+ data_application_id

      this.$axios.get(API_URL)
        .then((res) => {
          this.$store.commit('apply/set_application_data', res.data)
          
          this.$router.push('/dashboards/coordinator/under-review-applications')
        })
    },
    validateBeforeSubmit() {
      this.$validator.validateAll().then((result) => {
        if (result) {

          

        }        
      });
    }
  }
}
</script>
