<template>
<div>
  
 <div class="welcome login-main">
    <h2>{{$t('under_review_applications.title')}}</h2>
    <coordinatorActionsModal />
  </div>
 <form @submit.prevent="validateBeforeSubmit">
  <div class="login-form">
        <div class="col-md-12 mx-auto">

            <div class="light-type submit-kid">
              <div class="current-sec">
                <div class="types pull-left">
                  <h3>{{$t('submitted.label.application_infomation')}}</h3>
                </div>
                
              </div>
              <div class="unfield purp">
                <p>{{ $t('submitted.label.status') }}</p>
                <h3>{{ $t('change_applications_status.status.'+$store.state.apply.form_data.basic_info.status) }}</h3>
                <p>{{ $t('manage_case') }}</p>
              </div>

              <div class="unfield">
                <span class="manage-for">
                  <p>{{$t('submitted.title')}}</p>
                  <h3>{{ date_time }}</h3>
                </span>
                <span class="manage-for">
                  <p>{{ $t('IP_address') }}</p>
                  <h3>{{ this.$store.state.apply.form_data.basic_info.ip }}</h3>
                </span>
              </div>
            </div>

              <!-- form card login -->
              <div class="light-type review-type for-each rev">
                <div class="current-sec">
                  <div class="types pull-left">
                    <h3>{{ $t('basic_information.heading') }}</h3>
                  </div>
                  
                  <div class="typer-current review-flow pull-right" v-show="($store.state.apply.form_data.basic_info.status == 'draft')">
                    <span style="cursor: pointer;" @click="clickEditInfo" data_info_type="/apply/basic-information">{{ $t('edit') }} <img src="~/assets/img/pencil.png" ></span>
                  </div>
                </div>
                <div class="unfield">
                  <p>{{ $t('basic_information.label.tax_id') }}</p>
                  <h3>{{ $store.state.apply.form_data.basic_info.tax_id }}</h3>
                </div>

                <div class="unfield">
                  <p>{{ $t('basic_information.label.company_name') }}</p>
                  <h3>{{ $store.state.apply.form_data.basic_info.company_name }}</h3>
                </div>

                <div class="unfield">
                  <p>{{ $t('basic_information.label.name') }}</p>
                  <h3>{{ $store.state.apply.form_data.basic_info.name }}</h3>
                </div>

                <div class="unfield">
                  <p>{{ $t('basic_information.label.national_id') }}</p>
                  <h3>{{ $store.state.apply.form_data.basic_info.national_id }}</h3>
                </div>
              </div>

              <div class="btn-show login-for">
                  <a target="_blank" href="https://findbiz.nat.gov.tw/fts/query/QueryBar/queryInit.do;jsessionid=C670C0E8D69BEB74D5E7FDBC7ED0DED0" class="btn btn-border-white basic-high btn-primary">{{ $t('MOEA_database') }}</a>
              </div>

              <div class="light-type review-type rev">
                <div class="current-sec">
                  <div class="types pull-left">
                    <h3>{{ $t('contact.heading') }}</h3>
                  </div>
                  <div class="typer-current review-flow pull-right" v-show="($store.state.apply.form_data.basic_info.status == 'draft')">
                    <span style="cursor: pointer;"@click="clickEditInfo" data_info_type="/apply/contact">{{ $t('edit') }} <img src="~/assets/img/pencil.png" /></span>
                  </div>
                  </div>
                  <div class="unfield">
                      <span class="notification"><p>{{ $t('contact.label.email') }}</p>
                      <h3>{{ $store.state.apply.form_data.basic_info.email }}</h3>
                  </span>
                  </div>
                  <div class="unfield">
                      <p>{{ $t('contact.label.main_phone') }}</p>
                      <h3>{{ $store.state.apply.form_data.basic_info.main_phone }}</h3>
                  </div>
                  <div class="unfield">
                      <p>{{ $t('contact.label.mobile_phone') }}</p>
                      <h3>{{ $store.state.apply.form_data.basic_info.mobile_phone }}</h3>
                  </div>
              </div>

              <div class="light-type review-type submit-kid rev">
                <div class="current-sec">
                  <div class="types vll_fixing_heading pull-left">
                    <h3>{{ $t('installation_address.heading') }}</h3>
                  </div>
                  <div class="typer-current review-flow pull-right" v-show="($store.state.apply.form_data.basic_info.status == 'draft')">
                    <span style="cursor: pointer;" @click="clickEditInfo" data_info_type="/apply/installation-address">{{ $t('edit') }} <img src="~/assets/img/pencil.png"  ></span>
                  </div>
                  </div>
                  <div class="unfield">
                  <span class="notification"><p>{{ $t('installation_address.label.city') }}</p>
                  <h3>{{ $store.state.apply.form_data.basic_info.city }}</h3>
                </span>
                </div>
                <div class="unfield">
                  <p>{{ $t('installation_address.label.district') }}</p>
                  <h3>{{ $store.state.apply.form_data.basic_info.district }}</h3>
                </div>
                <div class="unfield">
                  <p>{{ $t('installation_address.label.address') }}</p>
                  <h3>{{ $store.state.apply.form_data.basic_info.address }}</h3>
                </div>
              </div>

              <div class="light-type review-type rev">
                <div class="current-sec">
                  <div class="types1">
                    <h3>{{ $t('qualification_questions') }}</h3>
                  </div>
                  <div class="typer-current review-flow pull-right" v-show="($store.state.apply.form_data.basic_info.status == 'draft')">
                    <span style="cursor: pointer;" @click="clickEditInfo" data_info_type="/apply/more-information">{{ $t('edit') }} <img src="~/assets/img/pencil.png" ></span>
                  </div>
                  </div>
                  <div class="unfield">
                      <span class="notification"><p>{{ $t('more_information.label.independent_electrical') }}</p>
                      <h3>{{ $t($store.state.apply.form_data.basic_info.independent_electrical) }}</h3>
                  </span>
                  </div>
                  <div class="unfield">
                      <p>{{ $t('more_information.label.installation_location') }}</p>
                      <h3>{{ $t($store.state.apply.form_data.basic_info.installation_location) }}</h3>
                  </div>
                  <div class="unfield">
                      <p>{{ $t('more_information.label.already_participated') }}</p>
                      <h3>{{ $t($store.state.apply.form_data.basic_info.already_participated) }}</h3>
                  </div>
              </div>

              <div class="light-type review-type rev">
                <div class="current-sec">
                  <div class="types pull-left">
                    <h3>{{ $t('taipower_account.heading') }}</h3>
                  </div>
                  <div class="typer-current review-flow pull-right" v-show="($store.state.apply.form_data.basic_info.status == 'draft')">
                    <span style="cursor: pointer;" @click="clickEditInfo" data_info_type="/apply/taipower-account">{{ $t('edit') }} <img src="~/assets/img/pencil.png" ></span>
                  </div>
                </div>

                
                <div class="unfield">
                  <span class="notification">
                    <p>
                      {{ $t('taipower_account.label.primary_account_heading') }}
                    </p>
                    <h3>{{ $store.state.apply.form_data.basic_info.taipower_primary_account }}</h3>
                  </span>
                </div>

                <div class="unfield" v-for="(secondary_account,key) in $store.state.apply.form_data.basic_info.taipower_secondary_accounts">
                  <span class="notification" >
                    <p>{{ $t('taipower_account.label.secondary_account_heading') }}</p>
                    <h3>{{ secondary_account.value }}</h3>
                  </span>
                </div>

                

                <div class="type-1 accord-right document-row">
                  
                  <div class="types pull-left">
                    <p>
                      <img src="~/assets/img/check-mark.png" v-if="(most_recent_logo)">
                      <img src="~/assets/img/iconmonstr-x-mark-5-240.png" v-else>
                      {{ $t('review.label.most_recent') }}
                    </p>
                    <a class="accordion"  @click="clickViewFiles"><span class="image-icons"><img src="~/assets/img/arrow.png" style="width: 27px;"><img class="onclick-show" src="~/assets/img/arrow-down.png"></span></a>

                    <div class="panel">
                      <div class="type-1" v-for="(item, index) in $store.state.apply.form_data.basic_info.taipower_bills_images">
                        <div class="typer pull-left">
                         <a :href="item.path" target="_blank"><img class="card-img-top thumbnail-vll" :src="item.path" :alt="item.name" ></a>
                        </div>
                        <div class="ellipsis">
                          {{ item.name }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <div class="light-type review-type rev">
                <div class="current-sec">
                  <div class="types pull-left">
                    <h3>{{ $t('documents.heading') }}</h3>
                  </div>
                  <div class="typer-current review-flow pull-right" v-show="($store.state.apply.form_data.basic_info.status == 'draft')">
                    <span style="cursor: pointer;" @click="clickEditInfo" data_info_type="/apply/documents">{{ $t('edit') }} <img src="~/assets/img/pencil.png" ></span>
                  </div>
                </div>
                <div class="type-1 accord-right document-row">

                 

                  <div class="types pull-left">
                    <p>                      
                      <img src="~/assets/img/check-mark.png" v-if="(business_license_logo)">
                      <img src="~/assets/img/iconmonstr-x-mark-5-240.png" v-else>

                      {{ $t('documents.label.business_license') }}
                    </p>
                    <a class="accordion"  @click="clickViewFiles"><span class="image-icons"><img src="~/assets/img/arrow.png" style="width: 27px;"><img class="onclick-show" src="~/assets/img/arrow-down.png"></span></a>

                    <div class="panel">
                      <div class="type-1" v-for="(item, index) in $store.state.apply.form_data.basic_info.license_images">
                        <div class="typer pull-left">
                         <a :href="item.path" target="_blank"><img class="card-img-top thumbnail-vll" :src="item.path" :alt="item.name"></a>
                        </div>
                        <div class="ellipsis">
                          {{ item.name }}
                        </div>
                      </div>
                    </div>
                  </div>                    
                </div>

              </div>

              <div class="light-type review-type rev" v-show="(this.$store.state.apply.form_data.basic_info.installation_location == $t('option.yes'))">
                <div class="current-sec">
                  <div class="types pull-left">
                    <h3>{{ $t('rental.heading') }}</h3>
                  </div>
                  <div class="typer-current review-flow pull-right" v-show="($store.state.apply.form_data.basic_info.status == 'draft')">
                    <span style="cursor: pointer;" @click="clickEditInfo" data_info_type="/apply/rental">{{ $t('edit') }} <img src="~/assets/img/pencil.png" ></span>
                  </div>
                </div>
                
                <div class="type-1 accord-right document-row">

                  

                  <div class="types pull-left">
                    <p>
                      <img src="~/assets/img/check-mark.png" v-if="(rental_logo)">
                      <img src="~/assets/img/iconmonstr-x-mark-5-240.png" v-else>
                      {{ $t('review.label.rental_agreement') }}
                    </p>
                    <a class="accordion"  @click="clickViewFiles"><span class="image-icons"><img src="~/assets/img/arrow.png" style="width: 27px;"><img class="onclick-show" src="~/assets/img/arrow-down.png"></span></a>

                    <div class="panel">
                      <div class="type-1" v-for="(item, index) in $store.state.apply.form_data.basic_info.rental_agreement_images">
                        <div class="typer pull-left">
                         <a :href="item.path" target="_blank"><img class="card-img-top thumbnail-vll" :src="item.path" :alt="item.name" ></a>
                        </div>
                        <div class="ellipsis">
                          {{ item.name }}
                        </div>
                      </div>
                    </div>

                  </div>                    
                </div>

                <div class="type-1 accord-right document-row">
                  <div class="types pull-left">
                    <p>
                      <img src="~/assets/img/check-mark.png" v-if="(rental_auth_completed)">
                      <img src="~/assets/img/iconmonstr-x-mark-5-240.png" v-else>
                      {{ $t('review.label.rental_auth') }}
                    </p>
                    <a class="accordion"  @click="clickViewFiles"><span class="image-icons"><img src="~/assets/img/arrow.png" style="width: 27px;"><img class="onclick-show" src="~/assets/img/arrow-down.png"></span></a>

                    <div class="panel">
                      <div class="type-1" v-for="(item, index) in $store.state.apply.form_data.basic_info.auth_completed_images">
                        <div class="typer pull-left">
                         <a :href="item.path" target="_blank"><img class="card-img-top thumbnail-vll" :src="item.path" :alt="item.name" ></a>
                        </div>
                        <div class="ellipsis">
                          {{ item.name }}
                        </div>
                      </div>
                    </div>

                  </div>                    
                </div>
              </div>              

              <div class="light-type review-type rev">
                  <div class="current-sec">
                    <div class="types pull-left">
                      <h3>{{ $t('electrical_panel.heading') }}</h3>
                    </div>
                    <div class="typer-current review-flow pull-right" v-show="($store.state.apply.form_data.basic_info.status == 'draft')">
                      <span style="cursor: pointer;" @click="clickEditInfo" data_info_type="/apply/electrical-panel">{{ $t('edit') }} <img src="~/assets/img/pencil.png" ></span>
                    </div>
                  </div>

                 
                  <div class="unfield" style="border-bottom: 1px solid rgba(0, 0, 0, 0.15);">
                    <span class="notification">
                      <p>{{ $t('review.label.electrical_panel_quantity') }}</p>
                      <h3>{{ $store.state.apply.form_data.basic_info.electrical_panel_quantity }}</h3>
                    </span>
                  </div>

                  <div class="unfield" v-if="(this.$store.state.apply.form_data.basic_info.electrical_panel_quantity == this.$t('panel_quantity_options.two'))" style="border-bottom: 1px solid rgba(0, 0, 0, 0.15);">

                    
                    <span class="notification">
                      <p>{{ $t('review.label.electrical_panel_distance') }}</p>
                      <h3>{{ $store.state.apply.form_data.basic_info.electrical_panel_distance }}</h3>
                    </span>
                  </div>

                  <div class="type-1 accord-right document-row">
                   

                    <div class="types pull-left">
                      <p>
                        <img src="~/assets/img/check-mark.png" v-if="(interior_logo)">
                        <img src="~/assets/img/iconmonstr-x-mark-5-240.png" v-else>
                        {{ $t('review.label.interior') }}
                      </p>
                      <a class="accordion"  @click="clickViewFiles"><span class="image-icons"><img src="~/assets/img/arrow.png" style="width: 27px;"><img class="onclick-show" src="~/assets/img/arrow-down.png"></span></a>

                      <div class="panel">
                        <div class="type-1" v-for="(item, index) in $store.state.apply.form_data.basic_info.interior">
                          <div class="typer pull-left">
                           <a :href="item.path" target="_blank"><img class="card-img-top thumbnail-vll" :src="item.path" :alt="item.name" ></a>
                          </div>
                          <div class="ellipsis">
                            {{ item.name }}
                          </div>
                        </div>
                      </div>

                    </div>
                    
                  </div>

                  <div class="type-1 accord-right document-row">

                    <div class="types pull-left">
                      <p>
                        <img src="~/assets/img/check-mark.png" v-if="(exterior_logo)">
                        <img src="~/assets/img/iconmonstr-x-mark-5-240.png" v-else>
                        {{ $t('review.label.exterior') }}
                      </p>

                      <a class="accordion"  @click="clickViewFiles"><span class="image-icons"><img src="~/assets/img/arrow.png" style="width: 27px;"><img class="onclick-show" src="~/assets/img/arrow-down.png"></span></a>

                      <div class="panel">
                        <div class="type-1" v-for="(item, index) in $store.state.apply.form_data.basic_info.exterior">
                          <div class="typer pull-left">
                           <a :href="item.path" target="_blank"><img class="card-img-top thumbnail-vll" :src="item.path" :alt="item.name" ></a>
                          </div>
                          <div class="ellipsis">
                            {{ item.name }}
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                
               <div class="light-type review-type rev">
                <div class="current-sec">
                  <div class="types pull-left">
                    <h3>{{ $t('lighting_inventory') }}</h3>
                  </div>
                </div>

                <div class="unfield">
                    <span class="notification"><p>{{ $t('review.label.no_of_types') }}</p>
                    <h3>{{ no_of_types }}</h3>
                </span>
                </div>
                <div class="unfield">
                    <p>{{ $t('review.label.total_count') }}</p>
                    <h3>{{ total_count }}</h3>
                </div>
                <div class="unfield">
                    <p>{{ $t('review.label.photos_included') }}</p>
                    <h3>{{ photos_included }}</h3>
                </div>
              </div>

              <div class="light-type review-type rev">
                <div class="current-sec">
                  <div class="types pull-left">
                    <h3>{{ $t('lighting_details') }}</h3>
                  </div>
                  <!-- <div class="typer-current review-flow pull-right" v-show="($store.state.apply.form_data.basic_info.status == 'draft')">
                    <span style="cursor: pointer;" @click="clickEditInfo" data_info_type="/apply/video-walkthrough">{{ $t('edit') }} <img src="~/assets/img/pencil.png" ></span>
                  </div> -->
                </div>
                <div class="type-1 document-row accord-right" v-for="(light,key) in $store.state.apply.form_data.basic_info.lights">
                  <div class="types pull-left">
                    <a class="accordion vll_override_float"  @click="clickViewFiles"> 
                      <p class="pull-left">{{ $t(key) }}</p>
                      <span class="vll_lighing_counter">{{ light.counter }}</span>
                    </a>

                    <div class="panel">
                      <div class="type-1" v-for="(item, index) in light.images">
                        <div class="typer pull-left">
                         <a :href="item.path" target="_blank"><img class="card-img-top thumbnail-vll" :src="item.path" :alt="item.name"></a>
                        </div>
                        <div class="ellipsis">
                          {{ item.name }}
                        </div>
                      </div>
                    </div>

                  </div>                  
                </div>


              </div>

              <div class="light-type review-type rev">
                <div class="current-sec">
                  <div class="types pull-left">
                    <h3>{{ $t('video_walkthrough.heading') }}</h3>
                  </div>
                </div>
                <div class="type-1 document-row accord-right ">
                  <div class="types pull-left">
                    <p>
                      <img src="~/assets/img/check-mark.png" v-if="(video)">
                      <img src="~/assets/img/iconmonstr-x-mark-5-240.png" v-else>
                      {{ $t('review.label.video') }}
                    </p>
                    <a class="accordion" v-if="(video)"  @click="clickViewFiles"><span class="image-icons"><img src="~/assets/img/arrow.png" style="width: 27px;"><img class="onclick-show" src="~/assets/img/arrow-down.png"></span></a>
                    
                    <div class="panel">
                      <div class="type-1">
                        <div class="vdo video_preview_wrapper " v-show="(video)">
                          <video width="100%" controls>
                            <source :src="this.$store.state.apply.form_data.basic_info.video.url" id="video_here">
                              Your browser does not support HTML5 video.
                          </video>
                        </div>
                      </div>
                    </div>


                  </div>                  
                </div>
                
              </div>

              <div class="light-type review-type for-each rev">
                <div class="current-sec">
                  <div class="types pull-left">
                    <h3>{{ $t('review.label.lighting_preferences') }}</h3>
                  </div>
                </div>
                <div class="unfield">
                  <p>{{ $t('lighting_color.label.lighting_color') }}</p>
                  <h3>{{ $store.state.apply.form_data.basic_info.lighting_color }}</h3>
                </div>
              </div>

              <div class="light-type review-type for-each rev">
                <div class="current-sec">
                  <div class="types pull-left">
                    <h3>{{ $t('under_review_applications.label.referral') }}</h3>
                  </div>
                </div>
                <div class="unfield">
                  <p>{{ $t('under_review_applications.label.partner') }}</p>
                  <h3>{{ $store.state.apply.form_data.basic_info.referral_partner }}</h3>
                </div>
                <div class="unfield">
                  <p>{{ $t('under_review_applications.label.referred_by') }}</p>
                  <h3>{{ $store.state.apply.form_data.basic_info.referral }}</h3>
                </div>
                
              </div>

              <div class="light-type review-type for-each rev">
                <div class="current-sec">
                  <div class="under-review-notification types pull-left">
                    <h3>{{ $t('button.notification_preferences') }}</h3>
                  </div>
                </div>
                <div class="unfield" v-for="(typeObject,index) in $store.state.apply.form_data.basic_info.notifications_data">
                  <p>{{ $t('notification_preferences_type.'+typeObject.type) }}</p>
                  <h3>{{ typeObject.value }}</h3>
                </div>                
              </div>
                
              <!-- /form card login -->

          </div>
      </div>

      <div class="col-md-12" v-show="($store.state.apply.form_data.basic_info.status != 'draft')">
        <div class="btn-show login-for">
          <b-link  to="/dashboards/coordinator/update-applications-status" class="btn btn-primary blue-radius">{{ $t('button.next') }}</b-link>
        </div>
        <div class="btn-show login-for">
          <b-link  to="/dashboards/coordinator/review-applications">{{ $t('button.back') }}</b-link>
        </div>
      </div>
    </form>
          
          
</div>
</template>
<style scoped>

</style>

<script>
import busyOverlay from '~/components/busy-overlay'
import locales from '~/components/locales'

import coordinatorActionsModal from '~/components/coordinator-actions-modal';


import axios from "axios"

export default {
  layout:'application',
  components: { busyOverlay ,locales,coordinatorActionsModal},
  middleware: ['auth'],
  head() {
    return { title: this.$t('under_review_applications.heading') }
  },
  data () {
    return {
      date_time: "",
      no_of_types: 0,
      total_count:0,
      photos_included:this.$t('no'),
      video:this.$store.state.apply.form_data.basic_info.video.url,

      business_license_logo:this.$store.state.apply.form_data.basic_info.license_images.length,
      most_recent_logo:this.$store.state.apply.form_data.basic_info.taipower_bills_images.length,
      rental_logo:this.$store.state.apply.form_data.basic_info.rental_agreement_images.length,
      rental_auth_completed:this.$store.state.apply.form_data.basic_info.auth_completed_images.length,

      interior_logo:this.$store.state.apply.form_data.basic_info.interior.length,
      exterior_logo:this.$store.state.apply.form_data.basic_info.exterior.length,
    }
  },
  mounted(){
    let self=this;
    
    this.$store.commit('apply/redirect_toggle', {
      "value":false
    })

    /*this.$store.commit('apply/toggle_status', {
      "value":"under_review"
    })*/
    
    var state_count=0;
    var light_images_counter=this.$t('no');

    Object.values(this.$store.state.apply.form_data.basic_info.lights).forEach(function(lightType) {
      state_count =  (parseInt(state_count) + parseInt(lightType.counter))
      light_images_counter = (lightType.images.length > 0 ) ? self.$t('yes') :self.$t('no')
    });

    this.no_of_types=Object.keys(this.$store.state.apply.form_data.basic_info.lights).length
    this.total_count=state_count
    this.photos_included=light_images_counter

    

    let today=new Date(this.$store.state.apply.form_data.basic_info.createdAt)
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();
    var hours = today.getHours();
    var minutes = today.getMinutes();

    if (dd < 10) {
      dd = '0' + dd;
    }

    if (mm < 10) {
      mm = '0' + mm;
    }
    this.date_time=yyyy+'-'+mm +'-'+dd+' '+hours+':'+minutes+' TST'
  },
  methods: {
    clickViewFiles(e) {
      e.currentTarget.classList.toggle("active");
      var panel = e.currentTarget.nextElementSibling;
      if (panel.style.maxHeight){
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      }
    },
    clickEditInfo(e) {
      const redirect_url=e.currentTarget.getAttribute('data_info_type')

      this.$store.commit('apply/redirect_toggle', {
        "value":true
      })
      this.$router.push(redirect_url)
    },
    validateBeforeSubmit() {
      this.$validator.validateAll().then((result) => {
        let self = this;
        const timestamp = new Date().getTime();
        if (result) {

          var data={'user_id':this.$store.state.apply.form_data.basic_info.user_id,'status':this.$store.state.apply.form_data.basic_info.status};
         

          this.$axios({
            method: 'post',
            url: '/application-status-change',
            data: JSON.stringify(data),
          })
          .then(function (response) {
            if(response.data.status){
              self.$store.commit('apply/clear_state_data')
              self.$router.push('/dashboards/coordinator/review-applications')
            }              
          })
          .catch(function (response) {

            alert(self.$t('unknown_error'));

            console.log('Error')
            console.log('--------------------------------------------------------------')
            console.log(response.data.status)              
          });

        } 

      });
    }
  }
}
</script>
