<template>
<div>
  
 <div class="welcome login-main">
    <h2>{{$t('change_applications_status.title')}}</h2>
    <coordinatorActionsModal />    
  </div>
  <form @submit.prevent="validateBeforeSubmit">
    <div class="login-form">

      <div class="col-md-12 mx-auto">
        <div class="light-type review-type for-each rev">
          <div class="current-sec">
            <div class="types pull-left">
              <h3>{{ $t('change_applications_status.title') }}</h3>
            </div>
          </div>
          <div class="card-body">
              <div class="form-group">
                  <label for="lighting_color">{{ $t('change_applications_status.label.status') }}</label>
                  <div class="custom-select-rename">
                    <select v-model="status" name="status" v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('status') }">
                      <option :value="$t(key)" v-for="status, key in $t('change_applications_status.status')">{{ $t('change_applications_status.status.'+key) }}</option>
                      
                    </select>
                  </div>
              </div>
          </div>        
        </div>
        
      </div>

      <div class="col-md-12" >
        <div class="btn-show login-for">
          <button type="submit" class="btn btn-primary">{{ $t('button.submit') }}</button>
        </div>
      </div>
    </div>
  </form>
          
          
</div>
</template>
<style scoped>

</style>

<script>
import busyOverlay from '~/components/busy-overlay'
import locales from '~/components/locales'

import coordinatorActionsModal from '~/components/coordinator-actions-modal';


import axios from "axios"

export default {
  layout:'application',
  components: { busyOverlay ,locales,coordinatorActionsModal},
  middleware: ['auth'],
  head() {
    return { title: this.$t('change_applications_status.heading') }
  },
  data () {
    return {
     status:this.$store.state.apply.form_data.basic_info.status,
   }
  },
  mounted(){

  },
  methods: {
    validateBeforeSubmit() {
      this.$validator.validateAll().then((result) => {
        if (result) {
          var data={'user_id':this.$store.state.apply.form_data.basic_info.user_id,'status':this.status};
         
          let self = this;
          const timestamp = new Date().getTime();

          this.$store.commit('apply/toggle_status', {
            "value":this.status
          })

          this.$axios({
            method: 'post',
            url: '/application-status-change',
            data: JSON.stringify(data),
          })
          .then(function (response) {
            if(response.data.status){
              //self.$store.commit('apply/clear_state_data')
              self.$router.push('/dashboards/coordinator/application-submitted')
            }              
          })
          .catch(function (response) {
            alert(self.$t('unknown_error'));          
          });
        }        
      });
    }
  }
}
</script>
