<template>
  <div>
    <div class="welcome login-main">
       <h2>{{ $t('almost_done.heading') }}</h2>
       <helpModal />
      <hr>
      
    </div>   
    
    <div class="col-md-12">
      <div class="content">
         <p class="content-pro">{{ $t('almost_done.paragraph') }}</p>
      </div>
      <div class="btn-show">
        <b-link to="/apply/referral"><button class="btn btn-primary">{{ $t('button.next') }}</button></b-link>
      </div>
    </div>
    <locales/>
  </div>
</template>

<script>
import locales from '~/components/locales';
import helpModal from '~/components/application-help-modal';

export default {
  layout: 'application',
  head() {
    return { title: this.$t('almost_done.title') }
  },
  components:{ locales,helpModal }
}
</script>
