<template>
<div>
  <div class="welcome login-main">
     <h2>{{ $t('basic_information.heading') }}</h2>
     <helpModal />
  </div>
  <form @submit.prevent="validateBeforeSubmit">
    <div class="login-form">
      <div class="col-md-12 mx-auto">
        <div class="card rounded-0">
          <div class="validation_error_message top-radius-bar" v-show="(errors.has('tax_id') || errors.has('company_name') || errors.has('name') )">
            {{ $t('basic_information.validation_error.message') }}
          </div>
          <div class="card-body">
            <busy-overlay />
              <div class="form-group">
                  <label for="tax_id" :class="{'is-label-danger': errors.has('tax_id') }">{{ $t('basic_information.label.tax_id') }}</label>
                  <input type="number" v-model="tax_id" v-validate="'required|digits:8'" :class="{'form-control form-control-lg rounded-0-rename input': true, 'is-danger': errors.has('tax_id') }" name="tax_id" id="tax_id" pattern="\d*" >
              </div>
              <div class="form-group">
                  <label for="company_name" :class="{'is-label-danger': errors.has('company_name') }">{{ $t('basic_information.label.company_name') }}</label>
                  <input type="text" v-model="company_name" v-validate="'required'" :class="{'form-control form-control-lg rounded-0-rename input': true, 'is-danger': errors.has('company_name') }" name="company_name" id="company_name">
              </div>
              <div class="form-group">
                  <label for="name" :class="{'is-label-danger': errors.has('name') }">{{ $t('basic_information.label.name') }}</label>
                  <input type="text" v-model="name" v-validate="'required'" :class="{'form-control form-control-lg rounded-0-rename input': true, 'is-danger': errors.has('name') }" name="name" id="name">
              </div>
              <div class="form-group">
                  <label for="national_id">{{ $t('basic_information.label.national_id') }}</label>
                  <input type="text" v-model="national_id"  :class="{'form-control form-control-lg rounded-0-rename input': true}" name="national_id" id="national_id">
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="btn-show login-for">
          <button type="submit" :class="{'btn btn-border-white btn-primary': true,'validation_success': !(errors.has('tax_id') || errors.has('company_name') || errors.has('name') ) }">{{ button_label }}</button>
          <!-- <button type="submit" :class="{'btn btn-border-white btn-primary': true,'validation_success':!validation_success}">{{ $t('button.next') }}</button> -->
          <b-link to="/apply/getting-started">{{ $t('button.back') }}</b-link>
      </div>
    </div>
    
  </form>
  <locales />

</div>
</template>


<style scoped>
.login-button {
  border: 0;
};
</style>

<script>
import busyOverlay from '~/components/busy-overlay'
import locales from '~/components/locales'
import helpModal from '~/components/application-help-modal';

import axios from "axios"

export default {
  layout:'application',
  components: { busyOverlay ,locales,helpModal},
  head() {
    return { title: this.$t('basic_information.title') }
  },
  data () {
    return {
      tax_id: this.$store.state.apply.form_data.basic_info.tax_id,
      company_name: this.$store.state.apply.form_data.basic_info.company_name,
      name: this.$store.state.apply.form_data.basic_info.name,
      national_id: this.$store.state.apply.form_data.basic_info.national_id,
      validation_success: false,
      button_label:this.$t('button.next'),
    }
  },
  mounted(){
    if(this.$store.state.apply.form_data.redirect_review){
      this.button_label=this.$t('button.back_to_review');  
    }
  },  
  methods: {
    validateBeforeSubmit() {

      this.$validator.validateAll().then((result) => {
        if (result) {
          this.validation_success=true;

          this.$store.commit('apply/add_basic_info', {
            "tax_id":this.tax_id,
            "company_name":this.company_name,
            "name":this.name,
            "national_id":this.national_id,
          })

          if(this.$store.state.apply.form_data.redirect_review){
            this.$router.push('/apply/review')
          }else{
            this.$router.push('/apply/contact')
          }
          
        }
      });
    }
  }
}
</script>
