<template>
  <div :class="(this.$i18n.locale === 'zh') ? 'chinese-language':'' ">
    <form @submit.prevent="validateBeforeSubmit">
      <div class="contract-main">
          <div class="container">
            <div class="flow">
              <div class="welcome login-main">
                 <h2>{{ $t('contract.heading') }}</h2>
                 <helpModal />

                <button type="button" class="btn btn-primary help-btn login-modal" @click="showPrompt()">
                   <img src="~/assets/img/iconmonstr-email.png" class="help-btn-flow">
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="main contract-from">
          <div class="container">
            <div class="flow">
              <div class="login-form">
                  <div class="col-md-12 mx-auto">
                      <!-- form card login -->
                      <div class="content-contract">
                        <p v-html="$t('contract.description')"></p>
                      </div>
                  </div>
              </div>
            </div>
          </div>

          <div class="contract-btn">
            <div class="col-md-12">
                <div class="flow">
                  <div class="btn-show login-for cont-sit">
                    <button type="submit" class="btn btn-border-white btn-primary">{{ $t('button.next') }}</button>
                    <b-link to="/apply/review">{{ $t('button.back') }}</b-link>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </form>
  </div>
</template>

<style type="text/css">
  .contract_override_body_backgound {
    background: transparent;
  }
</style>

<script>
import locales from '~/components/locales';
import helpModal from '~/components/application-help-modal';

export default {
  layout: 'contract',
  head() {
    return { title: this.$t('contract.title'),
        bodyAttrs: {
          class: 'contract_override_body_backgound'
        }
    }
  },
  components:{ locales,helpModal },
  data: () => ({
    //errors:[],
  }),
  methods: {
    validateBeforeSubmit() {
      this.$validator.validateAll().then((result) => {
        if (result) {
          const data = {};

          const r = confirm(this.$t('contract.conform_box.confirm_description'));
          if (r == true) {
            this.$router.push('/apply/documents');
          } else {
            this.$router.push('/apply/contract-disagree');
          }
          
        }        
      });
    },
    showPrompt() {
      let self = this;

      const email = prompt(this.$t('contract.prompt_box.heading'), "");

      if (email != null && email !="") {
        if(validateEmail(email)){

          var content=this.$t('emails.contract.content').replace("[name]", this.$store.state.apply.form_data.basic_info.name);

          this.$axios({
            method: 'post',
            url: '/email/send',
            data: JSON.stringify({"subject":this.$t('emails.contract.subject'),"email":email,"content":content}),
          })
          .then(function (response) {
            if(response.data.status){
              alert(self.$t('contract.alert_box.heading'))
            }
            
          })
          .catch(function (response) {
            alert(self.$t('unknown_error'));
          });


        }else{
          alert(this.$t('not_an_email'))
        }
        
      }

      function validateEmail(email) {
        var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
      }
    }
  }
}
</script>
