<template>
<div>
  <div class="welcome login-main">
     <h2>{{ $t('contact.heading') }}</h2>
     <helpModal />
  </div>
  <form @submit.prevent="validateBeforeSubmit">
    <div class="login-form">
      <div class="col-md-12 mx-auto">
        <div class="card rounded-0">
          <div class="validation_error_message top-radius-bar" v-show="(errors.has('email') || errors.has('main_phone') || errors.has('mobile_phone') )">
            {{ $t('contact.validation_error.message') }}
          </div>
            <div class="card-body">
              <busy-overlay />
                <div class="form-group">
                    <label for="email" :class="{'is-label-danger': errors.has('email') }">{{ $t('contact.label.email') }}</label>
                     <input name="email" v-model="email" v-validate="'required|email'" :class="{'form-control form-control-lg rounded-0-rename input': true, 'is-danger': errors.has('email') }" type="email"  id="email">
                </div>
                <div class="form-group">
                    <label for="main_phone" :class="{'is-label-danger': errors.has('main_phone') }">{{ $t('contact.label.main_phone') }}</label>
                    <input type="number" v-model="main_phone" v-validate="'required|numeric|min:9|max:10'" :class="{'form-control form-control-lg rounded-0-rename input': true, 'is-danger': errors.has('main_phone') }" name="main_phone" id="main_phone" pattern="\d*">
                </div>
                
                <div class="form-group">
                    <label for="mobile_phone" :class="{'is-label-danger': errors.has('mobile_phone') }">{{ $t('contact.label.mobile_phone') }}</label>
                    <input type="number" v-model="mobile_phone" v-validate="'required|numeric|min:9|max:10'" :class="{'form-control form-control-lg rounded-0-rename input': true, 'is-danger': errors.has('mobile_phone') }" name="mobile_phone" id="mobile_phone" pattern="\d*">
                </div>
            </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="btn-show login-for">
          <button type="submit" :class="{'btn btn-border-white btn-primary': true,'validation_success': !(errors.has('email') || errors.has('main_phone') || errors.has('mobile_phone') ) }">{{ button_label }}</button>
          <b-link to="/apply/basic-information">{{ $t('button.back') }}</b-link>
      </div>
    </div>
    
  </form>
  <locales />

</div>
</template>


<style scoped>

</style>

<script>
import busyOverlay from '~/components/busy-overlay'
import locales from '~/components/locales'
import helpModal from '~/components/application-help-modal';

import axios from "axios"

export default {
  layout:'application',
  components: { busyOverlay ,locales,helpModal},
  head() {
    return { title: this.$t('contact.title') }
  },
  data () {
    return {
      email: this.$store.state.apply.form_data.basic_info.email,
      main_phone: this.$store.state.apply.form_data.basic_info.main_phone,
      mobile_phone: this.$store.state.apply.form_data.basic_info.mobile_phone,
      button_label:this.$t('button.next')
    }
  },
  mounted(){
    if(this.$store.state.apply.form_data.redirect_review){
      this.button_label=this.$t('button.back_to_review');  
    }
  }, 
  methods: {
    validateBeforeSubmit() {
      this.$validator.validateAll().then((result) => {
        if (result) {

          let self = this;

          this.$store.commit('apply/add_contact_info', {
            "email":this.email,
            "main_phone":this.main_phone,
            "mobile_phone":this.mobile_phone
          })

          if(self.$store.state.apply.form_data.basic_info.email ){

            // User ID null and login details have
            if(self.$store.state.apply.form_data.basic_info.user_id){

              self.handleSaveDraft();
              if(self.$store.state.apply.form_data.redirect_review){
                self.$router.push('/apply/review')
              }else{
                self.$router.push('/apply/installation-address')
              }
              
            }else{
              this.$axios.post('/api/auth/login', {
                username: self.$store.state.apply.form_data.basic_info.email,
                password: self.$store.state.apply.form_data.basic_info.tax_id
              })
              .then(function (response) {
                if(response.data.status){
                  alert(self.$t('account_exit'));
                }else{         
                  self.handleSaveDraft();

                  if(self.$store.state.apply.form_data.redirect_review){
                    self.$router.push('/apply/review')
                  }else{
                    self.$router.push('/apply/installation-address')
                  }
                }
              })
              .catch(function (error) {
                console.log(error);
              });
            }            
          }
          
        }        
      });
    },
    handleSaveDraft(){
      this.$store.commit('apply/toggle_status', {
        "value":"draft"
      })
      let self = this;


      if(!this.$store.state.apply.form_data.basic_info.user_id){
        //Sending email
        var content=self.$t('emails.application_save_draft.content');

        content=content.replace("[login]", "<a href='"+process.env.app_url+"'>"+self.$t('emails.application_save_draft.login_link_text')+"</a>");
        content=content.replace("[phone]", self.$store.state.apply.form_data.basic_info.main_phone);
        content=content.replace("[email]", self.$store.state.apply.form_data.basic_info.email);

        self.$axios({
          method: 'post',
          url: '/email/send',
          data: JSON.stringify({"subject":self.$t('emails.application_save_draft.subject'),"email":self.$store.state.apply.form_data.basic_info.email,"content":content}),
        });
      }


      this.$axios({
        method: 'post',
        url: '/users',
        data: JSON.stringify(this.$store.state.apply.form_data.basic_info),
      })
      .then(function (response) {
        if(response.data.status){
          self.$store.commit('apply/set_application_data', response.data.data);
        }
        
      })
    }
  }
}
</script>
