<template>
  <div>
    <div class="welcome login-main">
       <h2>{{ $t('contract_disagree.heading') }}</h2>
       <helpModal />
    </div>
    
    
    <div class="col-md-12">
      <div class="content">
         <p v-html="$t('contract_disagree.description')"></p>
      </div>
      <div class="btn-show">
        <b-link to="/apply/contract"> <button type="submit" class="btn btn-border-white btn-primary">{{ $t('button.go_back') }}</button></b-link>
      </div>
    </div>
    <locales/>
  </div>
</template>

<script>
import locales from '~/components/locales';
import helpModal from '~/components/application-help-modal';

//import i18n from '~/plugins/i18n';

export default {
  layout: 'application',
  head() {
    return { title: this.$t('contract_disagree.title') }
  },
  components:{ locales ,helpModal}
}
</script>
