<template>
<div>
  <div class="welcome login-main">
     <h2>{{ $t('current_lighting_add.heading') }}</h2>
     <helpModal />
  </div>
  <form @submit.prevent="validateBeforeSubmit">
    <div class="login-form current-light-rose">
      <div class="col-md-12 mx-auto">
        <div class="light-type">
          <h3>{{ $t('current_lighting_add.lighting_type') }}</h3>
          <span id="light_type_selected_error"></span>
          
          <div class="validation_error_message" v-show="light_type_selected_error" >
            {{ $t('current_lighting_add.errors.select_light_type') }}
          </div>

          <!-- v-validate="'required'"

          <span class="help is-danger text-danger p-5" v-show="errors.has('light_type_selected')">{{
              errors.first("light_type_selected")
            }}</span> -->
          
          <div class="type-1 light_types" v-for="(light, index) in lights" v-if="!light.selected" @click="clickLightSelectEvent" :data_light_key="light.key" :data_light_index="index">

              <div class="types pull-left">
                <p>{{ $t(light.key) }}</p>
               <!--  <label>
                  <input v-model="light_type_selected" type="radio" name="light_type_selected" />
                  {{ $t(light.key) }}
                </label> -->
              </div>
              <div class="typer pull-right">
                <img :src="$t(light.ref_image)" style="width:59px;height:59px;" />
              </div>
          </div>


        </div>

        <div class="recent-video-flow">
            <div class="vdo lower">
              <p>{{ $t('button.total_quantity')}}</p>
            </div>
            <span class="help is-danger text-danger p-3" v-show="errors.has('counter')">{{ $t('button.quantity_error') }}</span>
            <div class="increase" style="text-align: center; padding:20px 0px;">
              <div class="inc-dic">
                <div class="value-button" id="decrease" @click="decreaseValue()"><img src="~assets/img/minus.png"></div>
                <input type="number" class="number" name="counter" v-model="counter" v-validate="'required|numeric|between:1,100000'"/>
                <div class="value-button" id="increase" @click="increaseValue()"><img src="~assets/img/plus.png"></div>
              </div>
            </div>
            
        </div>

        <div class="danger-row-btn">
          <div v-show="image_error" class="validation_error_message error-light">
            {{ $t('current_lighting_add.errors.image') }}
          </div>

         <!--  <div v-if="exterior_uploader_button" :class="{'take-camera':true,'is-label-danger': (exterior_error) }">
              <div class="red-flag" @click="clickExteriorEvent" >
                <img src="~/assets/img/camera-pink.png" v-if="(exterior_error)">
                <img src="~/assets/img/camera.png" v-else>
                <span>{{ $t('button.take_photo') }}</span></div>
          </div> -->

           <div v-if="show_license_uploader_button" :class="{'take-camera take-type':true,'is-label-danger': (image_error) }">
            <div class="red-flag" @click="clickLicenseEvent" >
              <img src="~/assets/img/camera-pink.png" v-if="(image_error)">
                <img src="~/assets/img/camera.png" v-else>
              <span>{{ $t('button.take_photo') }}</span>
            </div>
          </div>

           <div class="clearfix"></div>

           <div class="recent-video-flow">
            <no-ssr placeholder="Loading...">
              <div id="vll_light_type_upload_uploader" class="show_license_uploader_class vll_multiple_images_uploader_wrapper" style="display: none;">
                  <vue-upload-multiple-image
                    @upload-success="uploadImageSuccess"
                    @before-remove="beforeRemove"
                    @edit-image="editImage"
                    @data-change="dataChange"
                    :data-images="light_images"
                    idUpload="light_type_upload_id"
                    editUpload="light_type_upload_editor_id"
                    dragText=""
                    dropText=""
                    browseText=""
                    primaryText=""
                    markIsPrimaryText=""
                    popupText=""             
                  ></vue-upload-multiple-image>
              </div>
            </no-ssr>
          </div>
        </div>

      </div>
      
        
    </div> <!-- login-form -->
    
    <div class="col-md-12">
      <div class="btn-show big-call login-for">
        <button type="submit"  :class="{'btn btn-border-white btn-primary': true,'validation_success': !(image_error ||  light_type_selected_error ) }">{{ $t('button.save') }}</button>

        <!-- <button type="submit" class="btn btn-primary">{{ $t('button.save') }}</button> -->

        <b-link to="/apply/current-lighting-list"><button type="button" class="btn btn-border-white lighting-for btn-primary">{{ $t('cancel') }}</button></b-link>
      </div>
    </div>
  </form>

  <locales />

</div>
</template>


<style scoped>

</style>

<script>
import axios from "axios"

import busyOverlay from '~/components/busy-overlay'
import locales from '~/components/locales'
import helpModal from '~/components/application-help-modal';

let VueUploadMultipleImage
if (process.client) {
  VueUploadMultipleImage = require('vue-upload-multiple-image').default
}

export default {
  computed: {
    lights () {
      return this.$store.state.apply.list
    }
  },
  layout:'application',
  components: { busyOverlay ,locales,VueUploadMultipleImage,helpModal},
  head() {
    return { title: this.$t('current_lighting_add.title') }
  },
  data: () => ({
    counter: 1,
    light_type_selected:"",
    light_type_selected_index:"",
    light_type_selected_error:false,

    image_error:false,

    light_images: [],
    
    show_license_uploader:false,
    show_license_uploader_button:true,
  }),
  methods: {
    increaseValue() {
      this.counter++
    },
    decreaseValue() {
      if(this.counter > 1 ){
        this.counter--
      }      
    },
    clickLicenseEvent($event) {
      this.show_license_uploader_button=false

      $("#vll_light_type_upload_uploader").show()
      $("#light_type_upload_id").trigger('click')
    },
    clickLightSelectEvent(e){
      this.light_type_selected_error=false
      this.light_type_selected=e.currentTarget.getAttribute('data_light_key')
      this.light_type_selected_index=e.currentTarget.getAttribute('data_light_index')

      //active selected 
      const divs = document.getElementsByClassName("light_types")
      let i=0;

      for (i = 0; i < divs.length; ++i) {
        divs[i].removeAttribute("style")
      }
      e.currentTarget.setAttribute("style", "background-color: #d7d7d7;");
    },
    uploadImageSuccess(formData, index, fileList) {
      this.light_images=fileList

      this.image_error=false
    },
    beforeRemove (index, done, fileList) {
      console.log('index', index, fileList)
      var r = confirm(this.$t('current_lighting_add.conform_box.heading'))
      if (r == true) {
        done()
      } else {
      }
    },
    editImage (formData, index, fileList) {
      console.log('edit data', formData, index, fileList)
    },
    dataChange (data) {
      console.log(data)
    },
    validateBeforeSubmit() {

      this.$validator.validateAll().then((result) => {

        var light_type_validation=true;
        var image_validation=true;

        if(this.light_type_selected ==""){
          this.light_type_selected_error=true
          light_type_validation=false
          
          $('html, body').animate({
              scrollTop: $("#light_type_selected_error").offset().top - 100
          }, 1000);
        }else{
          light_type_validation=true
        }

        if(this.light_images.length == 0){
          this.image_error=true
          image_validation=false
        }else{
          this.image_error=false
          image_validation=true
        }

        if (light_type_validation && image_validation && result) {

          this.light_type_selected_error=false

          this.$store.commit('apply/add_lights', {
              "key":this.light_type_selected,
              "counter":this.counter,
              "index":this.light_type_selected_index,
              "images":this.light_images,
          })
          this.$router.push('/apply/current-lighting-list')
          
        }        
      });
    }
  }
}
</script>
