<template>
  <div>
    <div class="welcome login-main">
       <h2>{{ $t('lighting_color.heading') }}</h2>
       <helpModal />
    </div>
    <br>   
    <br>   
  <form @submit.prevent="validateBeforeSubmit">
    <div class="login-form">
        <div class="col-md-12 mx-auto">
          <hr>
          <p class="content-pro" v-html="$t('lighting_color.description')"></p>
          <div class="card rounded-0">
              <div class="card-body">
                <div class="form-group">
                    <label for="lighting_color">{{ $t('lighting_color.label.lighting_color') }}</label>
                    <div class="custom-select-rename">
                      <select v-model="lighting_color">
                        <option :value="$t('lighting_color_options.3000k')">{{ $t('lighting_color_options.3000k') }}</option>
                        <option :value="$t('lighting_color_options.4000k')">{{ $t('lighting_color_options.4000k') }}</option>
                        <option :value="$t('lighting_color_options.6000k')">{{ $t('lighting_color_options.6000k') }}</option>
                      </select>
                    </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="btn-show login-for">
          <button type="submit" class="btn btn-primary">{{ button_label }}</button>
          <b-link to="/apply/video-walkthrough">{{ $t('button.back') }}</b-link>
        </div>
      </div>

    </form>
    <locales/>
  </div>
</template>

<script>
import locales from '~/components/locales';
import helpModal from '~/components/application-help-modal';

export default {
  layout: 'application',
  head() {
    return { title: this.$t('lighting_color.title') }
  },
  components:{ locales,helpModal },
  data () {
    return {
      lighting_color: this.$t('lighting_color_options.3000k'),
      button_label:this.$t('button.next'),
    }
  },
  mounted(){
    if(this.$store.state.apply.form_data.redirect_review){
      this.button_label=this.$t('button.back_to_review');  
    }
    if(this.$store.state.apply.form_data.basic_info.lighting_color){
      this.lighting_color=this.$store.state.apply.form_data.basic_info.lighting_color;
    }
    
  }, 
  methods: {
    validateBeforeSubmit() {
      this.$validator.validateAll().then((result) => {
        if (result) {

          if(this.lighting_color.length != 0){

            this.$store.commit('apply/add_lighting_color', {
              "lighting_color":this.lighting_color
            })

            this.handleSaveDraft();
          }
          if(this.$store.state.apply.form_data.redirect_review){
            this.$router.push('/apply/review');
          }else{
            this.$router.push('/apply/almost-done')
          }
        }        
      });
    },
    handleSaveDraft(){
      this.$store.commit('apply/toggle_status', {
        "value":"draft"
      })
      let self = this;

      this.$axios({
        method: 'post',
        url: '/users',
        data: JSON.stringify(this.$store.state.apply.form_data.basic_info),
      })
      .then(function (response) {
        if(response.data.status){
          self.$store.commit('apply/set_application_data', response.data.data);
        }
        
      })
    }
  }
}
</script>
