<template>
  <div>
    <div class="welcome login-main for-head">
       <h2>{{ $t('current_lighting.heading') }}</h2>
       <hr>
    </div>
    
    
    <div class="col-md-12">
      <div class="content">
         <p v-html="$t('current_lighting.paragraph')"></p>
      </div>
      <div class="btn-show">
        <b-link to="/apply/current-lighting-add" v-show="(Object.keys(this.$store.state.apply.form_data.basic_info.lights).length < 5)"><button type="button" class="btn btn-border-white btn-primary"><img class="perfect-style" src="~assets/img/plus.png"> {{ $t('button.add_lighting') }}</button></b-link>

        <!-- Directly GO to Listing -->
        <b-link to="/apply/current-lighting-list" v-show="(Object.keys(this.$store.state.apply.form_data.basic_info.lights).length > 4)"><button type="button" class="btn btn-border-white btn-primary"> {{ $t('current_lighting.heading') }}</button></b-link>

        <b-link to="/apply/electrical-panel">{{ $t('button.back') }}</b-link>
      </div>
    </div>
    <locales/>
  </div>
</template>

<script>
import locales from '~/components/locales';

//import i18n from '~/plugins/i18n';

export default {
  layout: 'application',
  head() {
    return { title: this.$t('current_lighting.title') }
  },
  components:{ locales }
}
</script>
