<template>
  <div>
    <form @submit.prevent="validateBeforeSubmit">
      <div class="welcome login-main">
             <h2>{{ $t('current_lighting_list.heading') }}</h2>
              <helpModal />
          </div>
          <div class="login-form">
            <div class="col-md-12 mx-auto">
              <div v-show="lights_error" class="text-danger p-2 card rounded-0">{{ $t('current_lighting_list.errors.light_select') }}</div>

              <div class="light-type review-type" v-for="(light,key) in lights">
                <div class="current-sec">
                  <div class="types pull-left">
                    <h3>{{ $t(key) }}</h3>
                  </div>
                  <div class="typer-current pull-right delete-btn-icon" @click="remove" style="cursor:pointer;" :data_delete_key="key">
                    <img src="~/assets/img/delete.png"  >
                  </div>
                </div>

               

                <div class="type-1">
                  <div class="increase" style="text-align: center; padding:20px 0px;">
                    <div class="inc-dic">
                      <div class="value-button" id="decrease" @click="decreaseValue" :data_object_index="key">
                        <img src="~/assets/img/minus.png">
                      </div>
                      <input type="number" class="number" :name="key" :value="light.counter" readonly="true" />

                      <!-- <span class="number"> {{ light.counter }}</span> -->
                      <div class="value-button" id="increase" @click="increaseValue" :data_object_index="key">
                        <img src="~/assets/img/plus.png">
                      </div>
                    </div>
                  </div>

                  <div class="light_images_wrapper_class">
                     <no-ssr placeholder="Loading...">
                      <div id="vll_light_images_uploader" class="light_class" :style="(light.images.length > 0) ? '':'display: none;'">

                          <vue-upload-multiple-image   
                            @upload-success="uploadLightImage"
                            @before-remove="beforeRemoveLightImage"                   
                            :data-images="light.images"
                            dragText=""
                            dropText=""
                            browseText=""
                            primaryText=""
                            markIsPrimaryText=""
                            popupText=""
                          ></vue-upload-multiple-image>
                      </div>
                      
                    </no-ssr>
                  </div>

                </div>
              </div>

            </div>
          </div>

          <div class="col-md-12">
            <div class="btn-show big-call login-for">

              <b-link to="/apply/current-lighting-add" v-show="(Object.keys(this.$store.state.apply.form_data.basic_info.lights).length < 5)"><button type="button" class="btn btn-border-white cureent-second add-type btn-primary"><img class="perfect-style" src="~assets/img/plus.png"> {{ $t('button.add_type') }}</button></b-link>
              
              <button type="submit" class="btn btn-border-white cureent-second pure add-type btn-primary"> {{ button_label }}</button>

              <b-link to="/apply/current-lighting">{{ $t('button.back') }}</b-link>
            </div>
          </div>          
      <locales/>
    </form>
  </div>
</template>

<script>
import locales from '~/components/locales'
import helpModal from '~/components/application-help-modal'

let VueUploadMultipleImage
if (process.client) {
  VueUploadMultipleImage = require('vue-upload-multiple-image').default
}

export default {
  layout: 'application',
  head() {
    return { title: this.$t('current_lighting_list.title') }
  },
  components:{ locales,helpModal,VueUploadMultipleImage },
  data () {
    return {
      data_delete_key:"",
      formOkay:false,
      lights_error:false,
      //lights:{},
      //grille_light:this.$store.state.lightings.user_lights.grille_light.counter,
      button_label:this.$t('button.next'),
    }
  },
  mounted(){
    if(this.$store.state.apply.form_data.redirect_review){
      this.button_label=this.$t('button.back_to_review');  
    }
  }, 
  computed: {
    lights(){
      return this.$store.state.apply.form_data.basic_info.lights
    }
  },
  methods: {
    uploadLightImage(formData, index, fileList) {
      console.log(formData);
      console.log(index);
      console.log(fileList);

      this.$store.commit('apply/add_exterior_upload', {
        "images":fileList
      })

    },
    beforeRemoveLightImage(index, done, fileList) {

      var r = confirm(this.$t('electrical_panel.conform_box.heading'))
      if (r == true) {
        this.$store.commit('apply/add_interior_upload', {
          "images":fileList
        })
        done()
      } else {
      }
    },
    increaseValue(e) {
      var data_object_index=e.currentTarget.getAttribute('data_object_index')

      this.$store.commit('apply/increase_light_counter', {
          "index":data_object_index
      })
      this.$forceUpdate();
    },
    decreaseValue(e) {
      var data_object_index=e.currentTarget.getAttribute('data_object_index')

      this.$store.commit('apply/decrease_light_counter', {
          "index":data_object_index
      })
      this.$forceUpdate();
    },
    remove(e){
      var r = confirm(this.$t("current_lighting_list.conform_box.heading"))
      
      if (r == true) {
        this.data_delete_key=e.currentTarget.getAttribute('data_delete_key')

        this.$store.commit('apply/delete_lights', {
            "light_type":this.data_delete_key
        })

        this.$forceUpdate(); 

      } else {
      }
    },
    validateBeforeSubmit() {

      this.$validator.validateAll().then((result) => {
        if (result) {

          if(Object.keys(this.$store.state.apply.form_data.basic_info.lights).length == 0){
            this.lights_error=true
            this.formOkay=false
          }else{
            this.lights_error=false
            this.formOkay=true
          }

          if(this.formOkay) {
            
            this.handleSaveDraft();

            if(this.$store.state.apply.form_data.redirect_review){
              this.$router.push('/apply/review')
            }else{
              this.$router.push('/apply/video-walkthrough')
            }
          }
          
        }        
      });
    },
    handleSaveDraft(){
      this.$store.commit('apply/toggle_status', {
        "value":"draft"
      })
      let self = this;

      this.$axios({
        method: 'post',
        url: '/users',
        data: JSON.stringify(this.$store.state.apply.form_data.basic_info),
      })
      .then(function (response) {
        if(response.data.status){
          self.$store.commit('apply/set_application_data', response.data.data);
        }
        
      })
    }
  }
}
</script>
