<template>
  <div>
    <div class="welcome login-main for-head">
       <h2>{{ $t('disqualify.heading') }}</h2>
       <hr>
    </div>
    
    
    <div class="col-md-12">
      <div class="content">
        <p v-html="$t('disqualify.multiple_reasons')" v-if="($store.state.apply.form_data.disqualify_reason_key == 'multiple_reasons')"></p>

         <p v-html="$t('disqualify.reason1')" v-else-if="($store.state.apply.form_data.disqualify_reason_key == 'reason1')"></p>
         <p v-html="$t('disqualify.reason2')" v-else="($store.state.apply.form_data.disqualify_reason_key == 'reason2')"></p>

      </div>
      <div class="btn-show">
        <b-link to="/apply/more-information">{{ $t('button.back') }}</b-link>
      </div>
    </div>
    <locales/>
  </div>
</template>

<script>
import locales from '~/components/locales';
import helpModal from '~/components/application-help-modal';

export default {
  layout: 'application',
  data () {
    return { 
      reason: ''
    }
  },
  /*asyncData ({ params }) {
    return { reason: params }
  },*/

  /*asyncData ({ params }) {
    
      return { reason: 'params.reason' }
    
  },*/
  async asyncData () {
  },
  head() {
    return { title: this.$t('disqualify.title') }
  },
  components:{ locales,helpModal }
}
</script>
