<template>
<div>
  <div class="welcome login-main">
     <h2>{{ $t('documents.heading') }}</h2>
     <helpModal />
  </div>
  <form @submit.prevent="validateBeforeSubmit">
    <div class="col-md-12 mx-auto">
      <div class="login-form">
        <div style="font-size: 17px;" class="video" v-html="$t('documents.business_license_description')">
        </div>

        <div class="recent-video-flow ">
            <div class="vdo">
              <p>{{ $t('documents.label.business_license') }}</p>
            </div>
            
            <div v-show="license_images_error" class="validation_error_message">
              {{ $t('documents.validation_error.license') }}
            </div>
            
            <div v-if="show_license_uploader_button" :class="{'take-camera':true,'is-label-danger': (license_images_error) }"><div class="red-flag" @click="clickLicenseEvent" >
              <img src="~/assets/img/camera-pink.png" v-if="(license_images_error)">
              <img src="~/assets/img/camera.png" v-else>
              <span>{{ $t('button.take_photo') }}</span></div></div>

            <div class="clearfix"></div>

            <no-ssr placeholder="Loading...">
              <div class="show_license_uploader_class vll_multiple_images_uploader_wrapper" id="vll_show_license_uploader" :style="(this.$store.state.apply.form_data.basic_info.license_images.length > 0) ? '':'display: none;'">
                  <vue-upload-multiple-image
                    @upload-success="uploadImageSuccess_license"
                    @before-remove="beforeRemovelicense_images"
                    @edit-image="editImage"
                    @data-change="dataChange"
                    
                    :data-images="this.$store.state.apply.form_data.basic_info.license_images"
                    idUpload="myIdUpload"
                    editUpload="myIdEdit"
                    dragText=""
                    dropText=""
                    browseText=""
                    primaryText=""
                    markIsPrimaryText=""
                    popupText=""
                    accept="image/jpeg,image/jpg"
                  ></vue-upload-multiple-image>
              </div>
              
            </no-ssr>
        </div>
      <hr>
          
      </div> <!-- login-form -->

      <!-- <div class="col-md-12">
        
      </div> -->
      <div class="btn-show login-for">
          <button class="btn btn-primary skip_button" @click="clickSkipButtonEvent" v-if="(license_images_error)">{{ $t('button.skip') }}</button>

          <button type="submit" :class="{'btn btn-border-white btn-primary': true,'validation_success': !(license_images_error) }" v-else="">{{ button_label }}</button>

          <b-link to="/apply/taipower-account">{{ $t('button.back') }}</b-link>
      </div>
    </div>
  </form>
  <locales />
</div>
</template>


<style scoped>

</style>

<script>
import axios from "axios"

import busyOverlay from '~/components/busy-overlay'
import locales from '~/components/locales'

import helpModal from '~/components/application-help-modal';


let VueUploadMultipleImage
if (process.client) {
  VueUploadMultipleImage = require('vue-upload-multiple-image').default
}

export default {
  layout:'application',
  components: { busyOverlay ,locales,VueUploadMultipleImage,helpModal},
  head() {
    return { title: this.$t('documents.title') }
  },
  props: {
    /*maxImage: {
      type: Number,
      default: 2
    }*/
  },
  data: () => ({
    //errors:[],
    formOkay:false,
    test:"",

    license_images: [],
    license_images_error:false,

    show_license_uploader_button:true,
    button_label:'',

  }),
  mounted(){
    this.button_label=this.$t('button.next')
    
    if(this.$store.state.apply.form_data.basic_info.license_images.length > 0){
      this.show_license_uploader_button=false  
    }
    if(this.$store.state.apply.form_data.redirect_review){
      this.button_label=this.$t('button.back_to_review');  
    }
  },
  methods: {
    clickSkipButtonEvent($e){  
      if(this.$store.state.apply.form_data.redirect_review){
        this.$router.push('/apply/review');
      }else{
        
        if(this.$store.state.apply.form_data.basic_info.installation_location == this.$t('option.yes')){
          this.$router.push('/apply/rental');
        }else{
          this.$router.push('/apply/electrical-panel');  
        }
      }
    },
    clickLicenseEvent($event) {
      this.show_license_uploader_button=false

      $("#vll_show_license_uploader").show()
      $("#myIdUpload").trigger('click')
      
    },
    
    
    uploadImageSuccess_license(formData, index, fileList) {

      this.$store.commit('apply/add_license_images_upload', {
        "images":fileList
      })

      this.license_images_error=false
    },
    
    beforeRemovelicense_images (index, done, fileList) {

      var r = confirm(this.$t('documents.conform_box.heading'))
      if (r == true) {

        this.$store.commit('apply/add_license_images_upload', {
          "images":fileList
        })

        if(this.$store.state.apply.form_data.basic_info.license_images.length < 2){
          this.show_license_uploader_button=true;
        }

        done()

      } else {
      }
    },
    editImage (formData, index, fileList) {
      console.log('edit data', formData, index, fileList)
    },
    dataChange (data) {
      console.log(data)
    },
    validateBeforeSubmit() {

      this.$validator.validateAll().then((result) => {

        this.formOkay=false

       
        if(this.$store.state.apply.form_data.basic_info.license_images.length == 0){
          this.license_images_error=true
          this.formOkay=false
        }else{
          this.license_images_error=false
          this.formOkay=true
        }

        if(this.formOkay) {

          this.handleSaveDraft();
          //redirect Review screen logic
          if(this.$store.state.apply.form_data.redirect_review){
            this.$router.push('/apply/review')
          }else{

            if(this.$store.state.apply.form_data.basic_info.installation_location == this.$t('option.yes')){
              this.$router.push('/apply/rental');
            }else{
              this.$router.push('/apply/electrical-panel');  
            }

          }         
        }
      });
    },
    handleSaveDraft(){
      this.$store.commit('apply/toggle_status', {
        "value":"draft"
      })
      let self = this;

      this.$axios({
        method: 'post',
        url: '/users',
        data: JSON.stringify(this.$store.state.apply.form_data.basic_info),
      })
      .then(function (response) {
        if(response.data.status){
          self.$store.commit('apply/set_application_data', response.data.data);
        }
        
      })
    }
  }
}
</script>
