<template>
<div>
  <div class="welcome login-main">
     <h2>{{ $t('electrical_panel.heading') }}</h2>
     <helpModal />
  </div>
  <form @submit.prevent="validateBeforeSubmit">
    <div class="col-md-12 mx-auto">
      <div class="login-form">

        <div class="recent-video-flow">
          <div class="vdo">
            <p>{{ $t('electrical_panel.label.quantity_heading') }}</p>
          </div>
          <div class="">
            <div v-show="(errors.has('quantity'))" class="validation_error_message">
              {{ $t('electrical_panel.errors.quantity') }}
            </div>
            <div class="card-body">
              <div class="form-group">
                  <label for="quantity" :class="{'is-label-danger': errors.has('quantity') }">{{ $t('electrical_panel.label.quantity') }}</label>
                  <div class="custom-select-rename">
                    <select @change="changePanelQuantity" v-validate="'required'" v-model="quantity" id="quantity"   :class="{'input': true, 'is-danger': errors.has('quantity') }" name="quantity">
                      <option value=""></option>
                      <option :value="$t('panel_quantity_options.one')">{{ $t('panel_quantity_options.one') }}</option>
                      <option :value="$t('panel_quantity_options.two')">{{ $t('panel_quantity_options.two') }}</option>
                      <option :value="$t('panel_quantity_options.more_than_two')">{{ $t('panel_quantity_options.more_than_two') }}</option>
                    </select>
                  </div>
              </div>
            </div>

            <div style="border-top:1px solid rgba(0, 0, 0, 0.15);" v-if="(have_2_or_more_panels)">
              <div v-show="(errors.has('distance') )" class="validation_error_message">
                {{ $t('electrical_panel.errors.distance') }}
              </div>
             <div class="card-body">

                <div class="form-group">
                    <label for="distance" :class="{'is-label-danger': errors.has('distance') }">{{ $t('electrical_panel.label.distance') }}</label>
                    <div class="custom-select-rename">
                      <select v-validate="'required'" v-model="distance" name="distance" id="distance"  :class="{'input': true, 'is-danger': errors.has('distance') }">
                        <option value=""></option>
                        <option :value="$t('panel_distance_options.less_than_4_meters')">{{ $t('panel_distance_options.less_than_4_meters') }}</option>
                        <option :value="$t('panel_distance_options.more_than_4_meters')">{{ $t('panel_distance_options.more_than_4_meters') }}</option>
                      </select>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="video" v-if="($t('electrical_panel.label.video_src'))">
          <iframe width="420" height="345" v-bind:src="$t('electrical_panel.label.video_src')"></iframe>
        </div>
        <p v-html="$t('electrical_panel.required_documents')"></p>
        <p v-html="$t('electrical_panel.description')"></p>
        <div class="recent-video-flow">
          <div class="vdo">
            <p>{{ $t('electrical_panel.label.electrical_panel') }}</p>
          </div>

          <div v-show="interior_error" class="validation_error_message">
            {{ $t('electrical_panel.errors.interior') }}
          </div>

          <div v-if="interior_uploader_button" :class="{'take-camera':true,'is-label-danger': (interior_error) }">
            <div @click="clickInteriorEvent" class="red-flag">
              <img src="~/assets/img/camera-pink.png" v-if="(interior_error)">
              <img src="~/assets/img/camera.png" v-else>
              <span>{{ $t('button.take_photo') }}</span>
            </div>
          </div>

          <div class="clearfix"></div>

          <no-ssr placeholder="Loading...">
            <div id="vll_interior_uploader" class="interior_uploader_class" :style="(this.$store.state.apply.form_data.basic_info.interior.length > 0) ? '':'display: none;'">
                <vue-upload-multiple-image
                  @upload-success="uploadInteriorImageSuccess"
                  @before-remove="beforeRemoveinterior"
                  @edit-image="editImage"
                  @data-change="dataChange"
                  :data-images="this.$store.state.apply.form_data.basic_info.interior"
                  idUpload="show_interior_uploader_id"
                  editUpload="show_interior_editor_id"
                  dragText=""
                  dropText=""
                  browseText=""
                  primaryText=""
                  markIsPrimaryText=""
                  popupText=""
                ></vue-upload-multiple-image>
            </div>
            
          </no-ssr>

       

        </div>

        <div class="recent-video-flow ">
            <div class="vdo">
              <p>{{ $t('electrical_panel.label.electrical_panel_surrounding') }}</p>
            </div>
            <div v-show="exterior_error" class="validation_error_message">
              {{ $t('electrical_panel.errors.exterior') }}
            </div>

            <div v-if="exterior_uploader_button" :class="{'take-camera':true,'is-label-danger': (exterior_error) }">
              <div class="red-flag" @click="clickExteriorEvent" >
                <img src="~/assets/img/camera-pink.png" v-if="(exterior_error)">
                <img src="~/assets/img/camera.png" v-else>
                <span>{{ $t('button.take_photo') }}</span></div>
            </div>

            <div class="clearfix"></div>

            <no-ssr placeholder="Loading...">
              <div id="vll_exterior_uploader" class="exterior_class" :style="(this.$store.state.apply.form_data.basic_info.exterior.length > 0) ? '':'display: none;'">
                  <vue-upload-multiple-image
                    @upload-success="uploadExteriorImageSuccess"
                    @before-remove="beforeRemoveExterior"
                    @edit-image="editImage"
                    @data-change="dataChange"
                    :data-images="this.$store.state.apply.form_data.basic_info.exterior"
                    idUpload="show_exterior_uploader_id"
                    editUpload="show_exterior_editor_id"
                    dragText=""
                    dropText=""
                    browseText=""
                    primaryText=""
                    markIsPrimaryText=""
                    popupText=""
                  ></vue-upload-multiple-image>
              </div>
              
            </no-ssr>

           
        </div>
        
      <hr>
          
      </div> <!-- login-form -->

      <div class="btn-show login-for">
        <button class="btn btn-primary skip_button" @click="clickSkipButtonEvent" v-if="(interior_error || exterior_error || errors.has('quantity') || (have_2_or_more_panels && errors.has('distance'))  )">{{ $t('button.skip') }}</button>

        <button type="submit" :class="{'btn btn-border-white btn-primary': true,'validation_success': !(interior_error || exterior_error || errors.has('quantity') || (have_2_or_more_panels && errors.has('distance')) ) }" v-else="">{{ button_label }}</button>


        <b-link to="/apply/rental" v-if="(this.$store.state.apply.form_data.basic_info.installation_location == $t('option.yes'))">{{ $t('button.back') }}</b-link>
        
        <b-link to="/apply/documents" v-else>{{ $t('button.back') }}</b-link>
      </div>
    </div>
  </form>
  <locales />

</div>
</template>


<style scoped>

</style>

<script>
import axios from "axios"

import busyOverlay from '~/components/busy-overlay'
import locales from '~/components/locales'
import helpModal from '~/components/application-help-modal';

let VueUploadMultipleImage
if (process.client) {
  VueUploadMultipleImage = require('vue-upload-multiple-image').default
}

export default {
  layout:'application',
  components: { busyOverlay ,locales,VueUploadMultipleImage, helpModal},
  head() {
    return { title: this.$t('electrical_panel.title') }
  },
  data: () => ({
    //errors:[],
    button_label:'',
    formOkay:false,
    exterior_image_check:false,

    interior_error:false,

    exterior_error:false,
    
    interior_uploader_button:true,
    exterior_uploader_button:true,
    have_2_or_more_panels:false,


    quantity: "",
    distance: "",
  }),
  mounted(){
    this.button_label=this.$t('button.next')

    if(this.$store.state.apply.form_data.basic_info.interior.length > 0){
      this.interior_uploader_button=false  
    }
    if(this.$store.state.apply.form_data.basic_info.exterior.length > 0){
      this.exterior_uploader_button=false  
    }
    if(this.$store.state.apply.form_data.basic_info.electrical_panel_quantity){
      this.quantity=this.$store.state.apply.form_data.basic_info.electrical_panel_quantity;
    }
    if(this.$store.state.apply.form_data.basic_info.electrical_panel_quantity == this.$t('panel_quantity_options.two')){
      this.distance=this.$store.state.apply.form_data.basic_info.electrical_panel_distance;
      this.have_2_or_more_panels=true;
    }
    if(this.$store.state.apply.form_data.redirect_review){
      this.button_label=this.$t('button.back_to_review');  
    }
    
  },
  methods: {
    changePanelQuantity($e){
      let quanity_two=this.$t('panel_quantity_options.two');

      this.have_2_or_more_panels=false;
      if((quantity.value == quanity_two)){
        this.have_2_or_more_panels=true;
      }
    },
    clickSkipButtonEvent($e){
      if(this.$store.state.apply.form_data.redirect_review){
        this.$router.push('/apply/review');
      }else{
        this.$router.push('/apply/current-lighting');
      }
    },
    clickInteriorEvent($event) {
      this.interior_uploader_button=false
      
      $("#vll_interior_uploader").show()
      $("#show_interior_uploader_id").trigger('click')
    }, 
    clickExteriorEvent($event) {
      this.exterior_uploader_button=false

      $("#vll_exterior_uploader").show()
      $("#show_exterior_uploader_id").trigger('click')
    },
    uploadInteriorImageSuccess(formData, index, fileList) {
      this.$store.commit('apply/add_interior_upload', {
        "images":fileList
      })

      this.interior_error=false
    },
    uploadExteriorImageSuccess(formData, index, fileList) {
      this.$store.commit('apply/add_exterior_upload', {
        "images":fileList
      })

      this.exterior_error=false
    },
    beforeRemoveinterior (index, done, fileList) {

      var r = confirm(this.$t('electrical_panel.conform_box.heading'))
      if (r == true) {
        this.$store.commit('apply/add_interior_upload', {
          "images":fileList
        })
        done()
      } else {
      }
    },
    beforeRemoveExterior (index, done, fileList) {
      var r = confirm(this.$t('electrical_panel.conform_box.heading'))
      if (r == true) {
        this.$store.commit('apply/add_exterior_upload', {
          "images":fileList
        })
        done()
      } else {
      }
    },
    editImage (formData, index, fileList) {
      //console.log('edit data', formData, index, fileList)
    },
    dataChange (data) {
      //console.log(data)
    },
    validateBeforeSubmit() {

      this.$validator.validateAll().then((result) => {

        if(this.$store.state.apply.form_data.basic_info.interior.length == 0){
          this.interior_error=true
          this.formOkay=false
        }else{
          this.interior_error=false
          this.formOkay=true
        }

        this.exterior_image_check=false
        if(this.$store.state.apply.form_data.basic_info.exterior.length == 0){
          this.exterior_error=true
          this.exterior_image_check=false
        }else{
          this.exterior_error=false
          this.exterior_image_check=true
        }

        if(this.formOkay && this.exterior_image_check && result) {
          
          this.$store.commit('apply/add_electrical_panel_data', {
            "electrical_panel_quantity":this.quantity,
            "electrical_panel_distance":this.distance
          })
          
          this.handleSaveDraft();

          if(this.$store.state.apply.form_data.redirect_review){
            this.$router.push('/apply/review')
          }else{
            this.$router.push('/apply/current-lighting')
          }
        }
            
      });
    },
    handleSaveDraft(){
      this.$store.commit('apply/toggle_status', {
        "value":"draft"
      })
      let self = this;

      this.$axios({
        method: 'post',
        url: '/users',
        data: JSON.stringify(this.$store.state.apply.form_data.basic_info),
      })
      .then(function (response) {
        if(response.data.status){
          self.$store.commit('apply/set_application_data', response.data.data);
        }
        
      })
    }
  }
}
</script>
