<template>
  <div>
    <div class="welcome login-main">
       <h2>{{ $t('started.heading') }}</h2>
      <helpModal />
      <hr>
      <!-- The Modal -->
      
    </div>      
    <div class="col-md-12">
      <div class="tooltip-flow">
        <div class="text-tool">
          <p v-html="$t('started.paragraph_1')"></p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="btn-show">
        <b-link to="/apply/basic-information"><button type="button" class="btn getting btn-primary">{{ $t('button.next') }}</button></b-link>
      </div>
    </div>
  </div>
</template>

<script>
import locales from '~/components/locales';
import helpModal from '~/components/application-help-modal';

//import i18n from '~/plugins/i18n';

export default {
  layout: 'application',
  components:{ locales ,helpModal},
  methods: {
  },
  head() {
    return { title: this.$t('started.title') }
  },
  
}
</script>
