<template>
<div>
  <div class="welcome login-main">
     <h2>{{ $t('installation_address.heading') }}</h2>
     <helpModal />
  </div>
  <form @submit.prevent="validateBeforeSubmit">
    <div class="login-form">
      <div class="col-md-12 mx-auto">
        <div class="card rounded-0">
          <div class="validation_error_message top-radius-bar" v-show="(errors.has('city') || errors.has('district') || errors.has('address') )">
            {{ $t('installation_address.validation_error.message') }}
          </div>
            <div class="card-body">
              <busy-overlay />
                <div class="form-group">
                    <label for="city" :class="{'is-label-danger': errors.has('city') }">{{ $t('installation_address.label.city') }}</label>
                    <div class="custom-select-rename" >
                      <select @change="citySelected" v-validate="'required'" name="city" id="city" v-model="city"  :class="{'input': true, 'is-danger': errors.has('city') }">
                        <option v-for="city in Object.keys($t('installation_address.cities'))" :value="city">{{ city.split('_').join(' ') }}</option>
                      </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="district" :class="{'is-label-danger': errors.has('district') }">{{ $t('installation_address.label.district') }}</label>
                    <select v-validate="'required'" name="district" id="district" v-model="district"  :class="{'input': true, 'is-danger': errors.has('district') }">
                        <option v-for="district_name in districts" :value="district_name">{{ district_name }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="address" :class="{'is-label-danger': errors.has('address') }">{{ $t('installation_address.label.address') }}</label>
                    <input type="text" v-model="address" v-validate="'required'" :class="{'form-control form-control-lg rounded-0-rename input': true, 'is-danger': errors.has('address') }" name="address" id="address">
                </div>
                
            </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
        <div class="btn-show login-for">
          <button type="submit" :class="{'btn btn-border-white btn-primary': true,'validation_success': !(errors.has('city') || errors.has('district_name') || errors.has('address') ) }">{{ button_label }}</button>
          <b-link to="/apply/contact">{{ $t('button.back') }}</b-link>
      </div>
    </div>
    
  </form>
  <locales />

</div>
</template>
<style scoped>

</style>

<script>
import busyOverlay from '~/components/busy-overlay'
import locales from '~/components/locales'
import helpModal from '~/components/application-help-modal';

import axios from "axios"

export default {
  layout:'application',
  components: { busyOverlay ,locales,helpModal},
  head() {
    return { title: this.$t('installation_address.title') }
  },
  data () {
    return {
      city: this.$store.state.apply.form_data.basic_info.city,
      district: this.$store.state.apply.form_data.basic_info.district,
      address: this.$store.state.apply.form_data.basic_info.address,
      districts:[],
      button_label:this.$t('button.next'),
    }
  },
  mounted(){
    let self=this;

    const object_key=this.$store.state.apply.form_data.basic_info.city
    const language_key="installation_address.cities."+object_key
    this.districts=this.$t(language_key)
    
    if(this.$store.state.apply.form_data.redirect_review){
      this.button_label=this.$t('button.back_to_review');  
    }
  },
  methods: {
    citySelected (){
      const object_key=$("#city").val()
      const language_key="installation_address.cities."+object_key
      this.districts=this.$t(language_key)
    },
    validateBeforeSubmit() {
      this.$validator.validateAll().then((result) => {
        let self = this;
        
        if (result) {

          this.$store.commit('apply/add_install_info', {
            "city":this.city,
            "district":this.district,
            "address":this.address
          })
          self.handleSaveDraft();

          if(this.$store.state.apply.form_data.redirect_review){
            this.$router.push('/apply/review')
          }else{
            this.$router.push('/apply/more-information')
          }

        }        
      });
    },
    handleSaveDraft(){
      this.$store.commit('apply/toggle_status', {
        "value":"draft"
      })
      let self = this;

      this.$axios({
        method: 'post',
        url: '/users',
        data: JSON.stringify(this.$store.state.apply.form_data.basic_info),
      })
      .then(function (response) {
        if(response.data.status){
          self.$store.commit('apply/set_application_data', response.data.data);
        }
        
      })
    }
  }
}
</script>
