<template>
<div>
  <div class="welcome login-main">
     <h2>{{ $t('more_information.heading') }}</h2>
     <helpModal />
  </div>
  <form @submit.prevent="validateBeforeSubmit">
    <div class="login-form">
      <div class="col-md-12 mx-auto">
        <div class="card rounded-0">
          <div class="validation_error_message top-radius-bar" v-show="(errors.has('independent_electrical') || errors.has('installation_location') || errors.has('already_participated') )">
            {{ $t('more_information.validation_error.message') }}
          </div>
            <div class="card-body">
              <busy-overlay />
                <div class="form-group">
                    <label for="independent_electrical" :class="{'is-label-danger': errors.has('independent_electrical') }">{{ $t('more_information.label.independent_electrical') }}</label>
                    <div class="custom-select-rename">
                      <select v-validate="'required'" name="independent_electrical" id="independent_electrical" v-model="independent_electrical"  :class="{'input': true, 'is-danger': errors.has('independent_electrical') }">
                        <option value=""></option>
                        <option :value="$t('option.yes')">{{ $t('option.yes') }}</option>
                        <option :value="$t('option.no')">{{ $t('option.no') }}</option>
                      </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="installation_location" :class="{'is-label-danger': errors.has('installation_location') }">{{ $t('more_information.label.installation_location') }}</label>
                    <div class="custom-select-rename">
                      <select v-validate="'required'" name="installation_location" id="installation_location" v-model="installation_location"  :class="{'input': true, 'is-danger': errors.has('installation_location') }">
                        <option value=""></option>
                        <option :value="$t('option.yes')">{{ $t('option.yes') }}</option>
                        <option :value="$t('option.no')">{{ $t('option.no') }}</option>
                      </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="already_participated" :class="{'is-label-danger': errors.has('already_participated') }" v-html="$t('more_information.label.already_participated')"></label>
                    <div class="custom-select-rename">
                      <select v-validate="'required'" name="already_participated" id="already_participated" v-model="already_participated"  :class="{'input': true, 'is-danger': errors.has('already_participated') }">
                        <option value=""></option>
                        <option :value="$t('option.yes')">{{ $t('option.yes') }}</option>
                        <option :value="$t('option.no')">{{ $t('option.no') }}</option>
                      </select>
                    </div>
                </div>                
            </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="btn-show login-for">
          <button type="submit"  :class="{'btn btn-border-white btn-primary': true,'validation_success': !(errors.has('independent_electrical') || errors.has('installation_location') || errors.has('already_participated') ) }">{{ button_label }}</button>
          <b-link to="/apply/installation-address">{{ $t('button.back') }}</b-link>
      </div>
    </div>
   
  </form>
  <locales />

</div>
</template>
<style scoped>

</style>

<script>
import busyOverlay from '~/components/busy-overlay'
import locales from '~/components/locales'

import helpModal from '~/components/application-help-modal';

import axios from "axios"

export default {
  layout:'application',
  components: { busyOverlay ,locales,helpModal},
  head() {
    return { title: this.$t('more_information.title') }
  },
  data () {
    return {
      independent_electrical: this.$store.state.apply.form_data.basic_info.independent_electrical,
      installation_location: this.$store.state.apply.form_data.basic_info.installation_location,
      already_participated: this.$store.state.apply.form_data.basic_info.already_participated,
      button_label:this.$t('button.next'),
   }
  },
  mounted(){
    if(this.$store.state.apply.form_data.redirect_review){
      this.button_label=this.$t('button.back_to_review');  
    }
  },
  methods: {
    validateBeforeSubmit() {
      this.$validator.validateAll().then((result) => {

        let self = this;

        if (result) {

          if(this.independent_electrical == this.$t('option.no') && this.already_participated == this.$t('option.yes')){

            this.$store.commit('apply/add_disqualify_reason_key', {
              "key":"multiple_reasons"
            })
            this.$router.push('/apply/disqualify')

          }else if(this.independent_electrical == this.$t('option.no')){

            this.$store.commit('apply/add_disqualify_reason_key', {
              "key":"reason1"
            })
            this.$router.push('/apply/disqualify')

          }else if(this.already_participated == this.$t('option.yes')){
            this.$store.commit('apply/add_disqualify_reason_key', {
              "key":"reason2"
            })

            this.$router.push('/apply/disqualify')
          }else{

            this.$store.commit('apply/add_disqualify_reason_key', {
              "key":""
            })

            this.$store.commit('apply/add_more_info', {
              "independent_electrical":this.independent_electrical,
              "installation_location":this.installation_location,
              "already_participated":this.already_participated
            })
            
            this.handleSaveDraft();

            if(this.$store.state.apply.form_data.redirect_review){
              this.$router.push('/apply/review')
            }else{

              /*if(self.$store.state.apply.form_data.basic_info.email){
                this.$axios.post('/api/auth/login', {
                  username: self.$store.state.apply.form_data.basic_info.email,
                  password: self.$store.state.apply.form_data.basic_info.tax_id
                })
                .then(function (response) {
                  if(response.data.status){
                    alert(self.$t('account_exit'));
                  }else{                  
                    self.$router.push('/apply/taipower-account');
                  }
                })
                .catch(function (error) {
                  console.log(error);
                });
              }else{
                this.$router.push('/apply/taipower-account');
              }*/

              this.$router.push('/apply/taipower-account');
              
            }             
          }
        }        
      });
    },
    handleSaveDraft(){
      this.$store.commit('apply/toggle_status', {
        "value":"draft"
      })
      let self = this;

      this.$axios({
        method: 'post',
        url: '/users',
        data: JSON.stringify(this.$store.state.apply.form_data.basic_info),
      })
      .then(function (response) {
        if(response.data.status){
          self.$store.commit('apply/set_application_data', response.data.data);
        }
        
      })
    }
  }
}
</script>
