<template>
  <div>
    <div class="welcome login-main">
       <h2>{{ $t('referral.heading') }}</h2>
       <helpModal />
    </div>   
  <form @submit.prevent="validateBeforeSubmit">
    <div class="login-form">
        <div class="col-md-12 mx-auto">
          <div class="card rounded-0">
              <div class="card-body">
                  <div class="form-group">
                     <label for="uname1">{{ $t('button.referred_by') }}</label>
                      <input type="text" class="form-control form-control-lg rounded-0" name="referral" id="referral" v-model="referral">
                  </div>
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="btn-show login-for">
          <button type="submit" class="btn btn-primary">{{ $t('button.review') }}</button>
          <b-link to="/apply/almost-done">{{ $t('button.back') }}</b-link>
        </div>
      </div>

    </form>
    <locales/>
  </div>
</template>

<script>
import locales from '~/components/locales';
import helpModal from '~/components/application-help-modal';

export default {
  layout: 'application',
  head() {
    return { title: this.$t('referral.title') }
  },
  components:{ locales,helpModal },
  data () {
    return {
      referral: this.$store.state.apply.form_data.basic_info.referral,
    }
  },
  methods: {
    validateBeforeSubmit() {
      this.$validator.validateAll().then((result) => {
        

        if(this.referral.length != 0){

          this.$store.commit('apply/add_referral', {
            "referral":this.referral
          })

          this.handleSaveDraft();
        }
        this.$router.push('/apply/review')
       
      });
    },
    handleSaveDraft(){
      this.$store.commit('apply/toggle_status', {
        "value":"draft"
      })
      let self = this;

      this.$axios({
        method: 'post',
        url: '/users',
        data: JSON.stringify(this.$store.state.apply.form_data.basic_info),
      })
      .then(function (response) {
        if(response.data.status){
          self.$store.commit('apply/set_application_data', response.data.data);
        }
        
      })
    }
  }
}
</script>
