<template>
<div>
  <div class="welcome login-main">
     <h2>{{ $t('rental.heading') }}</h2>
     <helpModal />
  </div>
  <form @submit.prevent="validateBeforeSubmit">
    <div class="col-md-12 mx-auto">
      <div class="login-form">

        <div class="recent-video-flow ">
          <div class="vdo">
            <p>{{ $t('rental.label.rental_agreement') }}.</p>
          </div>

          <div v-show="rental_agreement_images_error" class="validation_error_message">
            {{ $t('rental.validation_error.rental_agreement') }}
          </div>

          <div v-if="show_rental_agreement_uploader_button" :class="{'take-camera':true,'is-label-danger': (rental_agreement_images_error) }"><div @click="clickRentalAgreementEvent" class="red-flag">
            <img src="~/assets/img/camera-pink.png" v-if="(rental_agreement_images_error)">
            <img src="~/assets/img/camera.png" v-else>
            <span>{{ $t('button.take_photo') }}</span></div>
          </div>

          <div class="clearfix"></div>

          <no-ssr placeholder="Loading...">
            <div id="vll_show_rental_agreement_uploader" class="show_rental_agreement_uploader_class vll_multiple_images_uploader_wrapper" :style="(this.$store.state.apply.form_data.basic_info.rental_agreement_images.length > 0) ? '':'display: none;'">
                <vue-upload-multiple-image
                  @upload-success="uploadImageSuccess"
                  @before-remove="beforeRemoverental_agreement_images"
                  @edit-image="editImage"
                  @data-change="dataChange"
                  :data-images="this.$store.state.apply.form_data.basic_info.rental_agreement_images"
                  idUpload="show_rental_agreement_uploader_id"
                  editUpload="show_rental_agreement_editor_id"
                  dragText=""
                  dropText=""
                  browseText=""
                  primaryText=""
                  markIsPrimaryText=""
                  popupText=""
                ></vue-upload-multiple-image>
            </div>
            
          </no-ssr>
        </div>

        <div class="video content-refix" v-html="$t('rental.description')"></div>

      <div>
        <p class="content-refix" v-html="$t('rental.landlord_auth')"></p>
      </div>

      <div class="light-type review-type rev">
        <a target="_blank" href="http://www.africau.edu/images/default/sample.pdf" download="FileName" class="type-1 accord-right document-row">
          <div class="types pull-left">
            <p>
              <img src="~/assets/img/download.png">
              {{ $t('rental.label.download_form') }}
            </p>
          </div>        
        </a>
        <a class="type-1 accord-right document-row" :href="$t('rental.email.download_form')">
          <div class="types pull-left">
            <p>
              <img src="~/assets/img/iconmonstr-email-black.png">
              {{ $t('rental.label.email_landload') }}
            </p>
          </div>        
        </a>

        <div class="type-1 accord-right document-row" >
          <div class="types pull-left">
            <p @click="click_send_message">
              <img src="~/assets/img/chat.png">
              {{ $t('rental.label.send_message') }}
            </p>
            <!-- <a class="accordion"  @click="click_send_message"><span class="image-icons"><img src="~/assets/img/arrow.png" style="width: 27px;"><img class="onclick-show" src="~/assets/img/arrow-down.png"></span></a> -->
            <div class="panel message_options">
              <!-- <a class="type-1" href="line://msg/text/?testing_msg"> -->
              <a class="type-1" :href="$t('rental.message_content.line')">
                <div class="message-sub-icon pull-left">
                 <img class="card-img-top thumbnail-vll" src="~/assets/img/line.png">
                </div>
                <div class="ellipsis">
                  {{ $t('rental.label.line') }}
                </div>
              </a>

              <a class="type-1" :href="sms_message">
                <div class="message-sub-icon pull-left">
                 <img class="card-img-top thumbnail-vll" src="~/assets/img/chat.png">
                </div>
                <div class="ellipsis">
                  {{ $t('rental.label.sms') }}
                </div>
              </a>

            </div>
          </div>
        </div>
      </div>

      <div>
        <p style="font-size: 17px;" v-html="$t('rental.auth_completed')"></p>
      </div>

      <div class="recent-video-flow ">
        <div v-if="show_auth_completed_uploader_button" class="take-camera"><div @click="clickAuthCompletedEvent" class="red-flag"><img src="~/assets/img/camera.png"><span>{{ $t('button.upload_take_photo') }}</span></div></div>

        <div class="clearfix"></div>

        <no-ssr placeholder="Loading...">
          <div id="vll_auth_completed_uploader" class="show_auth_completed_uploader_class vll_multiple_images_uploader_wrapper" :style="(this.$store.state.apply.form_data.basic_info.auth_completed_images.length > 0) ? '':'display: none;'">
              <vue-upload-multiple-image
                @upload-success="uploadAuthCompletedSuccess"
                @before-remove="beforeRemove_auth_completed_images"
                @edit-image="editImage"
                @data-change="dataChange"
                :data-images="this.$store.state.apply.form_data.basic_info.auth_completed_images"
                idUpload="show_auth_completed_uploader_id"
                editUpload="show_auth_completed_editor_id"
                dragText=""
                dropText=""
                browseText=""
                primaryText=""
                markIsPrimaryText=""
                popupText=""
              ></vue-upload-multiple-image>
          </div>
          
        </no-ssr>

      </div>

      <hr/>
          
    </div> <!-- login-form -->

      <!-- <div class="col-md-12">
        
      </div> -->
      <div class="btn-show login-for">
          <button class="btn btn-primary skip_button" @click="clickSkipButtonEvent" v-if="(rental_agreement_images_error)">{{ $t('button.skip') }}</button>

          <button type="submit" :class="{'btn btn-border-white btn-primary': true,'validation_success': !(rental_agreement_images_error) }" v-else="">{{ button_label }}</button>

          <b-link to="/apply/documents">{{ $t('button.back') }}</b-link>
      </div>
    </div>
  </form>
  <locales />
</div>
</template>


<style scoped>

</style>

<script>
import axios from "axios"

import busyOverlay from '~/components/busy-overlay'
import locales from '~/components/locales'

import helpModal from '~/components/application-help-modal';


let VueUploadMultipleImage
if (process.client) {
  VueUploadMultipleImage = require('vue-upload-multiple-image').default
}

export default {
  layout:'application',
  components: { busyOverlay ,locales,VueUploadMultipleImage,helpModal},
  head() {
    return { title: this.$t('rental.title') }
  },
  data: () => ({
    formOkay:false,

    rental_agreement_images:[],
    rental_agreement_images_error:false,
    show_rental_agreement_uploader_button:true, 

    auth_completed_images:[],
    show_auth_completed_uploader_button:true,
    button_label:'',
    sms_message:'',

    
  }),
  mounted(){
    this.button_label=this.$t('button.next')
    
    if(this.$store.state.apply.form_data.basic_info.rental_agreement_images.length > 0){
      this.show_rental_agreement_uploader_button=false  
    }
    if(this.$store.state.apply.form_data.basic_info.auth_completed_images.length > 0){
      this.show_auth_completed_uploader_button=false
    }
    if(this.$store.state.apply.form_data.redirect_review){
      this.button_label=this.$t('button.back_to_review');  
    }

    var ua = navigator.userAgent.toLowerCase();
    var url;
                
    if (ua.indexOf("iphone") > -1 || ua.indexOf("ipad") > -1)
        url = "sms:&body=" + this.$t('rental.message_content.sms');
    else
        url = "sms:?body=" + this.$t('rental.message_content.sms');

    this.sms_message = url;

    
  },
  methods: {
    click_send_message(e) {
      e.currentTarget.classList.toggle("active");
      var panel = e.currentTarget.nextElementSibling;
      if (panel.style.maxHeight){
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      }
    },
    clickSkipButtonEvent($e){
      if(this.$store.state.apply.form_data.redirect_review){
        this.$router.push('/apply/review');
      }else{
        this.$router.push('/apply/electrical-panel');
      }
    },
    clickRentalAgreementEvent($event) {
      this.show_rental_agreement_uploader_button=false

      $("#vll_show_rental_agreement_uploader").show()
      $("#show_rental_agreement_uploader_id").trigger('click')
    },  
    uploadImageSuccess(formData, index, fileList) {
      this.rental_agreement_images_error=false;

      this.$store.commit('apply/add_rental_agreement_images_upload', {
        "images":fileList
      })
    },
    beforeRemoverental_agreement_images (index, done, fileList) {

      var r = confirm(this.$t('conform_box.heading'))
      if (r == true) {

        this.$store.commit('apply/add_rental_agreement_images_upload', {
          "images":fileList
        })

        if(this.$store.state.apply.form_data.basic_info.rental_agreement_images.length < 2){
          this.show_rental_agreement_uploader_button=true;
        }
        done()
      }
    },
    clickAuthCompletedEvent($event) {
      this.show_auth_completed_uploader_button=false

      $("#vll_auth_completed_uploader").show()
      $("#show_auth_completed_uploader_id").trigger('click')
    },  
    uploadAuthCompletedSuccess(formData, index, fileList) {
      this.$store.commit('apply/add_auth_completed_images_upload', {
        "images":fileList
      })
    },
    beforeRemove_auth_completed_images (index, done, fileList) {

      var r = confirm(this.$t('conform_box.heading'))
      if (r == true) {

        this.$store.commit('apply/add_auth_completed_images_upload', {
          "images":fileList
        })

        if(this.$store.state.apply.form_data.basic_info.auth_completed_images.length < 2){
          this.show_rental_agreement_uploader_button=true;
        }
        done()
      }
    },
    
    editImage (formData, index, fileList) {
      console.log('edit data', formData, index, fileList)
    },
    dataChange (data) {
      console.log(data)
    },
    validateBeforeSubmit() {

      this.$validator.validateAll().then((result) => {

        this.formOkay=false
        // Its a conditional to show or not

        if(this.$store.state.apply.form_data.basic_info.rental_agreement_images.length == 0){
          this.rental_agreement_images_error=true
          this.formOkay=false
        }else{
          this.rental_agreement_images_error=false
          this.formOkay=true
        }
        

        if(this.formOkay) {
          
          this.handleSaveDraft();

          //redirect Review screen logic
          if(this.$store.state.apply.form_data.redirect_review){
            this.$router.push('/apply/review')
          }else{
            this.$router.push('/apply/electrical-panel');
          }          
        }
      });
    },
    handleSaveDraft(){
      this.$store.commit('apply/toggle_status', {
        "value":"draft"
      })
      let self = this;

      this.$axios({
        method: 'post',
        url: '/users',
        data: JSON.stringify(this.$store.state.apply.form_data.basic_info),
      })
      .then(function (response) {
        if(response.data.status){
          self.$store.commit('apply/set_application_data', response.data.data);
        }
        
      })
    }
  }
}
</script>
