<template>
  <div>
    <div class="welcome login-main">
       <h2>{{ $t('review.heading') }}</h2>
       <helpModal />
    </div>   
    <form @submit.prevent="validateBeforeSubmit">
    <div class="login-form">
          <div class="col-md-12 mx-auto">

                <!-- form card login -->
                <div class="light-type review-type for-each rev">
                  <div class="current-sec">
                    <div class="types pull-left">
                      <h3>{{ $t('basic_information.heading') }}</h3>
                    </div>
                    
                    <div class="typer-current review-flow pull-right" v-show="($store.state.apply.form_data.basic_info.status == 'draft')">
                      <span style="cursor: pointer;" @click="clickEditInfo" data_info_type="/apply/basic-information">{{ $t('edit') }} <img src="~/assets/img/pencil.png" ></span>
                    </div>
                  </div>
                  <div class="unfield">
                    <p>{{ $t('basic_information.label.tax_id') }}</p>
                    <h3>{{ $store.state.apply.form_data.basic_info.tax_id }}</h3>
                  </div>

                  <div class="unfield">
                    <p>{{ $t('basic_information.label.company_name') }}</p>
                    <h3>{{ $store.state.apply.form_data.basic_info.company_name }}</h3>
                  </div>

                  <div class="unfield">
                    <p>{{ $t('basic_information.label.name') }}</p>
                    <h3>{{ $store.state.apply.form_data.basic_info.name }}</h3>
                  </div>

                  <div class="unfield">
                    <p>{{ $t('basic_information.label.national_id') }}</p>
                    <h3>{{ $store.state.apply.form_data.basic_info.national_id }}</h3>
                  </div>
                </div>

                <div class="light-type review-type rev">
                  <div class="current-sec">
                    <div class="types pull-left">
                      <h3>{{ $t('contact.heading') }}</h3>
                    </div>
                    <div class="typer-current review-flow pull-right" v-show="($store.state.apply.form_data.basic_info.status == 'draft')">
                      <span style="cursor: pointer;"@click="clickEditInfo" data_info_type="/apply/contact">{{ $t('edit') }} <img src="~/assets/img/pencil.png" /></span>
                    </div>
                    </div>
                  <div class="unfield">
                        <span class="notification"><p>{{ $t('contact.label.email') }}</p>
                        <h3>{{ $store.state.apply.form_data.basic_info.email }}</h3>
                    </span>
                    </div>
                    <div class="unfield">
                        <p>{{ $t('contact.label.main_phone') }}</p>
                        <h3>{{ $store.state.apply.form_data.basic_info.main_phone }}</h3>
                    </div>
                </div>

                <div class="light-type review-type submit-kid rev">
                  <div class="current-sec border-bottom-fill">
                    <div class="types vll_fixing_heading pull-left">
                      <h3>{{ $t('installation_address.heading') }}</h3>
                    </div>
                    <div class="typer-current review-flow pull-right" v-show="($store.state.apply.form_data.basic_info.status == 'draft')">
                      <span style="cursor: pointer;" @click="clickEditInfo" data_info_type="/apply/installation-address">{{ $t('edit') }} <img src="~/assets/img/pencil.png"  ></span>
                    </div>
                    </div>
                    <div class="unfield">
                    <span class="notification"><p>{{ $t('installation_address.label.city') }}</p>
                    <h3>{{ $t($store.state.apply.form_data.basic_info.city.split('_').join(' ')) }}</h3>
                  </span>
                  </div>
                  <div class="unfield">
                    <p>{{ $t('installation_address.label.district') }}</p>
                    <h3>{{ $t($store.state.apply.form_data.basic_info.district) }}</h3>
                  </div>
                  <div class="unfield">
                    <p>{{ $t('installation_address.label.address') }}</p>
                    <h3>{{ $store.state.apply.form_data.basic_info.address }}</h3>
                  </div>
                </div>

                <div class="light-type review-type rev">
                  <div class="current-sec">
                    <div class="types pull-left">
                      <h3>{{ $t('more_information.heading') }}</h3>
                    </div>
                    <div class="typer-current review-flow pull-right" v-show="($store.state.apply.form_data.basic_info.status == 'draft')">
                      <span style="cursor: pointer;" @click="clickEditInfo" data_info_type="/apply/more-information">{{ $t('edit') }} <img src="~/assets/img/pencil.png" ></span>
                    </div>
                    </div>
                    <div class="unfield">
                      <span class="notification"><p>{{ $t('more_information.label.independent_electrical') }}</p>
                        <h3>{{ $store.state.apply.form_data.basic_info.independent_electrical }}</h3>
                      </span>
                    </div>
                    <div class="unfield">
                        <p>{{ $t('more_information.label.installation_location') }}</p>
                        <h3>{{ $store.state.apply.form_data.basic_info.installation_location }}</h3>
                    </div>
                    <div class="unfield">
                        <p>{{ $t('more_information.label.already_participated') }}</p>
                        <h3>{{ $store.state.apply.form_data.basic_info.already_participated }}</h3>
                    </div>
                </div>

                <div class="light-type review-type rev">
                  <div class="current-sec">
                    <div class="types pull-left">
                      <h3>{{ $t('taipower_account.heading') }}</h3>
                    </div>
                    <div class="typer-current review-flow pull-right" v-show="($store.state.apply.form_data.basic_info.status == 'draft')">
                      <span style="cursor: pointer;" @click="clickEditInfo" data_info_type="/apply/taipower-account">{{ $t('edit') }} <img src="~/assets/img/pencil.png" ></span>
                    </div>
                  </div>

                  <!-- <div class="validation_error_message" v-if="(!$store.state.apply.form_data.basic_info.taipower_primary_account)"  style="cursor: pointer;" @click="clickEditInfo" data_info_type="/apply/taipower-account" >
                    <img src="~/assets/img/warning.png" >{{ $t('review.errors.container') }}
                  </div>
                  <hr/> -->

                  <div class="validation_error_message" v-if="(!$store.state.apply.form_data.basic_info.taipower_primary_account)"  style="cursor: pointer;" @click="clickEditInfo" data_info_type="/apply/taipower-account">
                    <img src="~/assets/img/warning.png" >{{ $t('review.errors.taipower_primary_account') }}
                  </div>

                  <div class="unfield">
                    <span class="notification">
                      <p>
                        {{ $t('taipower_account.label.primary_account_heading') }}
                      </p>
                      <h3>{{ $store.state.apply.form_data.basic_info.taipower_primary_account }}</h3>
                    </span>
                  </div>

                  <div class="unfield" v-for="(secondary_account,key) in $store.state.apply.form_data.basic_info.taipower_secondary_accounts">
                    <span class="notification" >
                      <p>{{ $t('taipower_account.label.secondary_account_heading') }}</p>
                      <h3>{{ secondary_account.value }}</h3>
                    </span>
                  </div>

                  

                  <div class="type-1 accord-right document-row">
                    <div class="validation_error_message" v-if="(!most_recent_logo)"  style="cursor: pointer;" @click="clickEditInfo" data_info_type="/apply/taipower-account">
                      <img src="~/assets/img/warning.png" >{{ $t('review.errors.taipower_account_doc') }}
                    </div>
                    <div class="types pull-left">
                      <p>
                        <img src="~/assets/img/check-mark.png" v-if="(most_recent_logo)">
                        <img src="~/assets/img/iconmonstr-x-mark-5-240.png" v-else>
                        {{ $t('review.label.most_recent') }}
                      </p>
                      <a class="accordion"  @click="clickViewFiles"><span class="image-icons"><img src="~/assets/img/arrow.png" style="width: 27px;"><img class="onclick-show" src="~/assets/img/arrow-down.png"></span></a>

                      <div class="panel">
                        <div class="type-1" v-for="(item, index) in $store.state.apply.form_data.basic_info.taipower_bills_images">
                          <div class="typer pull-left">
                           <img class="card-img-top thumbnail-vll" :src="item.path" :alt="item.name">
                          </div>
                          <div class="ellipsis">
                            {{ item.name }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="light-type review-type rev">
                  <div class="current-sec">
                    <div class="types pull-left">
                      <h3>{{ $t('documents.heading') }}</h3>
                    </div>
                    <div class="typer-current review-flow pull-right" v-show="($store.state.apply.form_data.basic_info.status == 'draft')">
                      <span style="cursor: pointer;" @click="clickEditInfo" data_info_type="/apply/documents">{{ $t('edit') }} <img src="~/assets/img/pencil.png" ></span>
                    </div>
                    </div>
                  <div class="type-1 accord-right document-row">

                    <div class="validation_error_message" v-if="(!business_license_logo)"  style="cursor: pointer;" @click="clickEditInfo" data_info_type="/apply/documents">
                      <img src="~/assets/img/warning.png" > {{ $t('review.errors.business_license') }}
                    </div>

                    <div class="types pull-left">
                      <p class="no-review">                      
                        <img src="~/assets/img/check-mark.png" v-if="(business_license_logo)">
                        <img src="~/assets/img/iconmonstr-x-mark-5-240.png" v-else>

                        {{ $t('documents.label.business_license') }}
                      </p>
                      <a class="accordion"  @click="clickViewFiles"><span class="image-icons"><img src="~/assets/img/arrow.png" style="width: 27px;"><img class="onclick-show" src="~/assets/img/arrow-down.png"></span></a>

                      <div class="panel">
                        <div class="type-1" v-for="(item, index) in $store.state.apply.form_data.basic_info.license_images">
                          <div class="typer pull-left">
                           <img class="card-img-top thumbnail-vll" :src="item.path" :alt="item.name">
                          </div>
                          <div class="ellipsis">
                            {{ item.name }}
                          </div>
                        </div>
                      </div>
                    </div>                    
                  </div>

                </div>


                <div class="light-type review-type rev" v-show="(this.$store.state.apply.form_data.basic_info.installation_location == $t('option.yes'))">
                  <div class="current-sec">
                    <div class="types pull-left">
                      <h3>{{ $t('rental.heading') }}</h3>
                    </div>
                    <div class="typer-current review-flow pull-right" v-show="($store.state.apply.form_data.basic_info.status == 'draft')">
                      <span style="cursor: pointer;" @click="clickEditInfo" data_info_type="/apply/rental">{{ $t('edit') }} <img src="~/assets/img/pencil.png" ></span>
                    </div>
                  </div>
                  
                  <div class="type-1 accord-right document-row">

                    <div class="validation_error_message" v-if="(!rental_logo)"  style="cursor: pointer;" @click="clickEditInfo" data_info_type="/apply/rental">
                      <img src="~/assets/img/warning.png" > {{ $t('review.errors.rental_logo') }}
                    </div>

                    <div class="types pull-left">
                      <p>
                        <img src="~/assets/img/check-mark.png" v-if="(rental_logo)">
                        <img src="~/assets/img/iconmonstr-x-mark-5-240.png" v-else>
                        {{ $t('review.label.rental_agreement') }}
                      </p>
                      <a class="accordion"  @click="clickViewFiles"><span class="image-icons"><img src="~/assets/img/arrow.png" style="width: 27px;"><img class="onclick-show" src="~/assets/img/arrow-down.png"></span></a>

                      <div class="panel">
                        <div class="type-1" v-for="(item, index) in $store.state.apply.form_data.basic_info.rental_agreement_images">
                          <div class="typer pull-left">
                           <img class="card-img-top thumbnail-vll" :src="item.path" :alt="item.name">
                          </div>
                          <div class="ellipsis">
                            {{ item.name }}
                          </div>
                        </div>
                      </div>

                    </div>                    
                  </div>

                  <div class="type-1 accord-right document-row">
                    <div class="types pull-left">
                      <p>
                        <img src="~/assets/img/check-mark.png" v-if="(rental_auth_completed)">
                        <img src="~/assets/img/iconmonstr-x-mark-5-240.png" v-else>
                        {{ $t('review.label.rental_auth') }}
                      </p>
                      <a class="accordion"  @click="clickViewFiles"><span class="image-icons"><img src="~/assets/img/arrow.png" style="width: 27px;"><img class="onclick-show" src="~/assets/img/arrow-down.png"></span></a>

                      <div class="panel">
                        <div class="type-1" v-for="(item, index) in $store.state.apply.form_data.basic_info.auth_completed_images">
                          <div class="typer pull-left">
                           <img class="card-img-top thumbnail-vll" :src="item.path" :alt="item.name">
                          </div>
                          <div class="ellipsis">
                            {{ item.name }}
                          </div>
                        </div>
                      </div>

                    </div>                    
                  </div>
                </div>

                <div class="light-type review-type rev">
                  <div class="current-sec">
                    <div class="types pull-left">
                      <h3>{{ $t('electrical_panel.heading') }}</h3>
                    </div>
                    <div class="typer-current review-flow pull-right" v-show="($store.state.apply.form_data.basic_info.status == 'draft')">
                      <span style="cursor: pointer;" @click="clickEditInfo" data_info_type="/apply/electrical-panel">{{ $t('edit') }} <img src="~/assets/img/pencil.png" ></span>
                    </div>
                  </div>

                  <div class="validation_error_message" v-if="(!$store.state.apply.form_data.basic_info.electrical_panel_quantity)" style="cursor: pointer;" @click="clickEditInfo" data_info_type="/apply/electrical-panel">
                    <img src="~/assets/img/warning.png" >{{ $t('review.errors.electrical_panel_quantity') }}
                  </div>

                  <div class="unfield" style="border-bottom: 1px solid rgba(0, 0, 0, 0.15);">
                    <span class="notification">
                      <p>{{ $t('review.label.electrical_panel_quantity') }}</p>
                      <h3>{{ $store.state.apply.form_data.basic_info.electrical_panel_quantity }}</h3>
                    </span>
                  </div>

                  <div class="unfield" v-if="(this.$store.state.apply.form_data.basic_info.electrical_panel_distance)" style="border-bottom: 1px solid rgba(0, 0, 0, 0.15);">

                    <div class="validation_error_message" v-if="(!$store.state.apply.form_data.basic_info.electrical_panel_distance)" style="cursor: pointer;" @click="clickEditInfo" data_info_type="/apply/electrical-panel">
                      <img src="~/assets/img/warning.png" >{{ $t('review.errors.electrical_panel_distance') }}
                    </div>

                    <span class="notification">
                      <p>{{ $t('review.label.electrical_panel_distance') }}</p>
                      <h3>{{ $store.state.apply.form_data.basic_info.electrical_panel_distance }}</h3>
                    </span>
                  </div>

                  <div class="type-1 accord-right document-row">
                    <div class="validation_error_message" v-if="(!interior_logo)" style="cursor: pointer;" @click="clickEditInfo" data_info_type="/apply/electrical-panel">
                      <img src="~/assets/img/warning.png" >{{ $t('review.errors.interior_logo') }}
                    </div>

                    <div class="types pull-left">
                      <p>
                        <img src="~/assets/img/check-mark.png" v-if="(interior_logo)">
                        <img src="~/assets/img/iconmonstr-x-mark-5-240.png" v-else>
                        {{ $t('review.label.interior') }}
                      </p>
                      <a class="accordion"  @click="clickViewFiles"><span class="image-icons"><img src="~/assets/img/arrow.png" style="width: 27px;"><img class="onclick-show" src="~/assets/img/arrow-down.png"></span></a>

                      <div class="panel">
                        <div class="type-1" v-for="(item, index) in $store.state.apply.form_data.basic_info.interior">
                          <div class="typer pull-left">
                           <img class="card-img-top thumbnail-vll" :src="item.path" :alt="item.name">
                          </div>
                          <div class="ellipsis">
                            {{ item.name }}
                          </div>
                        </div>
                      </div>

                    </div>
                    
                  </div>

                  <div class="type-1 accord-right document-row">

                    <div class="validation_error_message" v-if="(!exterior_logo)" style="cursor: pointer;" @click="clickEditInfo" data_info_type="/apply/electrical-panel">
                      <img src="~/assets/img/warning.png" >{{ $t('review.errors.exterior_logo') }}
                    </div>

                    <div class="types pull-left">
                      <p>
                        <img src="~/assets/img/check-mark.png" v-if="(exterior_logo)">
                        <img src="~/assets/img/iconmonstr-x-mark-5-240.png" v-else>
                        {{ $t('review.label.exterior') }}
                      </p>

                      <a class="accordion"  @click="clickViewFiles"><span class="image-icons"><img src="~/assets/img/arrow.png" style="width: 27px;"><img class="onclick-show" src="~/assets/img/arrow-down.png"></span></a>

                      <div class="panel">
                        <div class="type-1" v-for="(item, index) in $store.state.apply.form_data.basic_info.exterior">
                          <div class="typer pull-left">
                           <img class="card-img-top thumbnail-vll" :src="item.path" :alt="item.name">
                          </div>
                          <div class="ellipsis">
                            {{ item.name }}
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                  
                 <div class="light-type review-type rev">
                  <div class="current-sec">
                    <div class="types pull-left">
                      <h3>{{ $t('review.label.lighting') }}</h3>
                    </div>
                    <div class="typer-current review-flow pull-right" v-show="($store.state.apply.form_data.basic_info.status == 'draft')">
                      <span style="cursor: pointer;" @click="clickEditInfo" data_info_type="/apply/current-lighting-list">{{ $t('edit') }} <img src="~/assets/img/pencil.png" ></span>
                    </div>
                    </div>
                    <div class="unfield">
                        <span class="notification"><p>{{ $t('review.label.no_of_types') }}</p>
                        <h3>{{ no_of_types }}</h3>
                    </span>
                    </div>
                    <div class="unfield">
                        <p>{{ $t('review.label.total_count') }}</p>
                        <h3>{{ total_count }}</h3>
                    </div>
                    <div class="unfield">
                        <p>{{ $t('review.label.photos_included') }}</p>
                        <h3>{{ photos_included }}</h3>
                    </div>
                </div>

                <div class="light-type review-type rev">
                  <div class="current-sec">
                    <div class="types pull-left">
                      <h3>{{ $t('video_walkthrough.heading') }}</h3>
                    </div>
                    <div class="typer-current review-flow pull-right" v-show="($store.state.apply.form_data.basic_info.status == 'draft')">
                      <span style="cursor: pointer;" @click="clickEditInfo" data_info_type="/apply/video-walkthrough">{{ $t('edit') }} <img src="~/assets/img/pencil.png" ></span>
                    </div>
                  </div>
                  <div class="type-1 accord-right document-row">

                    <div class="validation_error_message" v-if="(!video)" style="cursor: pointer;" @click="clickEditInfo" data_info_type="/apply/video-walkthrough">
                      <img src="~/assets/img/warning.png" >{{ $t('review.errors.video') }}
                    </div>

                    <div class="types pull-left">
                      <p>
                        <img src="~/assets/img/check-mark.png" v-if="(video)">
                        <img src="~/assets/img/iconmonstr-x-mark-5-240.png" v-else>
                        {{ $t('review.label.video') }}
                      </p>

                       <a class="accordion"  @click="clickViewFiles"><span class="image-icons"><img src="~/assets/img/arrow.png" style="width: 27px;"><img class="onclick-show" src="~/assets/img/arrow-down.png"></span></a>

                      <div class="panel">
                        <div class="type-1">
                          <div class="vdo video_preview_wrapper " v-show="(video)">
                            <video width="100%" controls>
                              <source :src="this.$store.state.apply.form_data.basic_info.video.url" id="video_here">
                                Your browser does not support HTML5 video.
                            </video>
                          </div>
                        </div>
                      </div>

                    </div>                    
                  </div>
                </div>

                <div class="light-type review-type for-each rev">
                  <div class="current-sec">
                    <div class="types pull-left">
                      <h3>{{ $t('review.label.lighting_preferences') }}</h3>
                    </div>
                    <div class="typer-current review-flow pull-right" v-show="($store.state.apply.form_data.basic_info.status == 'draft')">
                      <span style="cursor: pointer;" @click="clickEditInfo" data_info_type="/apply/current-lighting-color">{{ $t('edit') }} <img src="~/assets/img/pencil.png" ></span>
                    </div>
                  </div>
                  <div class="unfield">
                    <p>{{ $t('lighting_color.label.lighting_color') }}</p>
                    <h3>{{ $store.state.apply.form_data.basic_info.lighting_color }}</h3>
                  </div>
                </div>

              
            </div>
        </div>

        <div class="col-md-12" >
          <div v-if="loading">
            {{ $t('loading') }}
          </div>

          <div class="btn-show login-for">

            <a href="javascript:void(0);" @click="clickAllvalidationError" class="btn btn-primary btn-border-white" v-if="(disable_button_validation)">{{ $t('button.submit') }}</a>

            <button type="submit" class="btn btn-primary" v-if="( (!disable_button_validation) && ($store.state.apply.form_data.basic_info.status == 'draft'))">{{ $t('button.submit') }}</button>

            
            <!--<button type="submit" class="btn btn-primary" v-else="($store.state.apply.form_data.basic_info.status == 'draft')">{{ $t('button.submit') }}</button>

             <b-link  to="/" v-show="($store.state.apply.form_data.basic_info.status !== 'draft')">{{ $t('button.back') }}</b-link> -->
          </div>
          <!-- <div class="btn-show login-for" v-if="!loading" v-show="($store.state.apply.form_data.basic_info.status != 'draft')">

            <b-link  to="/">{{ $t('button.back') }}</b-link>
          </div> -->
        </div>
      </form>
    <locales/>
  </div>
</template>

<script>
import locales from '~/components/locales';
import helpModal from '~/components/application-help-modal';
import redirectForRequiredFields from '~/middleware/redirectForRequiredFields';

export default {
  layout: 'application',
  head() {
    return { title: this.$t('review.title') }
  },
  middleware: ['redirectForRequiredFields'],
  components:{ locales,helpModal },
  data () {
    return {
      loading:false,
      no_of_types: 0,
      total_count:0,
      photos_included:this.$t('no'),
      video:"",

      business_license_logo:this.$store.state.apply.form_data.basic_info.license_images.length,
      most_recent_logo:this.$store.state.apply.form_data.basic_info.taipower_bills_images.length,
      rental_logo:this.$store.state.apply.form_data.basic_info.rental_agreement_images.length,
      rental_auth_completed:this.$store.state.apply.form_data.basic_info.auth_completed_images.length,

      interior_logo:this.$store.state.apply.form_data.basic_info.interior.length,
      exterior_logo:this.$store.state.apply.form_data.basic_info.exterior.length,
      disable_button_validation:true,
    }
  },
  mounted(){
    /*if (store.state.form_data.basic_info.tax_id === null) {
      //return redirect('/apply/basic-information')
      this.$router.push('/apply/basic-information')
    }*/

    let self=this;
    
    var state_count=0;
    var light_images_counter=this.$t('no');

    this.video=this.$store.state.apply.form_data.basic_info.video.url;
    console.log(this.video);


    Object.values(this.$store.state.apply.form_data.basic_info.lights).forEach(function(lightType) {
      state_count =  (parseInt(state_count) + parseInt(lightType.counter))
      light_images_counter = (lightType.images.length > 0 ) ? self.$t('yes') :self.$t('no')
    });

    this.no_of_types=Object.keys(this.$store.state.apply.form_data.basic_info.lights).length
    this.total_count=state_count
    this.photos_included=light_images_counter

    this.$store.commit('apply/redirect_toggle', {
      "value":false
    })

    // Submit btn validation logic
    this.disable_button_validation=((!this.$store.state.apply.form_data.basic_info.taipower_primary_account) || (!this.business_license_logo) || (!this.most_recent_logo) || (this.$store.state.apply.form_data.basic_info.installation_location == this.$t('option.yes')) && (!this.rental_logo) || (!this.$store.state.apply.form_data.basic_info.electrical_panel_quantity) || (!this.interior_logo) || (!this.exterior_logo) || (!this.video)) ;

  },
  methods: {    
    clickAllvalidationError(e) {
      alert(this.$t('review.errors.container'));
    },
    clickViewFiles(e) {
      e.currentTarget.classList.toggle("active");
      var panel = e.currentTarget.nextElementSibling;
      if (panel.style.maxHeight){
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      }
    },
    clickEditInfo(e) {
      const redirect_url=e.currentTarget.getAttribute('data_info_type')

      this.$store.commit('apply/redirect_toggle', {
        "value":true
      })
      this.$router.push(redirect_url)
    },
    validateBeforeSubmit() {
      this.$validator.validateAll().then((result) => {
        let self = this;

        const timestamp = new Date().getTime();

        this.$store.commit('apply/toggle_status', {
          "value":"submit_for_review"
        })

        if (result) {

          var data={'user_id':this.$store.state.apply.form_data.basic_info.user_id,'status':this.$store.state.apply.form_data.basic_info.status};

          self.loading = true;

          this.$axios({
            method: 'post',
            url: '/application-status-change',
            data: JSON.stringify(data),
          })
          .then(function (response) {

            if(response.data.status){

              self.loading = false;

              //Sending email
              var content=self.$t('emails.application_submitted.content');

              content=content.replace("[login]", "<a href='"+process.env.app_url+"'>"+self.$t('emails.application_submitted.login_link_text')+"</a>");
              content=content.replace("[phone]", self.$store.state.apply.form_data.basic_info.main_phone);
              content=content.replace("[email]", self.$store.state.apply.form_data.basic_info.email);

              self.$axios({
                method: 'post',
                url:'/email/send',
                data: JSON.stringify({"subject":self.$t('emails.application_submitted.subject'),"email":self.$store.state.apply.form_data.basic_info.email,"content":content}),
              });

              //self.$store.commit('apply/clear_state_data')
              self.$store.commit('apply/set_notification_data', response.data.data)
              self.$router.push('/apply/submitted')
            }         
          })
          .catch(function (response) {
            self.loading = false;

            self.$store.commit('apply/toggle_status', {
              "value":"draft"
            })

            alert(self.$t('unknown_error'));
          });
          
        } 

      });
    }
  }
}
</script>

