<template>
  <div>
    <div class="welcome login-main">
       <h2>{{ $t('submitted.heading') }}</h2>
       <helpModal />
    </div>   
    
    <div class="login-form">
      <div class="col-md-12 mx-auto">

            <!-- form card login -->
            <div class="light-type submit-kid">
              <div class="current-sec">
                <div class="types pull-left">
                  <h3>{{ $t('submitted.label.application_infomation') }}</h3>
                </div>
                
                </div>
              <div class="unfield purp">
                <p>{{ $t('submitted.label.status') }}</p>
                <h3>{{ $t('applications_status.submit_for_review') }}</h3>
              </div>

              <div class="unfield">
                <p>{{ $t('submitted.heading') }}</p>
                <span class="submit-you">{{ date_time }}</span>
              </div>
            </div>

            <div class="content-row">
              <p v-html="$t('submitted.label.paragraph')"></p>
            </div>

            <!-- <div>{{ methods }}</div> -->

            <div class="light-type submit-kid">
              <div class="current-sec">
                <div class="types pull-left">
                  <h3>{{ $t('button.notification_preferences') }}</h3>
                </div>  
              </div>

              <div class="unfield" v-for="(typeObject,index) in methods">
                <p>{{ $t('notification_preferences_type.'+typeObject.type) }}</p>
                <span class="submit-you">{{ typeObject.value }}</span>
                <div class="typer-current pull-right" @click="remove" style="cursor:pointer;" :data_delete_key="index">
                    <img src="~/assets/img/delete.png" width="14px">
                  </div>
              </div>

              
              <div class="add-method" @click="addNewMethod" v-show="add_new_method_button"><img class="perfect-style" src="~assets/img/plus-black.png"> {{ $t('button.add_new_method') }}</div>

              <form @submit.prevent="validateBeforeSubmit" v-show="add_new_method_form">
                <div class="login-form-rename border-top-line">
                      <div class=" mx-auto">
                        <div class="card-rename rounded-0-rename">
                            <div class="card-body">
                                <div class="form-group">
                                   <label for="uname1">{{ $t('button.type') }}</label>
                                      <select v-validate="'required'" name="type" id="type"  :class="{'input': true, 'is-danger': errors.has('type') }" v-model="type">
                                        <option></option>
                                        <option v-for="type in Object.keys($t('notification_preferences_type'))" :value="type">               
                                           {{ $t('notification_preferences_type.'+type) }}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                   <label for="uname1">{{ $t('button.value') }}</label>
                                    <input type="text" 
                                    v-model="value" v-validate="'required'" :class="{'form-control form-control-lg input': true, 'is-danger': errors.has('value') }" name="value" id="value">
                                </div>                                    
                            </div>
                        </div>

                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="btn-show login-for">
                      <button type="submit" class="btn btn-outline-gray add-type btn-primary">{{ $t('button.save') }}</button>
                      <button @click="cancelNewMethod" class="btn btn-method-cancel" >{{ $t('cancel') }}</button>
                    </div>
                  </div>
              </form>
            </div>

            
            
            <!-- <div class="btn-show login-for">
              <a href="#"><button type="button" class="btn submitted-btn-flow btn-primary">{{ $t('button.view_guide') }}</button></a>
            </div> -->

          <div class="option">
            <div class="more">
              <p class="slower">{{ $t('button.more_options') }}</p>
            </div>
            <div class="more">
              <p v-html="$t('button.learn_more')"></p>
            </div>
            <div class="more">
              <p v-html="$t('button.contact_DOMI')"></p>
            </div>
          </div>
        </div>
  </div>
    <locales/>
  </div>
</template>

<script>
import locales from '~/components/locales';
import helpModal from '~/components/application-help-modal';

//import i18n from '~/plugins/i18n';

export default {
  layout: 'application',
  head() {
    return { title: this.$t('submitted.title') }
  },
  components:{ locales,helpModal },

  data () {
    return {
      date_time: "",
      type:"",
      value:"",
      add_new_method_button:true,
      add_new_method_form:false,
      methods:[],
    }
  },
  mounted(){
    let today=new Date(this.$store.state.apply.notification_data.updatedAt)
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();
    var hours = today.getHours();
    var minutes = today.getMinutes();

    if (dd < 10) {
      dd = '0' + dd;
    }

    if (mm < 10) {
      mm = '0' + mm;
    }
    this.date_time=yyyy+'-'+mm +'-'+dd+' '+hours+':'+minutes+' TST'
  },
  methods: {
    addNewMethod(e){
      this.add_new_method_button=false
      this.add_new_method_form=true
      this.type=""
      this.value=""   
    },
    cancelNewMethod(e){
      this.add_new_method_button=true
      this.add_new_method_form=false
    },
    remove(e){
      var r = confirm(this.$t("current_lighting_add.conform_box.heading"))
      
      if (r == true) {
        this.data_delete_key=e.currentTarget.getAttribute('data_delete_key')
        this.methods.splice(this.data_delete_key,1);

        this.save_notification_data();
      }
    },
    save_notification_data(){
      var data={'user_id':this.$store.state.apply.form_data.basic_info.user_id,'notifications_data':this.methods};
      //var data={'user_id':"07996d70-81b5-11e9-a6c1-298564084f9a",'notifications_data':this.methods};
         
      let self = this;

      this.$axios({
        method: 'post',
        url: '/application-notify-updated',
        data: JSON.stringify(data),
      })
      .then(function (response) {
        if(response.data.status){
          //self.$router.push('/dashboards/coordinator/application-submitted')
        }
      })
      .catch(function (response) {
        alert(self.$t('unknown_error'));          
      });
    },
    
    validateBeforeSubmit() {
      this.$validator.validateAll().then((result) => {
        if (result) {

          this.add_new_method_button=true
          this.add_new_method_form=false

          this.methods.push({"type":this.type,"value":this.value});

          this.save_notification_data();
          
        }        
      });
    }
  }
}
</script>
