<template>
<div>
  <div class="welcome login-main">
     <h2>{{ $t('taipower_account.heading') }}</h2>
     <helpModal />
  </div>
  <form @submit.prevent="validateBeforeSubmit">
    <div class="col-md-12 mx-auto">
      <div class="login-form">

        <div class="recent-video-flow">
          <div class="vdo">
            <p>{{ $t('taipower_account.label.taipower_bills') }}</p>
          </div>

           <div v-show="taipower_bills_images_error" class="validation_error_message">
            {{ $t('taipower_account.validation_error.bill') }}
           </div>

          <div v-if="show_taipower_bills_uploader_button"  :class="{'take-camera':true,'is-label-danger': (taipower_bills_images_error) }" >
            <div @click="clickTaipowerBillsEvent" class="red-flag" id="clickTaipowerBillsEventTest">
              <img src="~/assets/img/camera-pink.png" v-if="(taipower_bills_images_error)">
              <img src="~/assets/img/camera.png" v-else>
              <span>{{ $t('button.take_photo') }}</span></div>
          </div>

          <div class="clearfix"></div>

          <no-ssr placeholder="Loading...">
            <div class="show_taipower_bills_uploader_class" id="vll_show_taipower_bills_uploader" :style="(this.$store.state.apply.form_data.basic_info.taipower_bills_images.length > 0) ? '':'display: none;'">
                <vue-upload-multiple-image
                  @upload-success="uploadImageSuccess_taipower_bills"
                  @before-remove="beforeRemovetaipower_bills_images"
                  @edit-image="editImage"
                  @data-change="dataChange"
                  :data-images="this.$store.state.apply.form_data.basic_info.taipower_bills_images"
                  idUpload="show_taipower_bills_uploader_id"
                  editUpload="show_taipower_bills_editor_id"
                  dragText=""
                  dropText=""
                  browseText=""
                  primaryText=""
                  markIsPrimaryText=""
                  popupText=""
                ></vue-upload-multiple-image>
            </div>
            
          </no-ssr>
        </div>

        <div class="card rounded-0">
            <div class="vdo">
              <p class="pull-left" v-if="(secondary_accounts.length < 1)">{{ $t('taipower_account.label.account_number_heading') }}</p>
              <p class="pull-left" v-else="">{{ $t('taipower_account.label.primary_account_heading') }}</p>
            </div>

            <div class="validation_error_message" v-show="(errors.has('account_number'))">
              {{ $t('taipower_account.validation_error.primary_account_message') }}
            </div>
            <div class="card-body">
              <div class="form-group">
                  <label for="account_number" :class="{'is-label-danger': errors.has('account_number') }">{{ $t('taipower_account.label.account_number') }}</label>
                  <input type="number" v-model="account_number" v-validate="'required|numeric|digits:11'" :class="{'form-control form-control-lg rounded-0-rename input': true, 'is-danger': errors.has('account_number') }" name="account_number" id="account_number" pattern="\d*">
              </div> 
            </div>
        </div>

        <div class="card rounded-0" v-for="(secondary_account,key) in secondary_accounts">
            <div class="vdo">
              <p class="pull-left">{{ $t('taipower_account.label.secondary_account_heading') }}</p>
              <div class="pull-right delete-btn-icon" @click="remove" style="cursor:pointer; background: #eee;padding: 10px 19px;" :data_delete_key="key">
                <img src="~/assets/img/delete.png" width="15px;" >
              </div>
            </div>
            <div class="validation_error_message" v-if="(errors.has('secondary_account_'+key))">
              {{ $t('taipower_account.validation_error.primary_account_message') }}
            </div>            
            <div class="card-body">
              <div class="form-group">
                  <label>{{ $t('taipower_account.label.account_number') }}</label>

                  <!-- <input type="number"  v-model="secondary_account.value" v-validate="'numeric|digits:11'" :class="{'form-control form-control-lg rounded-0-rename input': true, 'is-danger': errors.has('key') }" pattern="\d*"> -->

                  <input type="number"  v-model="secondary_account.value" v-validate="'required|numeric|digits:11'" :class="{'form-control form-control-lg rounded-0-rename input': true, 'is-danger': errors.has('secondary_account_'+key) }" :name="'secondary_account_'+key" pattern="\d*">
              </div> 
            </div>
        </div>
    </div>
  </div>

    <div class="col-md-12">
      <div class="btn-show login-for">
          
          <a @click="clickAddAccountEvent" v-show="(secondary_accounts.length < 4)" class="btn btn-border-white btn-primary"><img class="perfect-style" src="~assets/img/plus.png"> {{ $t('button.add_account') }}</a>

          <button class="btn btn-primary skip_button" @click="clickSkipButtonEvent" v-if="(taipower_bills_images_error || errors.has('account_number'))">{{ $t('button.skip') }}</button>

          <button type="submit" :class="{'btn btn-border-white btn-primary': true,'validation_success': !(taipower_bills_images_error || errors.has('account_number') ) }" v-else="">{{ button_label }}</button>
          <b-link to="/apply/more-information">{{ $t('button.back') }}</b-link>
      </div>
    </div>
    
  </form>
  <locales />

</div>
</template>
<style scoped>

</style>

<script>
import busyOverlay from '~/components/busy-overlay'
import locales from '~/components/locales'
import helpModal from '~/components/application-help-modal';

let VueUploadMultipleImage
if (process.client) {
  VueUploadMultipleImage = require('vue-upload-multiple-image').default
}

import axios from "axios"

export default {
  layout:'application',
  components: { busyOverlay ,locales, helpModal,VueUploadMultipleImage},
  head() {
    return { title: this.$t('taipower_account.title') }
  },
  data () {
    return {
      account_number: "",

      taipower_bills_images_error:false,
      show_taipower_bills_uploader_button:true,
      formOkay:false,
      secondary_accounts:[],
      button_label:this.$t('button.next'),
    }
  },
  mounted(){
    if(this.$store.state.apply.form_data.basic_info.taipower_bills_images.length > 0){
      this.show_taipower_bills_uploader_button=false  
    }
    if(this.$store.state.apply.form_data.basic_info.taipower_primary_account){
      this.account_number=this.$store.state.apply.form_data.basic_info.taipower_primary_account  
    }
    if(this.$store.state.apply.form_data.basic_info.taipower_secondary_accounts.length > 0){
      this.secondary_accounts=this.$store.state.apply.form_data.basic_info.taipower_secondary_accounts
    }
    if(this.$store.state.apply.form_data.redirect_review){
      this.button_label=this.$t('button.back_to_review');  
    }
  },
  methods: {
    remove(e){
      var r = confirm(this.$t("conform_box.heading"))
      
      if (r == true) {
        this.secondary_accounts.splice(e.currentTarget.getAttribute('data_delete_key'), 1)
        this.$forceUpdate();
      }
    },
    clickAddAccountEvent(){
      this.secondary_accounts.push({ value: '' });           
    },
    clickSkipButtonEvent($e){
      if(this.account_number){
        this.$store.commit('apply/add_account_info', {
            "taipower_primary_account":this.account_number
        })
      }  
      if(this.$store.state.apply.form_data.redirect_review){
        this.$router.push('/apply/review')
      }else{
        this.$router.push('/apply/documents')
      }
    },
    clickTaipowerBillsEvent($event) {
      this.show_taipower_bills_uploader_button=false
      $("#vll_show_taipower_bills_uploader").show()
      $("#show_taipower_bills_uploader_id").trigger('click')      
    },
    uploadImageSuccess_taipower_bills(formData, index, fileList) {
      this.$store.commit('apply/add_taipower_bill_upload', {
        "images":fileList
      })
      this.taipower_bills_images_error=false
    },
    beforeRemovetaipower_bills_images (index, done, fileList) {

      var r = confirm(this.$t('conform_box.heading'))
      if (r == true) {

        this.$store.commit('apply/add_taipower_bill_upload', {
          "images":fileList
        })
        
        if(this.$store.state.apply.form_data.basic_info.taipower_bills_images.length < 2){
          this.show_taipower_bills_uploader_button=true;
        }
        done()
      } else {
      }
    },
    editImage (formData, index, fileList) {
      console.log('edit data', formData, index, fileList)
    },
    dataChange (data) {
      console.log(data)
    },
    validateBeforeSubmit() {
      this.$validator.validateAll().then((result) => {
        this.formOkay=false

        if(this.$store.state.apply.form_data.basic_info.taipower_bills_images.length == 0){
          this.taipower_bills_images_error=true
          this.formOkay=false
        }else{
          this.taipower_bills_images_error=false
          this.formOkay=true
        }

        if(result && (this.formOkay)) {

          this.$store.commit('apply/add_account_info', {
              "taipower_primary_account":this.account_number
          })
          this.$store.commit('apply/add_taipower_secondary_accounts', {
              "taipower_secondary_accounts":this.secondary_accounts
          })

          this.handleSaveDraft();
          
          if(this.$store.state.apply.form_data.redirect_review){
            this.$router.push('/apply/review')
          }else{
            this.$router.push('/apply/documents')
          }
        }
      });
    },
    handleSaveDraft(){
      this.$store.commit('apply/toggle_status', {
        "value":"draft"
      })
      let self = this;

      this.$axios({
        method: 'post',
        url: '/users',
        data: JSON.stringify(this.$store.state.apply.form_data.basic_info),
      })
      .then(function (response) {
        if(response.data.status){
          self.$store.commit('apply/set_application_data', response.data.data);
        }
        
      })
    }
  }
}
</script>
