<template>
<div>
    <div class="welcome login-main">
      <h2>{{ $t('video_walkthrough.heading') }}</h2>
      <helpModal />
      </div>
    <form @submit.prevent="validateBeforeSubmit">
      <div class="login-form">
          <div class="col-md-12 mx-auto">

                <!-- form card login -->
                <div class="content video-content">
                  <p v-html="$t('video_walkthrough.paragraph')"></p>
                </div>
                 <div class="recent-video-flow ">
                      <div class="vdo">
                        <p>{{ $t('video_walkthrough.heading') }}</p>
                      </div>
                      <div v-show="((file_error) && (!video_preview))" class="validation_error_message">
                        {{ $t('video_walkthrough.validation_error.video') }}
                      </div>

                      <div v-if="show_license_uploader_button" :class="{'take-camera':true,'is-label-danger': (file_error) }"><div class="red-flag" @click="clickLicenseEvent" >

                        <img src="~/assets/img/camera-pink.png" v-if="(file_error)">
                        <img src="~/assets/img/camera.png" v-else>

                        <span>{{ $t('button.record') }}</span></div>
                      </div>

                       <div class="clearfix"></div>

                        <div v-show="show_license_uploader" class="show_license_uploader_class">
                          <input type="file" id="file" ref="file" v-on:change="handleFileUpload()" class="p-2"  accept="video/*"/>
                        </div>

                        <div class="vdo video_preview_wrapper " v-show="video_preview">
                          <video width="100%" controls>
                            <source :src="this.$store.state.apply.form_data.basic_info.video.url" id="video_here">
                              Your browser does not support HTML5 video.
                          </video>
                        </div>

                  </div>
                <div class="video-tag" v-if="($t('video_walkthrough.video_url'))">
                  <div class="video">
                    <iframe width="420" height="345" :src="$t('video_walkthrough.video_url')"></iframe>
                  </div>
                </div>
                <!-- /form card login -->

            </div>
      </div>
      <div class="col-md-12">
        <div class="btn-show big-call login-for">
          <button class="btn btn-primary skip_button" @click="clickSkipButtonEvent" v-if="((file_error) && (!video_preview))">{{ $t('button.skip') }}</button>

          <button type="submit" :class="{'btn btn-border-white btn-primary': true,'validation_success': (video_preview) }" v-else="">{{ button_label }}</button>

          <b-link to="/apply/current-lighting-list">{{ $t('button.back') }}</b-link>
        </div>
      </div>
  </form>
  <locales />

</div>
</template>


<style scoped>

</style>

<script>
import axios from "axios"

import busyOverlay from '~/components/busy-overlay'
import locales from '~/components/locales'
import helpModal from '~/components/application-help-modal';

import { mapMutations } from 'vuex'

let VueUploadMultipleImage
if (process.client) {
  VueUploadMultipleImage = require('vue-upload-multiple-image').default
}

export default {
  layout:'application',
  components: { busyOverlay ,locales,VueUploadMultipleImage, helpModal},
  head() {
    return { title: this.$t('video_walkthrough.title') }
  },
  data: () => ({
    file: "",
    
    show_license_uploader:false,
    show_license_uploader_button:true,
    video_preview:false,
    video_buffer_data:'',
    video:[],
    file_error:false,
    //errors:[],
    button_label:'',
  }),
  mounted(){
    this.button_label=this.$t('button.next')

    if((this.$store.state.apply.form_data.basic_info.video.url).trim()){
      this.show_license_uploader=true,
      this.show_license_uploader_button=false
      this.video_preview=true
    }else{
      this.show_license_uploader=false,
      this.show_license_uploader_button=true
    }

    if(this.$store.state.apply.form_data.redirect_review){
      this.button_label=this.$t('button.back_to_review');  
    }
  },
  methods: {
    clickSkipButtonEvent($e){
      if(this.$store.state.apply.form_data.redirect_review){
        this.$router.push('/apply/review');
      }else{
        this.$router.push('/apply/current-lighting-color');
      }
    },
    clickLicenseEvent($event) {
      this.show_license_uploader=true
      this.show_license_uploader_button=false
      $("#file").trigger('click')
    },
    /*
      Handles a change on the file upload
    */
    handleFileUpload(){
      this.file = this.$refs.file.files;
      this.file_error=false;
      
      let self=this

      var fileInput = document.getElementById('file');

      //commit Video url
      this.$store.commit('apply/add_video_url', {
        "url":URL.createObjectURL(fileInput.files[0])
      })

      var $source = $('#video_here');
      $source.parent()[0].load();
      this.video_preview=true

      var file = fileInput.files[0];
      
      var reader = new FileReader();
      reader.addEventListener('loadend', function(e){
        self.video_buffer_data=new Blob([reader.result], {type: file.type})
        self.video=file
      });
      reader.readAsArrayBuffer(file);

    },
    validateBeforeSubmit() {
      this.$validator.validateAll().then((result) => {

        if(this.$store.state.apply.form_data.basic_info.video.url){
          if(this.$store.state.apply.form_data.redirect_review){
            this.$router.push('/apply/review')
          }else{
            this.$router.push('/apply/current-lighting-color')
          }
        }

        if (result) {

          if(this.video_buffer_data){
            this.$store.commit('apply/add_video_buffer', {
              "buffer":this.video_buffer_data,
              "video":this.video,
            })

            this.handleSaveDraft();


            if(this.$store.state.apply.form_data.redirect_review){
              this.$router.push('/apply/review')
            }else{
              this.$router.push('/apply/current-lighting-color')
            }
          }else{
            this.file_error=true;
          }
        }        
      });
    },
    handleSaveDraft(){
      this.$store.commit('apply/toggle_status', {
        "value":"draft"
      })
      
      let self = this;
      const timestamp = new Date().getTime();

      if((this.$store.state.apply.form_data.basic_info.video.url) && (this.$store.state.apply.form_data.basic_info.video.video.name != 'undefined')){


        fetch(process.env.upload_signature+"requestUploadURL", {
          method: "POST",
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
             name: timestamp+'-'+this.$store.state.apply.form_data.basic_info.video.video.name,
              type: this.$store.state.apply.form_data.basic_info.video.video.type
          })
        }).then(response =>
          response.json()).then(response => {

            fetch(response.uploadURL, {
              method: "PUT",
              body: this.$store.state.apply.form_data.basic_info.video.buffer
            })
            .then(response =>
              response).then(response => {

                this.$store.commit('apply/add_video_url', {
                  "url":process.env.s3_bucket_url+timestamp+'-'+this.$store.state.apply.form_data.basic_info.video.video.name
                })

                this.$store.commit('apply/add_video_buffer', {
                  "buffer":"foo",
                  "video":"foo"
                })

                this.$axios({
                  method: 'post',
                  url: '/users',
                  data: JSON.stringify(this.$store.state.apply.form_data.basic_info),
                })
                .then(function (response) {
                  if(response.data.status){
                    self.$store.commit('apply/set_application_data', response.data.data);
                  }
                  
                })

          })
        })
      }

      
    }
  }
}
</script>
