<template>
  <div>
    <div class="welcome login-main for-head">
       <h2>{{ $t('welcome.heading') }}</h2>
       <p>{{ $t('welcome.paragraph_1') }}</p>
       <hr>
    </div>
    
    
    <div class="col-md-12">
      <div class="content">
         <p v-html="$t('welcome.paragraph_2')"></p>
      </div>
      <div class="btn-show">
        <b-link to="/apply/getting-started"><button class="btn btn-primary">{{ $t('button.apply_now') }}</button></b-link>
         <b-link  to="/login" class="already">{{ $t('button.already_started') }}</b-link>
      </div>
    </div>
    <locales/>
  </div>
</template>

<script>
import locales from '~/components/locales';

export default {
  layout: 'application',
  head() {
    return { title: this.$t('welcome.title') }
  },
  components:{ locales },
  mounted () {
    if((this.$route.query.referred_by) && (this.$route.query.partner) &&(!this.$store.state.apply.form_data.basic_info.referral) ){
      
      this.$store.commit('apply/add_referral', {
        "referral":this.$route.query.referred_by
      })
      this.$store.commit('apply/add_referral_partner', {
        "referral_partner":this.$route.query.partner
      })
    }

  },
}


</script>
